
:host ::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  .modal-dialog{
      margin: 0 !important;
  }
  .modal-content{
    border: 0px solid #eff9ff !important;
  }

  ::ng-deep .cdk-overlay-container {
    /* Do you changes here */
    position: fixed; 
    z-index: 9999 !important;
  }

  

  .poplist {
    text-align: left;
    margin-top: 13px;
   }

   .orderlist-popup {
    text-align: left;
    padding-left: 45px;
    line-height: 2;
   }
   .popup-headclose {
    padding: 0.5rem 1.5rem;
   }

   .popup-headclose {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
   }

   .popup-image {
    padding: 0px !important;
   }

   .gondie-title {
    color: #0097e6;
    font-size: 28px;
    font-family: var(--font-semibold);
    border: none;
    margin: 10px;
   }
   
.body-height{
    height: 700px !important;
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: #55aa55;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55aa55;
    border-radius: 10px;
  }
