<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
        </div>
        <div class="modal-body text-center   body-height">
            <div class="row">
                <div class="col-md-12 m-auto">

                    <div class="mb-4 text-center">
                        <span class="gl-title gondie-title ">Beta Tester = Gondi Tester</span>
                        <ul class="poplist"> Welcome and congratulations on accepting our invitation to Gondola Life! At
                            Gondola Life, we identify our “followers” as Gondis. So welcome to you, our newest Gondi!
                            Your experience is invaluable not just to us but to yourself in helping us solve a 100+ year
                            old problem: your lack of control over shopping for, applying for and maintaining the best
                            insurance for you!</ul>
                        <ul class="poplist">If you’ve ever been frustrated with your experience of the multi-trillion
                            dollar insurance industry, we know you’re gonna love Gondola Life even more! Because we
                            Gondis are coming together to face the Insurance Giants and make sure none of us ever have
                            the same frustrations again. Here’s how you can join our upstart disruptor family… </ul>
                        <ol class="orderlist-popup">
                            <li>
                                <b>PLAY with Gondola.life</b> – try quotes, try every feature, tell us what you love,
                                like, don’t like or hate (hopefully nothing to hate!) but we want to know!
                            </li>
                            <li>
                                <b>COMPARE to other insurance sites </b>– if you’ve bought from others or just looked,
                                what WAS your experience then and what’s different NOW with Gondola Life?
                            </li>
                            <li>
                                <b>APPLY for a policy – </b>even a small one that (I didn’t say it but….) you could
                                cancel if you didn’t want it (though when you see how easy we make it you may just
                                realize, “why not get it and keep it awhile?” And dare I say, bragging rights? Bragging
                                rights at our IPO party.
                            </li>
                            <li>
                                <b>TELL your family and friends –</b> the more Gondis the merrier. Geez, if we’re gonna
                                make a dent in the gigantic insurance world, we can’t be too big a GL family!
                            </li>
                        </ol>
                        <ul class="poplist"> How to report your findings…any/all of…</ul>
                        <ol class="orderlist-popup">
                            <li>Review GL on our Trust Pilot </li>
                            <li> Answer the Gondi Beta Questionnaire (short, easy, will make you feel part of history)
                            </li>
                            <li> Comment on our Blog </li>
                            <li> Schedule a 10-15 minute private call with either Gondi Co-Founder, CEO, Brian or COO
                                Kevin </li>
                            <li> Follow & LIKE Gondola Life on your socials & POST! </li>
                        </ol>
                        <ul class="poplist">Gondola Life Party </ul>
                        <ul class="poplist">As a Gondi Tester, when we have our official launch party, not to mention
                            IPO, you’ll be invited, no, you’ll be requested to join, at our expense. Picture an
                            exclusive, star-studded event in a posh Miami club in high season; or the hottest new venue
                            in NYC with celebs you’ve always wanted to meet. And you’re on the guest list. Now, let’s
                            get to work and make Gondola Life what we want it to be for Gondis everywhere. </ul>
                        <ul class="poplist">Sincerely, </ul>
                        <ul class="poplist">Brian & Kevin </ul>
                        <div class="popup-footer border-0 justify-content-center d-flex">
                            <div>
                                <button class="btn btn-success mw150" (click)="closeDialog()" >Okay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>