<ng-container *ngIf="pageName === 'register'">
    <!-- Top Nav -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-light shadow-sm fixed-top">
            <div class="container">
                <figure class="gl-logo">
                    <a class="navbar-brand" href="{{ gondolaService.appURL }}"><img alt=""
                            src="../../assets/images/gondola-life.png" alt="Gondola Life" /></a>
                </figure>
            </div>
        </nav>
    </header>
    <main class="container">

        <div class="mt-sm-3 mt-md-5 mt-lg-5 pt-sm-3 pt-md-5 pt-lg-5">


            <div class="gl-head">
                <span class="gl-title">Application</span>
            </div>

            <div class="gl-register">
                <div class="gl-register-step">
                    <div class="nav gl-register-nav">
                        <div (click)="pageView = 1" [ngClass]="{'active' : pageView >= 1}">
                            <label><i></i>Insured</label>
                        </div>
                        <div (click)="pageView = 2" [ngClass]="{'active' : pageView >= 2}">
                            <label><i></i>Insured Cont.</label>
                        </div>
                        <div (click)="pageView = 3" [ngClass]="{'active' : pageView >= 3}">
                            <label><i></i>Policy Information</label>
                        </div>
                        <div (click)="pageView = 4" [ngClass]="{'active' : pageView >= 4}">
                            <label><i></i>Beneficiaries</label>
                        </div>
                        <div (click)="pageView = 5" [ngClass]="{'active' : pageView >= 5}">
                            <label><i></i>Premium & Payer Information</label>
                        </div>
                        <div (click)="pageView = 6" [ngClass]="{'active' : pageView >= 6}">
                            <label><i></i>Third Part Designee</label>
                        </div>
                        <div (click)="pageView = 7" [ngClass]="{'active' : pageView >= 7}">
                            <label><i></i>Existing / Pending Insurance</label>
                        </div>
                        <div (click)="pageView = 8" [ngClass]="{'active' : pageView >= 8}">
                            <label><i></i>General Risk Information</label>
                        </div>
                        <div (click)="pageView = 9" [ngClass]="{'active' : pageView >= 9}">
                            <label><i></i>HIV</label>
                        </div>
                        <div (click)="pageView = 10" [ngClass]="{'active' : pageView >= 10}">
                            <label><i></i>Additional Information</label>
                        </div>
                    </div>
                </div>

                <div class="gl-register-form tab-content">

                    <!-- Step 1 -->
                    <ng-container *ngIf="pageView === 1">
                        <div id="stepInsured" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Insured</h4>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Insured Information</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">First Name</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">MI</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Last Name</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Suffix</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Sex</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Date of Birth</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Age</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Security Number</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <label class="form-label">Are you</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">a Citizen of the U.S.</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">Permanent Resident of the U.S.
                                                (Green
                                                Card Holder)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">Neither</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Driver Information</span>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <label class="form-label">Does the Insured have a Driver's License? (Provide even if
                                        suspended / revoked)</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="tigl-register-steptle">Contact Information</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <label class="form-label">Home Address (Street) ( Include Apt. or Suite)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">City</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <select class="form-select">
                                        <option>1</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Zip Code</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Home Phone Number</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Cell Number</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <label class="form-label">Email (Needed for eSignature)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>


                        </div>

                    </ng-container>
                    <ng-container *ngIf="pageView === 2">
                        <!-- Step 2 -->
                        <div id="stepInsuredCont" class="tab-pane fade  show active">

                            <div class="mb-5">
                                <h4>Insured Cont.</h4>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Employment Information</span>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Is the Insured currently employed? </label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Employer</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Occupation</label>
                                    <input type="email" class="form-control">
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Business Address (Street) (Include Suite)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">City</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <select class="form-select">
                                        <option>1</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Zip Code</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Individual Annual Earned Income</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Net Worth (Assets minus Liabilities)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Do you have any sources of recurring income?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Will you be submitting this application for insurance with
                                        other
                                        company's exam?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Will the Insured be the owner?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Is this policy is being purchased as part of an
                                        employer-owned
                                        life insurance program were the employer is the
                                        direct or indirect beneficiary of the policy?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </ng-container>
                    <ng-container *ngIf="pageView === 3">


                        <!-- Step 3 -->
                        <div id="stepPolicyInformation" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Policy Information</h4>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Amount of Insurance / Specified Amount</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Duration</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Does the Insured(s) use Tobacco products?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Additional Benefits and Riders</span>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="mt-2">
                                        <div class="form-check ">
                                            <label class="form-check-label"><input checked
                                                    name="Additional Benefits and Riders" value="male"
                                                    class="form-check-input" type="checkbox">Wavier of
                                                Premium</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Accelerated
                                                Benefit
                                                Rider</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Estate
                                                Protection
                                                Rider</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Extended no
                                                lapse
                                                Minimum Premium Rider</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Guaranteed
                                                policy
                                                split option Rider </label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Surrender
                                                value
                                                Enhancement Endorsement</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Children
                                                Term
                                                Insurance Rider</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </ng-container>
                    <ng-container *ngIf="pageView === 4">


                        <!-- Step 4 -->
                        <div id="stepBeneficiaries" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Beneficiaries</h4>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="gl-note">
                                        <i class="bi bi-info-circle-fill"></i>
                                        <p>Payer SSN will be required prior to issue. A Gondola Life representative will
                                            contact
                                            you for this information if not provided at the time of this application.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Do you want Primary Beneficiary share divided
                                        equally?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="gl-note">
                                        <i class="bi bi-info-circle-fill"></i>
                                        <p>Please list at least one primary beneficiary</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <p>Please enter your contingent Beneficiaries.</p>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Would you like to designate a Contingent
                                        Beneficiary?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="2323" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="2323" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Would you like to designate a Contingent
                                        Beneficiary?</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>

                        </div>


                    </ng-container>
                    <ng-container *ngIf="pageView === 5">
                        <!-- Step 5 -->
                        <div id="stepPremiumPayerInformation" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Premium & Payer Information</h4>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Premium Information</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Modal Planned Premium $</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Payment Method</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <label class="form-label">Source of Premium (Income, Savings, Replacement,
                                        Inheritance,
                                        etc.)</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Cash with application $</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 gl-reg-head">
                                <span class="title">Premium Information</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Is this an?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Individual</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">Not an Individual</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Relationship to proposed insured</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Select Premium Payor</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-10">
                                    <label class="form-label">Home Address (Street) ( Include Apt. or Suite)</label>
                                    <input type="email" class="form-control">
                                </div>


                            </div>

                            <div class="row mb-3">

                                <div class="col-md-6">
                                    <label class="form-label">City</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Zip Code</label>
                                    <input type="email" class="form-control">
                                </div>

                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">SSN</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">TIN</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="gl-note">
                                        <i class="bi bi-info-circle-fill"></i>
                                        <p>Payer SSN will be required prior to issue. A Gondola Life representative will
                                            contact
                                            you for this information if not provided at the time of this application.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </ng-container>
                    <ng-container *ngIf="pageView === 6">
                        <!-- Step 6 -->
                        <div id="stepThirdPartDesignee" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Third Part Designee / Secondary Address</h4>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <p>I, the Applicant/Owner, understand that I have the right to designate at least
                                        one
                                        person
                                        other than myself to receive notice of lapse or termination of this insurance
                                        policy
                                        for
                                        non payment of premium. I also understand that I will be given the opportunity
                                        to
                                        change
                                        this written designation at any time.</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">i elect to designate a Third Party Designee / Secondary
                                        addressee</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3 gl-reg-head">
                                <span class="title">Name</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">First Name</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">MI</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Last Name</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Suffix</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <label class="form-label">Address (Street) ( Include Apt. or Suite)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">City</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Zip Code</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Phone Number</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>


                        </div>


                    </ng-container>
                    <ng-container *ngIf="pageView === 7">
                        <!-- Step 7 -->
                        <div id="stepExistingPendingInsurance" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>Existing / Pending Insurance</h4>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Do you currently have any inforce policies?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Are you considering replacing, lapsing, stopping premium
                                        payments,
                                        surrendering, assigning to the insurer or reducing your benefits under an
                                        existing
                                        policy or annuity?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Are you considering using or borrowing funds from your
                                        existing
                                        policies or annuities to pay premiums due on the new or applied for
                                        policy?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Regardless of the status of the application, do you have
                                        any
                                        applications currently pending, do you plan to apply for, or did you apply for
                                        additional life insurance coverage with this or any other company within the
                                        past 12
                                        months?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">What is the total amount of new life insurance coverage
                                        that
                                        will
                                        be placed inforce with all companies including
                                        this application?</label>
                                    <input class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Will the premiums for this policy be paid, advanced,
                                        financed
                                        or
                                        otherwise funded by another person or entity who is not the Proposed Insured,
                                        the
                                        Owner,
                                        or the Proposed insured's employer?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Have you ever applied for life, long-term care, health or
                                        disability insurance and been rated, declined or postponed?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </ng-container>
                    <ng-container *ngIf="pageView === 8">
                        <!-- Step 8 -->
                        <div id="stepGeneralRiskInformation" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>General Risk Information</h4>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Do you fly, do you plan to fly within the next 12 months,
                                        or
                                        have
                                        you flown during the last 2 years as a pilot, student pilot or crew
                                        member?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Do you plan to participate within the next 12 months, or
                                        have
                                        you
                                        participated within the last 2 years in; underwater diving; mountain climbing;
                                        auto,
                                        motorcycle, or boat racing; heli skiing; rodeo sports; boxing; equine sports;
                                        hang
                                        gliding; paragliding; skydiving/parachuting; static line jumping, BASE jumping
                                        or
                                        wing
                                        diving?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Are you a member of, have you applied to be a member of,
                                        or
                                        have
                                        you received a notice of required service in the armed forces, reserves or
                                        National
                                        Guard?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">In the past 5 years, have you been convicted of three or
                                        more
                                        moving violations, driving under the influence of alcohol or other drugs, or had
                                        your
                                        driver's license suspended, restricted or revoked?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Have you ever been convicted of or are you awaiting trial
                                        for
                                        a
                                        felony?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">In the last 5 years have you filed for bankruptcy?</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="sex" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>




                    </ng-container>
                    <ng-container *ngIf="pageView === 9">
                        <!-- Step 5 -->
                        <div id="stepHIV" class="tab-pane fade show active">

                            <div class="mb-5">
                                <h4>HIV</h4>
                            </div>

                            <div class="mb-3">
                                <p>The information requested below is asked on your state's HIV Consent form. Please
                                    complete
                                    accordingly should you wish to disclose your positive results.</p>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">What state is the exam being done in:</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Physician's Name</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Address/Street (include Apt. or Suite)</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">City</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <div>
                                        <select class="form-select">
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Zip Code</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="gl-note">
                                        <i class="bi bi-info-circle-fill"></i>
                                        <p>Enter a Name, City and State above then click the Search for Physician
                                            Results.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <label class="form-label">Resuts</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">&nbsp;</label>
                                    <div>
                                        <button class="btn btn-outline-primary">Clear</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </ng-container>
                    <ng-container *ngIf="pageView === 10">

                        <div id="stepAdditionalInformation" class="tab-pane fade show active">

                            <div class="mb-3">
                                <h4>Additional Information</h4>
                            </div>


                            <div class="mb-3">
                                <p>You may attach any of the documents below. Attachments must be in PDF format. Please
                                    note Attachments
                                    will not be e-signed.</p>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="gl-note">
                                        <i class="bi bi-info-circle-fill"></i>
                                        <p>You may attach only one document to each button below.</p>
                                    </div>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="mt-2">
                                        <div class="form-check ">
                                            <label class="form-check-label"><input checked
                                                    name="Additional Benefits and Riders" value="male"
                                                    class="form-check-input" type="checkbox">Attach Illustration</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Voided Check
                                                (N/A)</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Attach
                                                Additional Financial Information</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Attach Trust
                                                Information</label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label"><input name="Additional Benefits and Riders"
                                                    value="Female" class="form-check-input" type="checkbox">Attach
                                                Miscellaneous</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Related Case(s) Information</label>
                                    <div class="mt-2">
                                        <div class="form-check">
                                            <label class="form-check-label"><input name="" value="Female"
                                                    class="form-check-input" type="checkbox">I would like this
                                                application to be underwritten together with the
                                                application(s) submitted for:</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Cover Letter Information</label>
                                    <div class="mt-2">
                                        <p>Would you like to provide the Lincoln Financial Group additional information
                                            regarding this case?
                                            This
                                            information will be sent with the Lincoln Financial Group application as a
                                            cover letter.</p>
                                    </div>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="" value="male"
                                                    class="form-check-input" type="radio">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label"><input name="" value="Female"
                                                    class="form-check-input" type="radio">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Cover Letter Information</label>
                                    <div class="mt-2">
                                        <p>If you would like to apply for an alternate policy, please indicate in the
                                            text box below the
                                            plan of insurance, total base amount,
                                            and any additional details you would like to provide the Underwriting And
                                            New Business Department
                                            regarding the alternate
                                            policy. Please also attach an illustration of this policy via the
                                            Miscellaneous button.</p>
                                    </div>
                                    <div class="mt-2">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Form Footer -->
                    <div class="gl-register-foo mt-5">

                        <div>
                            <button class="btn btn-outline-primary mw150" (click)="moveToBack()">Back</button>
                        </div>

                        <ng-container *ngIf="pageView !== 10">

                            <div>
                                <button class="btn btn-primary mw150" (click)="moveToNext()">Next</button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="pageView === 10">
                            <div>
                                <button class="btn btn-primary btn-success mw150"
                                    >Submit</button>
                            </div>
                        </ng-container>

                    </div>



                </div>

            </div>

        </div>

    </main>
</ng-container>