.gl-head {
  padding-bottom: 40px;
}
.gl-head .gl-title {
  color: #0097e6;
  font-size: 28px;
  border-bottom: 3px solid #0097e6;
  font-family: var(--font-semibold);
}
.gl-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
}
.gl-register .gl-register-step {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}
.gl-register .gl-register-step > div {
  padding: 20px;
  border: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.gl-register .gl-register-nav > div {
  color: var(--fc-7);
}
.gl-register .gl-register-nav > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}
.gl-register .gl-register-nav > div label i {
  font-style: normal;
}
.gl-register .gl-register-nav > div label i::before {
  content: "\f28a";
  font-size: 18px;
  font-family: bootstrap-icons;
}
.gl-register .gl-register-nav > div.active {
  color: var(--header-color);
}
.gl-register .gl-register-nav > div.active label i::before {
  content: "\f26a";
}
.gl-register .gl-register-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.gl-register .gl-reg-head {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
.gl-register .gl-reg-head .title {
  color: var(--reg-color);
  font-family: var(--font-semibold);
}
.gl-register .gl-register-foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 978px) {
  .gl-register {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}