<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
    </div>
    <div id="modal-body-content" class="modal-body body-height">
      <div class="row">
        <div class="col-md-10 m-auto text-center d-flex justify-content-center align-items-center mb-4">
          <img src='{{"../../assets/images/insurer_logo/"+ companyNAICCode +".svg"}}'
              alt="{{productname}}" />
          <h5 class="w-100 font-header">{{productname}}</h5>
          <button class="btn btn-primary btn-success mr-auto flex-shrink-0" [useExistingCss]="true" printTitle="Product Details"  
          printSectionId="modal-body-content"
          ngxPrint><i
              class="bi bi-printer-fill m-lg-1"></i>Print</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="gl-subhead-bg mb-2 mt-2">Insured Information</div>
          <table class="table table-borderless font-class">
            <tbody>
              <!-- <tr>
                <td width="120">Insured:</td>
                <td colspan="4" class="gl-bold"><b>John Mattos</b></td>
              </tr> -->
              <tr>
                <td>Gender:</td>
                <td class="gl-bold"><b>{{gender}}</b></td>
                <td>Age:</td>
                <td class="gl-bold"><b>{{age}}</b></td>
                <td>State:</td>
                <td class="gl-bold"><b>{{statename}}</b></td>
                <td>Face Amount:</td>
                <td class="gl-bold">${{amount}}</td>
              </tr>
              <tr>
                <td>Smoker:</td>
                <td class="gl-bold"><b>{{smoker}}</b></td>
                <td>Health Rating:</td>
                <td class="gl-bold"><b>{{healthRatingName}}</b></td>
                <td>Premium Mode:</td>
                <td class="gl-bold"><b>{{paymentMode}}</b></td>
                <td>Premium Amount:</td>
                <td class="gl-bold"><b>{{premiumAmount}}</b></td>
              </tr>
              <tr>
                <td>Riders:</td>
                <td class="gl-bold" colspan="3">{{riderlist}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="gl-divider mt-3 mb-3"></div> -->
          <div class="gl-subhead-bg mb-1">Company Information</div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td width="250">Company Name:</td>
                <td width="200">Website:</td>
                <td width="200">Address:</td>
                <td>All Ratings:</td>
              </tr>
              <tr>
                <td class="gl-bold"><b>{{companyName}}</b></td>
                <td class="gl-bold"><b>{{companywebsite}}</b></td>
                <td class="gl-bold" [rowSpan]="3">
                  <p class="p-pb-0">{{companyAddress.street}},</p> 
                  <p class="p-pb-0">{{companyAddress.cityStateZip}}</p>
                </td>
                <td class="gl-bold" [rowSpan]="3">
                  <b>
                    <p class="p-pb-0" *ngIf="checkCR(allcompanyratings.ambest)">
                      {{sliceChars(allcompanyratings.ambest)}} (AMBest)
                    </p>
                    <p class="p-pb-0" *ngIf="checkCR(allcompanyratings.comdex)">
                      {{sliceChars(allcompanyratings.comdex)}} (Comdex)
                    </p>
                    <p class="p-pb-0" *ngIf="checkCR(allcompanyratings.fitch)">
                      {{sliceChars(allcompanyratings.fitch)}} (Fitch)
                    </p>
                    <p class="p-pb-0" *ngIf="checkCR(allcompanyratings.moodys)">
                      {{sliceChars(allcompanyratings.moodys)}} (Moodys)
                    </p>
                    <p class="p-pb-0" *ngIf="checkCR(allcompanyratings.sandP)">
                      {{sliceChars(allcompanyratings.sandP)}} (SandP)
                    </p>
                  </b>
                </td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td>Founded:</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="gl-bold">{{companyphonenumber}}</td>
                <td class="gl-bold">{{companyfounded}}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="gl-subhead-bg mb-2 mt-2">Policy Information</div>
          <div class="mb-2 mt-2">
            <p><b class="gl-subhead">Guaranteed Convertible - </b>{{conversionname}}</p>
          </div>
          <div>
            <div class="gl-subhead mb-2 mt-2">Premium Ledger</div>
            <p>The chart below shows the guaranteed premiums on your Guaranteed Convertible Term 10 policy and the
              guaranteed death benefit those premiums provide. After the end of the 10 year level premium period,
              annually renewable term rates will apply.</p>
          </div>
          <table class="table text-center table-striped table-border">
            <thead class="table-blue">
              <tr>
                <th width="150">Year</th>
                <th width="150">Age</th>
                <th>Annualized Contract Premium</th>
                <th>Guaranteed Death Benefit</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let  premiumVal of totalpremiumvalues; let num = index">
                <tr>
                  <td>{{premiumVal.year}}</td>
                  <td>{{premiumVal.age}}</td>
                  <td>{{premiumVal.premium}}</td>
                  <td>{{premiumVal.amount}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="alert alert-warning d-flex align-content-center gap-2 alert-small mt-4">
            <i class="bi bi-info-circle"></i>
            <div>
              This Life Insurance Proposal is subject to underwriting.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>