
.modal-dialog{
    margin: 0 !important;
}
.modal-content{
  border: 0px solid #eff9ff !important;
}

::ng-deep .mat-dialog-container {
  display: block;
  padding: 0px !important;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.body-height{
    height: 700px !important;;
    overflow-y: scroll !important;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: #55aa55;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55aa55;
    border-radius: 10px;
  }

  .table-border{
    border: 1px solid #bcd0c7 !important;
  }

  .p-pb-0{
    margin-bottom:  0 !important;
  }

  .font-class{
    font-size: 15px !important;
    font-family: var(--font);
  }

  .font-header{
    font-family: 'Manrope-Bold';
    font-size: 22px !important;
    color: #164380;
  }