<div class="modal-dialog modal-md calc-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">How Long Will the Protection Last?</h5>
            <button type="button" class="btn-close btn-sm" data-dismiss="modal" (click)="closeDialog()"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 m-auto">
                    <form [formGroup]="proceedLastForm">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Policy Proceeds</label>
                                <input type="text" class="form-control" (blur)="convertAmount($event)"
                                    (keyup)="convertAmount($event)" (focus)="onFocusAmount($event)" [(ngModel)]="amount"
                                    formControlName="amount">
                                    <small *ngIf = "isSubmitDone && proceedLastForm.get('amount')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Savings/Investment</label>
                                <input type="text" class="form-control" (blur)="convertSavings($event)"
                                    (keyup)="convertSavings($event)" (focus)="onFocusSavings($event)"
                                    [(ngModel)]="savings" formControlName="savings">
                                    <small *ngIf = "isSubmitDone && proceedLastForm.get('savings')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Investment Return (%)</label>
                                <input type="text" class="form-control" [(ngModel)]="invreturn"
                                    formControlName="invreturn">
                                    <small *ngIf = "isSubmitDone && proceedLastForm.get('invreturn')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>

                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Annual Income Required</label>
                                <input type="text" class="form-control" (blur)="convertIncome($event)"
                                    (keyup)="convertIncome($event)" (focus)="onFocusIncome($event)" [(ngModel)]="income"
                                    formControlName="income">
                                    <small *ngIf = "isSubmitDone && proceedLastForm.get('income')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>

                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Inflation Rate (%)</label>
                                <input type="text" class="form-control" [(ngModel)]="inflationrate"
                                    formControlName="inflationrate">
                            </div>
                            <small *ngIf = "isSubmitDone && proceedLastForm.get('inflationrate')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>

                        </div>
                    </form>
                    <ng-container *ngIf="iscalculated">
                        <div class="mb-1 mt-1">
                            <div class="alert alert-primary text-center gl-bold">
                                An income of {{income}} a year would be exhausted in year {{year}}.
                            </div>
                        </div>
                        <div class="after-result">
                            <p>This is what you have today. Is it what you want?</p>
                        </div>
                        <div class="documentation-proof"><a>Documentation Proof</a></div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 justify-content-between d-flex">
            <div><button class="btn btn-outline-success mw150" (click)="closeDialog()">Cancel</button></div>
            <div><button class="btn btn-success mw150" (click)="calcQuotes()">Calculate</button></div>
        </div>
    </div>
</div>