
.error-field{
    font-family: 'Manrope-Regular';
    font-size: 12px;
    color: red !important;
    padding-top: 5px;
  }
  .gondola-sort-container{
    cursor: pointer;
  }
  
  /*
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #3c464e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Manrope-Semibold" !important;
    font-size: 12px!important;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}*/
.dropdown-style{
  position: absolute !important;
    transform: translate3d(0px, 26px, 0px) !important;
    top: 0px !important;
    left: 0px !important;
    will-change: transform !important;
}
.display{
  display: block !important;
}
.showSortingMenu {
  display:block;
  z-index: 999;
}
.sorting-quotes-icon{
  float:right;
}

.gl-sortby{
  font-size: .875em;
}

.gl-sortby p {
  margin: 0.25rem !important;
}
.gl-sortby .dropdown-item.active, .gl-sortby .dropdown-item:active {
  background-color: #eff9ff;
  color: #0097e6;
  font-family: var(--font-semibold);
}
.gl-sortby .dropdown-item {
  position: relative;
  padding: 0.25rem 1.5rem;
}
.gl-sortby .dropdown-item i {
  position: absolute;
  left: 5px;
}
.gl-sortby .dropdown-item:hover {
  background-color: #eff9ff;
  color: #0097e6;
}

:host ::ng-deep .btn-group .popover .popover-body{
  padding: 0 !important;
}



.radio-class{
  font-family: var(--font-medium) !important;
  font-size: 15px !important;
  padding: 5px 5px;
  background-color: #eff9ff;
}

.radio-class label{
  font-family: var(--font-medium) !important;
  padding-right: 15px !important;
}
.radio-class-label{
  padding-left: 5px !important; 
}
.radio-class-input{
  padding-right: 10px !important;
  cursor: pointer !important;
}

:host ::ng-deep .mat-form-field{
  display: inline-block;
  position: relative;
  text-align: left;
  height: 50px !important;
  font-size: 14px !important;
  font-family: "Manrope-Semibold";
  letter-spacing: normal;
}

.gl-foologo-header{
  font-family: "Manrope-Bold";
  font-size: 36px;
  text-align: left;
  color: #fff;
}   

.gl-foologo-subheader{
  font-family: "Manrope-Bold";
  font-size: 32px;
  text-align: left;
  color: #fff;
}  
.mon{
  display: block !important;
  font-size: var(--fs-16) !important;
  font-family: var(--font-semibold);
} 
.gl-logo-header{
    font-family: "Manrope-Bold";
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.gl-logo-subheader{
    font-family: "Manrope-Bold";
    font-size: 32px;
    text-align: center;
    color: #fff;
}
.gl-cal-income-tank{
  text-align: center;
  font-family: 'Merriweather-Bold';
  font-size: 28px;
  color: #3c464e;
}

.gl-head {
  padding-bottom: 40px;
}
.gl-head .gl-title {
  color: #0097e6;
  font-size: 28px;
  border-bottom: 3px solid #0097e6;
  font-family: var(--font-semibold);
}

:host ::ng-deep input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 0px;
    height: 200px;
    padding: 0px;
    background: url('../../../assets/images/Arrow.png') center/contain no-repeat content-box,
   red;
}

.gl-input-range{
  z-index: 9;
  margin-top: 141px;
  margin-left: -120px;
}
.tool-tip1 {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left:4px;
  width:15px;
}
.tool-tip1-div{
  position: absolute;
  transform: translate3d(83px, 17px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.tool-tip5-div{
  position: absolute;
  transform: translate3d(63px, 25px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.tool-tip3-div{
  position: absolute;
  transform: translate3d(83px, 400px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.tool-tip4-div{
  position: absolute;
  transform: translate3d(110px, 550px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.tool-tip .tool-tip-text{
  visibility: hidden;
  left: 105%;
  position: absolute;
  z-index: 1;
  width: 276px;
  height: 430px;
  margin: 2px 4px 19px 0;
  padding: 18px 16px 18px 18px;
  border-radius: 8px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.text-left-tool-tip{
font-family: "Manrope-Semibold";
font-size: 11px;
text-align: left;
font-style: normal !important;
color: #3c464e;

}
.text-right-tool-tip{
font-family: "Manrope-Semibold";
font-size: 10px;
text-align: right;
color: #3c464e;
font-style: normal !important;

}
.tool-tip-description{
font-family: "Manrope-Regular";
font-size: 10px;
font-weight: normal;
color: #3c464e;
font-size: 10px;
font-style: normal !important;
}

.text-left-tool-tip p, .text-right-tool-tip p{
    margin-top: 0;
    margin-bottom: 0.3rem;
}
.orange-text-tool-tip{
  color: orange !important;
}

.horizontal-break-tool-tip{
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 0.2rem;
}
.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.example-boundary {
  height: 50%;
}


/* Income Tank


.gl-tank-container {
  width: 320px;
  margin: auto;
}
.gl-tank-container .gl-tank-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--fs-20);
  gap: 6px;
}
.gl-tank-container .gl-tank-head span {
  font-family: "Merriweather-Bold";
  font-size: var(--fs-26);
}
.gl-tank-container > div {
  width: 320px;
  height: 360px;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 20px 0px #d6d6d6;
          box-shadow: 4px 4px 20px 0px #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.gl-tank-container > div div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gl-tank-container > div div p, .gl-tank-container > div div label, .gl-tank-container > div div b {
  padding: 0 5px;
}
.gl-tank-container > div div p {
  font-family: var(--font-semibold);
  margin-bottom: 20px;
}
.gl-tank-container > div div label {
  font-size: small;
  margin-bottom: -15px;
}
.gl-tank-container > div div.one {
  background: #f5e903;
  background: -webkit-gradient(linear, left top, right top, from(#f5e903), color-stop(20%, #faf9b3), color-stop(42%, #f5e903), color-stop(92%, #f5e903), to(#faf9b3));
  background: linear-gradient(90deg, #f5e903 0%, #faf9b3 20%, #f5e903 42%, #f5e903 92%, #faf9b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5e903",endColorstr="#faf9b3",GradientType=1);
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gl-tank-container > div div.one::after {
  content: "";
  width: 102%;
  height: 6px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  left: -1%;
  bottom: 0;
}
.gl-tank-container > div div.two {
  background: repeating-linear-gradient(-45deg, #0926a0, #0926a0 10px, #f5e903 10px, #f5e903 25px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gl-tank-container > div div.two p, .gl-tank-container > div div.two label, .gl-tank-container > div div.two b {
  background-color: rgba(255, 255, 255, 0.85);
}
.gl-tank-container > div div.two b {
  margin-top: 40px;
}
.gl-tank-container > div div.two label {
  margin-bottom: 20px;
}
.gl-tank-container > div div.three {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #618ccc;
  background: -webkit-gradient(linear, left top, right top, from(#618ccc), color-stop(20%, #73a6e9), color-stop(60%, #1135cf), color-stop(86%, #1135cf), to(#618ccc));
  background: linear-gradient(90deg, #618ccc 0%, #73a6e9 20%, #1135cf 60%, #1135cf 86%, #618ccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#618ccc",endColorstr="#618ccc",GradientType=1);
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.gl-tank-container > div div.three p, .gl-tank-container > div div.three label, .gl-tank-container > div div.three b {
  background-color: rgba(15, 25, 72, 0.85);
  color: #fff;
}
.gl-tank-container > div div.three p {
  margin-top: 6px;
}
.gl-tank-container > div div.three b {
  font-size: var(--fs-14);
  margin-top: 12px;
}
.gl-tank-container .gl-tank-ruler {
  position: absolute;
  width: 102%;
  background-color: #f00;
  border-radius: 10px;
  padding: 3px;
  left: -1%;
  cursor: ns-resize;
  z-index: 1;
}
.gl-tank-container .gl-tank-ruler:hover i {
  opacity: 1;
}
.gl-tank-container .gl-tank-ruler i {
  background-color: #f00;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: ns-resize;
  position: absolute;
  -webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -15px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  color: #fff;
}
.gl-tank-container .gl-tank-ruler b {
  position: absolute;
  left: -90px;
  width: 90px;
  top: -8px;
  font-size: 0.865rem;
  text-align: right;
}

/* Registration page
.gl-head {
  padding-bottom: 40px;
}
.gl-head .gl-title {
  color: #0097e6;
  font-size: 28px;
  border-bottom: 3px solid #0097e6;
  font-family: var(--font-semibold);
}
.gl-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
}
.gl-register .gl-register-step {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}
.gl-register .gl-register-step > div {
  padding: 20px;
  border: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.gl-register .gl-register-nav > div {
  color: var(--fc-7);
}
.gl-register .gl-register-nav > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}
.gl-register .gl-register-nav > div label i {
  font-style: normal;
}
.gl-register .gl-register-nav > div label i::before {
  content: "\f28a";
  font-size: 18px;
  font-family: bootstrap-icons;
}
.gl-register .gl-register-nav > div.active {
  color: var(--header-color);
}
.gl-register .gl-register-nav > div.active label i::before {
  content: "\f26a";
}
.gl-register .gl-register-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.gl-register .gl-reg-head {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
.gl-register .gl-reg-head .title {
  color: var(--reg-color);
  font-family: var(--font-semibold);
}
.gl-register .gl-register-foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 978px) {
  .gl-register {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}*/
.product-filter-icon {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  cursor: pointer;
}
.product-filter-icon-rotate::before {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}
.prodcut-filter-scroller {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb { 
  background: #55aa55;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88dd88;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
.gl-filter-insurer-label{
  color:#aaaaaa;
}
.gl-filter-radio-inner-container{
  margin-right:20px;
}

::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed; 
  z-index: 9999 !important;
}

.betalaunch-dialog-container .mat-dialog-container {
  display: block;
  padding: 0px;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
.betalaunch-dialog-container .mat-dialog-container {
  display: block;
  padding: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.gl-filter-popover{
  text-align: justify;
  font-family: var(--font);
  color: #3c464e;
  font-size: 12px;
}
.gl-filter-popover p{
  margin-bottom: 0.25rem !important;
}
.read-more{
  color: #1e7cff;
  text-decoration: none;
}

