<!-- Top Nav -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light shadow-sm fixed-top fix-top-inline">
    <div class="container">
      <figure class="gl-logo">
        <a class="navbar-brand" href="{{ gondolaService.appURL }}"><img alt="" src="../../assets/images/gondola-life.png"
            alt="Gondola Life" /></a>
      </figure>
      <button class="navbar-toggler" type="button" data-target="#searchCollapse" aria-expanded="false"
        aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="#searchCollapse">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse"> -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="gl-search" id="searchCollapse" [ngClass]="{'gl-search-nodisp': isCollapsed}">
        <form [formGroup]="quoteDetailsForm" (keydown)="enteredQuotes($event)" (submit)="submitQuotes()"
          autocomplete="off">
          <div class="gl-search-select p-b-20">
            <div class="radio-class">
              <label for="Gender"></label>
              <input type="radio" class="radio-class-input" name="gender" value="Male" formControlName="gender"
                (change)="updateGender($event)" [checked]="gender === 'Male'" />
              <label for="Male" class="radio-class-label">Male</label>
              <input type="radio" class="radio-class-input" name="gender" value="Female" formControlName="gender"
                (change)="updateGender($event)" [checked]="gender === 'Female'" />
              <label for="Female" class="radio-class-label">Female</label>
            </div>
            <div class="radio-class">
              <label for="smoker"></label>
              <input type="radio" class="radio-class-input" name="isSmoker" value="1" formControlName="isSmoker"
                [checked]="isSmoker === '1'" (change)="updateSmoker($event)" />
              <label for="nonsmoker" class="radio-class-label">Non-Smoker</label>
              <input type="radio" class="radio-class-input" name="isSmoker" value="3" formControlName="isSmoker"
                [checked]="isSmoker === '3'" (change)="updateSmoker($event)" />
              <label for="Smoker" class="radio-class-label">Smoker</label>
            </div>
            <div class="radio-class">
              <label for="working"></label>
              <input type="radio" class="radio-class-input" name="isWorking" value="1" formControlName="isWorking"
                [checked]="isWorking === '1'" (change)="updateWorking($event)" />
              <label for="working" class="radio-class-label">Working</label>
              <input type="radio" class="radio-class-input" name="isWorking" value="2" formControlName="isWorking"
                [checked]="isWorking === '2'" (change)="updateWorking($event)" />
              <label for="Retired" class="radio-class-label">Retired</label>
            </div>
          </div>
          <div class="gl-search-form">
            <div class="form-floating">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill" panelHeight="290px">
                <mat-label>Amount of Protection</mat-label>
                <input type="text" aria-label="Number" matInput formControlName="amount" [matAutocomplete]="auto"
                  (blur)="convertAmount($event)" (keyup)="convertAmount($event)" (focus)="onFocusAmount($event)"
                  (paste)="allowNumeric($event)" (keypress)="allowNumeric($event)" maxlength="11"
                  formControlName="amount" [(ngModel)]="amount" id="amountProtection">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                  (optionSelected)="validateOnSelect('amount',$event.option.value)">
                  <mat-option *ngFor="let option of filteredAmountOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('amount')!.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('amount')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for $25,000 or more.
              </div>
            </div>
            <div class="form-floating">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Years of Protection</mat-label>
                <input type="text" aria-label="Number" matInput [matAutocomplete]="auto1"
                  (keyup)="validateOnKeyUp('years', $event)" (paste)="allowNumeric($event)"
                  (keypress)="allowNumeric($event)" maxlength="2" formControlName="years" [(ngModel)]="years"
                  id="yearProtection">
                <mat-autocomplete class="custom-scroll" autoActiveFirstOption #auto1="matAutocomplete"
                  (optionSelected)="validateOnSelect('years',$event.option.value)">
                  <mat-option *ngFor="let option of filteredYearsOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('years')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('years')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for 10 or more Years
              </div>
            </div>
            <div class="form-floating mw80">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Age</mat-label>
                <input type="text" aria-label="Number" matInput (paste)="allowNumeric($event)"
                  (keyup)="validateOnKeyUp('age', $event)" (keypress)="allowNumeric($event)" maxlength="2"
                  formControlName="age" [(ngModel)]="age" id="Age">
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('age')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('age')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for plans between ages 18-80
              </div>
            </div>
            <div class="form-floating">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>State</mat-label>
                <input type="text" aria-label="String" matInput [matAutocomplete]="auto2" formControlName="statename"
                  (keyup)="validateOnKeyUp('state', $event)" [(ngModel)]="statename">
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"
                  (optionSelected)="validateOnSelect('state',$event.option.value)" [displayWith]="displayStateFn">
                  <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('statename')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('statename')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please select/enter a valid State
              </div>
            </div>
            <div class="form-floating">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Est. Annual Income</mat-label>
                <input type="text" aria-label="Number" matInput (blur)="convertIncome($event)"
                  (paste)="allowNumeric($event)" (keyup)="convertIncome($event)" (focus)="onFocusIncome($event)"
                  (keypress)="allowNumeric($event)" maxlength="12" formControlName="estAnnualIncome"
                  [(ngModel)]="estAnnualIncome">
              </mat-form-field>
              <div class="error-field"
                *ngIf="isSubmitDone && quoteDetailsForm.get('estAnnualIncome')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('estAnnualIncome')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please enter an income of $25,000 or more.
              </div>
            </div>
            <div class="form-floating">
              <ng-container *ngIf="isWorking === '1'">
                <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                  <mat-label>Est. Retirement Age</mat-label>
                  <input type="text" aria-label="Number" matInput (paste)="allowNumeric($event)"
                    (keyup)="validateOnKeyUp('estretireage', $event)" (keypress)="allowNumeric($event)" maxlength="3"
                    formControlName="estRetirementage" [(ngModel)]="estRetirementage" id="estRetirement">
                </mat-form-field>
                <div class="error-field"
                  *ngIf="isSubmitDone && quoteDetailsForm.get('estRetirementage')?.hasError('required')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Field is required
                </div>
                <div class="error-field" *ngIf="quoteDetailsForm.get('estRetirementage')?.hasError('invalid')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Please enter a greater than your current Age, or select the Retired radial button.
                </div>
              </ng-container>

              <ng-container *ngIf="isWorking === '2'">
                <mat-form-field class="gl-mat-autocomplete" appearance="fill" [ngbPopover]="estAssetPop"
                  placement="bottom" popover-trigger="focus" [autoClose]="'outside'">
                  <mat-label>Est. Assets</mat-label>
                  <input type="text" aria-label="Number" matInput (blur)="convertAssets($event)"
                    (keyup)="convertAssets($event)" (paste)="allowNumeric($event)" (keypress)="allowNumeric($event)"
                    maxlength="13" formControlName="estAssets" [(ngModel)]="estAssets" id="estAsset"
                    placeholder="Est. Assets">
                </mat-form-field>
                <div class="error-field"
                  *ngIf="isSubmitDone && quoteDetailsForm.get('estAssets')?.hasError('required')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Field is required
                </div>
                <div class="error-field" *ngIf="quoteDetailsForm.get('estAssets')?.hasError('invalid')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Please enter a net worth of $100,000 or more.
                </div>
              </ng-container>
            </div>
            <div class="form-floating">
              <button class="btn btn-primary btn-success gl-btnsearch" type="submit"><i
                  class="bi bi-search"></i><span>Search</span></button>
            </div>
          </div>
        </form>
      </div>
      <div class="pl-4">
        <button class="btn btn-outline-primary btn-outline-primary-login" type="button" (click)="openLoginBox()">Login</button>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid gl-hdbg  gl-rmt">
  <div class="gl-patn">
    <div class="container pt-4 pb-4">
      <div class="gl-instype mt-3 d-flex">
        <div class="gl-calculate">
          <div class="gl-tank-parent-container">
            <div class="gl-tank-details-container">
              <p class="gl-tank-head">
                <span *ngIf="isWorking === '1'">Income Tank</span>
                <span *ngIf="isWorking === '2'">Asset Tank</span>
                Your Potential ${{numberWithCommas(incomeTankCalc.potentialamount)}}
              </p>
              </div>
              <!-- <ng-container *ngIf="!maxProtectionBoxVisible">
              <div class="gl-tank-details-container">
                <p class="gl-tank-head">Max Protection Line -
                  ${{numberWithCommas(incomeTankCalc.maxprotectamount)}}
                </p>
                </div>
              </ng-container>
              <div class="gl-tank-protection-details-outer-container">
                <div class="max-protection-container" [ngStyle]="{'height': maxProtectDivHeight+'%' }">
                  <div class="max-protection-details-container">
                    <div class="qoute-protection-details-text">
                      <span style="display: block">${{numberWithCommas(incomeTankCalc.maxprotectamount)}}</span> 
                      <span>Max Protection Line</span>
                    </div>
                  </div>
                </div>
              </ng-container>
                <div  class="protection-zone-details-container" [ngStyle]="{'height': '40%' }">
                   
                </div>
                <div>
                  <div class="qoute-protection-details-container">
                    <div class="qoute-protection-details-text"> 
                      <ng-container *ngIf="!isQuoteButtonVisible">
                        <span style="display: block">${{numberWithCommas(qouteAmount)}}</span> 
                        <span>Quote Protection Line</span>
                      </ng-container>
                      <ng-container *ngIf="isQuoteButtonVisible">
                          <span style="display: block">${{numberWithCommas(updatedProtectionAmount)}}</span> 
                        <span>Quote Protection Line</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
                </div>
                </div> -->
              <div #tankIdentifier class="gl-tank-container">
                <div>
                <div class="one" id="gondola-first-container" [ngStyle]="{'height': maxProtectDivHeight+'%' }">
                  <ng-container *ngIf="maxProtectionBoxVisible">
                  <p>NO PROTECTION ZONE</p>
                  </ng-container>
                  <span class="gl-qoute-max-protection-line-container"><p class="gl-qoute-max-protection-line">Max Protection Line - ${{numberWithCommas(incomeTankCalc.maxprotectamount)}}</p></span>
                </div>
                <div class="two" #secondBoxIdentifier id="gl-protection-zone" 
                [ngStyle]="{'height': dragableAmountDivHeight+'%' }" [style]="headerStyle()"><b></b>
                  <div class="gl-tank-ruler" id="gl-protection-drag"
                  [cdkDragFreeDragPosition]="dragPosition"
                  (cdkDragEnded)="dragEnd($event,incomeTankCalc.maxprotectamount,incomeTankCalc.quoteamount)" 
                  cdkDragBoundary=".two" 
                  cdkDragLockAxis="y" cdkDrag><i class="bi bi-chevron-expand"></i>
                  <span class="gl-qoute-protection-line">Quote Protection Line - ${{numberWithCommas(updatedProtectionAmount)}}</span>
                <ng-container *ngIf="isQuoteButtonVisible">
                  <button type="button" (click)="updateQuotes()"
                  class="btn btn-danger btn-success btn-update-qoute"><span>Update Quote
                  </span></button>
                </ng-container>
                </div>
                  <p [ngClass]="{'gl-protection-zone-text-hidden': !isPotentialProtectionTextVisible}"
                    id="gl-protection-zone-text">POTENTIAL PROTECTION ZONE</p><label></label>
                    <p [ngClass]="isPotentialProtectionTopTextVisible ? 'gl-protection-zone-text-top': 'gl-protection-zone-text-hidden'">
                      POTENTIAL PROTECTION ZONE</p><label></label>
                </div>
                <div class="three"
                [ngStyle]="{'height': qouteAmountDivHeight+'%' }" #dvscrollresults>
                  <p>PROTECTION ZONE</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="gl-calquote">
              <div>
                <div>
                  <label>Maximum Protection Cost</label>
                  <b *ngIf="!isMaxProtectCostLoader">{{maxProtectionCost}} <em>/month</em></b>
                </div>
                <div *ngIf="isMaxProtectCostLoader" class="ms-7 d-flex justify-content-center">
                  <div class="spinner-border text-success" role="status">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div  *ngIf="!isMaxProtectCostLoader" class="gondola-life-select-plan">
                   <button type="button" class="btn btn-primary btn-success" (click)="betalaunchModal()"><span>Select
                      Plan</span></button>
                </div>
              </div>
              <div>
                <div>
                  <label>Quote Protection Cost</label>
                  <b>{{quoteProtectionCost}} <em>/month</em></b>
                </div>
                <div class="gondola-life-select-plan">
                  <button type="button" class="btn btn-danger btn-success" (click)="betalaunchModal()"><span>Select
                      Plan</span></button>
                </div>
                <div>
                <a class="pt-3 gl-shwmore pointer">Documentation Proof</a>
                 </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gl-mousescroll" *ngIf="isProductsAvailable" (click)="navigateToSection(dvscrollresults)">
    <i class="bi bi-chevron-down"></i>
  </div>
</div>

<ngx-spinner style="background-color: rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Tailoring your protection options now… </p>
</ngx-spinner>
<!-- Page -->

<main class="container">
  <div class="gl-common-header">
    <div class="gl-filter-head">
      <div>
        <label class="position-relative">Filter By
          <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedHealthIconUP"
            aria-controls="collapseExample" (click)="isCollapsedHealthIconUP = !isCollapsedHealthIconUP"
            [ngClass]="{'product-filter-icon-rotate': isCollapsedHealthIconUP}"></i>
          <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="filterAllContent" container="body"
            placement="auto" popover-trigger="focus" [autoClose]="'outside'" (click)="clearReadMore()" />
          <span (click)="clearAllFilter()" class="gl-clear">Clear All</span>
        </label>
      </div>
    </div>
    <div class="gl-insprd-head">
      <div class="gl-insprd-title">We found <b>{{totalNumberOfProducts}} plans</b> that match your insurance
        needs!
        <!-- <span style="display: none" id="removedPlans"><a>Click Here</a> to see why</span>
        <div>
          <a class="gl-addon" (click)="removedPlansModal()"><i></i>Click here</a>
        </div> -->
      </div>
      <div class="gl-insprd-actions">
        <div class="gl-switchsort">
          <a href="#" (click)="changeViewForQuotesList($event,'Grid')" [ngClass]="{'sel': isGridViewDisplay}"><b
              class="bi bi-grid-fill"></b></a>
          <a href="#" (click)="changeViewForQuotesList($event,'List')" [ngClass]="{'sel': !isGridViewDisplay}"><b
              class="bi bi-list-ul"></b></a>
        </div>
        <div class="d-flex gap-3 flex-shrink-0">
          <div class="gl-filter-mobile" data-toggle="collapse" data-target="#FilterCollapse"
            (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="isCollapsed1"><i
              class="bi bi-sliders2"></i><b>Filter by</b></div>
          <div class="btn-group">
            <div class="btn p-0 d-flex gap-2" [ngbPopover]="sortByPopOver" placement="bottom" popover-trigger="focus"
              [autoClose]="'outside'">
              <i class="bi bi-arrow-down-up"></i>Sort by
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gl-insprd-type">
    <div class="gl-filter collapse show" id="FilterCollapse" [ngClass]="{'display': !isMobileDevice}"
      [ngbCollapse]="!isCollapsed1">
      <div class="gl-filter-wrap">
        <div class="prodcut-filter-scroller" #filterscroller>
          <div class="gl-filter-bdy">
            <div>
              <label class="position-relative">Health Rating
                <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedHealthIconUP"
                  aria-controls="collapseExample" (click)="isCollapsedHealthIconUP = !isCollapsedHealthIconUP"
                  [ngClass]="{'product-filter-icon-rotate': isCollapsedHealthIconUP}"></i>
                <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="healthContent" container="body"
                  placement="auto" popover-trigger="focus" [autoClose]="'outside'" />
                <span (click)="clearHealthFilter()" class="gl-clear">Clear</span>
              </label>
              <div>
                <div class="gl-filter-coverage" id="collapseExample" [ngbCollapse]="isCollapsedHealthIconUP">
                  <div *ngFor="let health of healthRating">
                    <label>
                      <input type="checkbox" [checked]="health.checked" (change)="onChangeHealth($event, health)">
                      {{health.name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <label class="position-relative">Speed To Protection
                <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedHealthIconUP"
                  aria-controls="collapseExample" (click)="isCollapsedHealthIconUP = !isCollapsedHealthIconUP"
                  [ngClass]="{'product-filter-icon-rotate': isCollapsedHealthIconUP}"></i>
                <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="speedContent" container="body"
                  placement="auto" popover-trigger="focus" [autoClose]="'outside'" />
                <span (click)="clearProtectionFilter()" class="gl-clear">Clear</span>
              </label>
              <div>
                <div class="gl-filter-coverage" id="SPCollpaseItem" [ngbCollapse]="isCollapsedSPIconUP">
                  <div *ngFor="let protection of speedProtection">
                    <label>
                      <input type="checkbox" [checked]="protection.checked"
                        (change)="onChangeProtection($event, protection)">
                      <ng-container *ngIf="protection.type ==='greenplus'">
                        <!-- <i class="bi bi-shield-shaded gl-shield-grn"></i>
                      <span class="bi bi-plus"></span> -->
                        <img src="../../assets/images/protection/Green1_Filter.svg" /> Very High
                      </ng-container>
                      <ng-container *ngIf="protection.type ==='green'">
                        <img src="../../assets/images/protection/Green_Filter.svg" />
                        High
                      </ng-container>
                      <ng-container *ngIf="protection.type ==='yellow'">
                        <img src="../../assets/images/protection/Yellow_Filter.svg" />
                        Medium
                      </ng-container>
                      <ng-container *ngIf="protection.type ==='red'">
                        <img src="../../assets/images/protection/Red_Filter.svg" />
                        Low
                      </ng-container>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label data-toggle="modal">Insurers
                <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedInsurerIconUP"
                  aria-controls="InsureresCollpaseItem" (click)="isCollapsedInsurerIconUP = !isCollapsedInsurerIconUP"
                  [ngClass]="{'product-filter-icon-rotate': isCollapsedInsurerIconUP}"></i>
                <span (click)="clearInsurersFilter()" class="gl-clear">Clear</span>
              </label>
              <div>
                <div class="gl-filter-coverage" id="InsureresCollpaseItem" [ngbCollapse]="isCollapsedInsurerIconUP">
                  <div *ngFor="let insurer of insurersList | slice: 0:insurerSlice; let i=index">
                    <label [ngClass]="{'gl-filter-insurer-label': !insurer.isAvailable}">
                      <input type="checkbox" [disabled]="!insurer.isAvailable" [checked]="insurer.isChecked"
                        (change)="getfilterInsureres($event, insurer)">
                      {{insurer.insurershortname}}
                    </label>
                  </div>
                  <a class="gl-shwmore" *ngIf="addlInsurerlink"
                    (click)="insurerSlice = insurersList.length;addlInsurerlink = false;">See
                    {{insurersList.length-5}} Additional Insurers</a>
                </div>
              </div>
            </div>
            <div>
              <div>
                <label class="position-relative">Add-On's
                  <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedHealthIconUP"
                    aria-controls="collapseExample" (click)="isCollapsedHealthIconUP = !isCollapsedHealthIconUP"
                    [ngClass]="{'product-filter-icon-rotate': isCollapsedHealthIconUP}"></i>
                  <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="addonsContent"
                    container="body" placement="auto" popover-trigger="focus" [autoClose]="'outside'"
                    (click)="clearReadMore()" />
                  <span (click)="clearAddOnFilter()" class="gl-clear">Clear</span>
                </label>
              </div>
              <div>
                <div class="gl-filter-coverage" id="AddCollpaseItem" [ngbCollapse]="isCollapsedAddOnIconUP">
                  <div *ngFor="let addon of addons">
                    <label>
                      <input type="checkbox" [checked]="addon.checked" (change)="getAddonsFilter($event, addon)">
                      <ng-container *ngIf="addon.type ==='Waiver'">
                        Waiver
                      </ng-container>
                      <ng-container *ngIf="addon.type ==='ADB'">
                        ADB
                      </ng-container>
                      <ng-container *ngIf="addon.type ==='Child'">
                        Child
                      </ng-container>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label>Payment Mode
                <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedModeIconUP"
                  aria-controls="ModeCollpaseItem" (click)="isCollapsedModeIconUP = !isCollapsedModeIconUP"
                  [ngClass]="{'product-filter-icon-rotate': isCollapsedModeIconUP}"></i>
                <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="paymentContent" container="body"
                  placement="auto" popover-trigger="focus" [autoClose]="'outside'" (click)="clearReadMore()" />
                <span (click)="clearPaymentFilter()" class="gl-clear">Clear</span>
              </label>
              <div>
                <div class="gl-filter-coverage" id="ModeCollpaseItem" [ngbCollapse]="isCollapsedModeIconUP">
                  <div *ngFor="let mode of paymentMode">
                    <label>
                      <input type="checkbox" [checked]="mode.checked" (change)="onChangeMode($event, mode)">
                      {{mode.name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label>Guaranteed Convertible
                <i class="bi bi-chevron-down product-filter-icon" [attr.aria-expanded]="!isCollapsedGuaranteeeIconUP"
                  aria-controls="GuaranteedCollpaseItem"
                  (click)="isCollapsedGuaranteeeIconUP = !isCollapsedGuaranteeeIconUP"
                  [ngClass]="{'product-filter-icon-rotate': isCollapsedGuaranteeeIconUP}"></i>
                <img src="../../assets/images/Info.svg" class="tool-tip1" [ngbPopover]="conversionContent"
                  container="body" placement="auto" popover-trigger="focus" [autoClose]="'outside'"
                  (click)="clearReadMore()" />
              </label>
              <div class="gl-filter-radio" id="GuaranteedCollpaseItem" [ngbCollapse]="isCollapsedGuaranteeeIconUP">
                <span class="gl-filter-radio-inner-container" *ngFor="let conversion of guarantedConversion">
                  <label><input type="radio" name="guaranteed" [checked]="conversion.checked"
                      (change)="filterConversion(conversion)">
                    {{conversion.label}}</label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gl-insprd-lst" [ngClass]="{'gl-insprd-grid': isGridViewDisplay}" id="gl-insprd-grid">
      <ng-container *ngIf="totalNumberOfProducts === 0">
        <div style="display:block !important;text-align: center;">
          <div style="text-align: center;">
            <ng-container *ngIf="!isMobileDevice">
              <img src="../../assets/images/Mask Group 134.png" />
            </ng-container>
            <ng-container *ngIf="isMobileDevice">
              <img src="../../assets/images/Mask Group 137.png" />
            </ng-container>
          </div>
          <div style="text-align: center; display: block;">
            <span style=" display: block;">No results found</span>
            <span>We couldn't find what you're looking for</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="totalNumberOfProducts > 0">
        <div>
          <ng-container
            *ngFor="let  product of productList | paginate: { itemsPerPage: count, currentPage: p }; let num = index">
            <div class="gl-insprd-card gl-shwoffer">
              <div class="gl-toppick" *ngIf="product.isTopPick"></div>
              <div>
                <div class="gl-insprd-logo">
                  <img src='{{"../../assets/images/insurer_logo/"+ product.companyNAICCode +".svg"}}'
                    alt="{{product.productname}}">
                  <span>{{product.companyName}}</span>
                </div>
                <div class="gl-insprd-coverage">
                  <div>
                    <div><a class="gl-protect pb-2">{{product.productname}}</a></div>
                    <a class="gl-cover">${{numberWithCommas(product.faceAmount)}} <span> Life Coverage</span></a>
                  </div>
                </div>
              </div>
              <div>
                <div class="gl-condt">
                  <div>
                    <div class="pb-3">
                      <label>Duration</label>
                      <span>{{product.productYearsLevel}} years</span>
                    </div>
                    <div>
                      <label>Health Rating</label>
                      <span>{{product.healthRatingName}}</span>
                    </div>
                  </div>
                  <div>
                    <div class="pb-3">
                      <label>Company Rating</label>
                      <span>{{product.companyRating}}</span>
                    </div>
                    <div>
                      <label>
                        Speed To Protection
                      </label>
                      <span *ngIf="product.speedToProtectionName ==='greenplus'">
                        <img src="../../assets/images/protection/Green1_List.svg" /> Very High
                      </span>
                      <span *ngIf="product.speedToProtectionName ==='green'">
                        <img src="../../assets/images/protection/Green_List.svg" /> High
                      </span>
                      <span *ngIf="product.speedToProtectionName ==='yellow'">
                        <img src="../../assets/images/protection/Yellow_List.svg" /> Medium
                      </span>
                      <span *ngIf="product.speedToProtectionName ==='red'">
                        <img src="../../assets/images/protection/Red_List.svg" /> Low
                      </span>
                    </div>
                  </div>
                </div>
                <div class="gl-insprd-period">
                  <button type="button" class="btn btn-primary gl-insbreak" (click)="openProductDetails(product)"><b
                      class="mon">Details</b>
                  </button>
                  <button type="button" class="gl-insbutton btn btn-success" (click)="betalaunchModal()">
                    <span>
                      <ng-container *ngIf="paymentModeType==='Monthly'">
                        <b class="mon">{{product.guaranteedMonthlyPremiumAmount}}/Month</b>
                      </ng-container>
                      <ng-container *ngIf="paymentModeType==='Quarterly'">
                        <b class="mon">{{product.guaranteedQuarterlyPremiumAmount}}/Quarterly</b>
                      </ng-container>
                      <ng-container *ngIf="paymentModeType==='SemiAnnual'">
                        <b class="mon">{{product.guaranteedSemiAnnualPremiumAmount}}/Semi-Annual</b>
                      </ng-container>
                      <ng-container *ngIf="paymentModeType==='Annual'">
                        <b class="mon">{{product.guaranteedAnnualPremiumAmount}}/Annual</b>
                      </ng-container>
                      <b class="mon">Protect Now</b>
                    </span>
                  </button>
                  <div class="gl-compare">
                    <label><input type="checkbox" (change)="addToCompare($event,product)">Add to Compare</label>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="totalNumberOfProducts > 0 && productList">
        <!-- Pagination -->
        <div class="gl-insprd-nav">
          <div class="gl-results">View Results per page
            <select class="gl-select sm" [(ngModel)]="count" (change)="updatePageView($event)">
              <ng-container *ngIf="!isGridViewDisplay">
                <option [value]="5">5</option>
                <option *ngIf="totalNumberOfProducts > 5" [value]="10">10</option>
                <option *ngIf="totalNumberOfProducts > 10" [value]="15">15</option>
                <option *ngIf="totalNumberOfProducts > 15" [value]="20">20</option>
                <option [value]="100">All</option>
              </ng-container>
              <ng-container *ngIf="isGridViewDisplay">
                <option [value]="6">6</option>
                <option *ngIf="totalNumberOfProducts > 5" [value]="12">12</option>
                <option *ngIf="totalNumberOfProducts > 10" [value]="18">18</option>
                <option *ngIf="totalNumberOfProducts > 15" [value]="24">24</option>
                <option [value]="100">All</option>
              </ng-container>
            </select>
          </div>
          <div style="text-align: center;">
            <pagination-controls (pageChange)="updatePage($event)"></pagination-controls>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>
<!-- <div class="gl-globalchat">
  <a class="chat">
    <i class="bi bi-chat-dots"></i>
  </a>
  <button type="button" class="btn btn-primary gl-compare">Compare Quotes<b>{{listOfCompareProduct?.length}}</b></button>
</div> -->
<!-- Footer -->
<app-footer-section></app-footer-section>

<!-- Popover Templates -->
<ng-template #filterAllContent>
  <div class="gl-filter-popover">
    <p>To customize the best plan for you, Gondola encourages you to choose filters from each filter
      section that make the most sense for you!
      <a href="#" class="read-more" (click)="readMore('1',$event)">...
        <ng-container *ngIf="isAllReadMore">Read less</ng-container>
        <ng-container *ngIf="!isAllReadMore">Read more</ng-container>
      </a>
    </p>
    <p *ngIf="isAllReadMore">If anything is unclear, a Gondola attendant is always willing to help.</p>
  </div>
</ng-template>
<ng-template #healthContent>
  <div class="gl-healthrate">
    <div>
      <p>Super Healthy</p>
      <div>Clean bill of health, no meds, exercise regularly, ideal weight.</div>
    </div>
    <div>
      <p>Healthy</p>
      <div>No serious health issues, limited meds, exercise or healthy body weight.</div>
    </div>
    <div>
      <p>Average</p>
      <div>One or more health issues, no major health issues in last 5 years, some meds, heavier
        body
        weight possible.</div>
    </div>
    <div>
      <p>Fair</p>
      <div>One or more health issues, possible major health issue in last 5 years, some meds, heavy
        body
        weight possible..</div>
    </div>
    <div>
      <p>Poor</p>
      <div>Two or more health issues, current major health issue, meds or treatment, heavy body
        weight
        possible. <span>If you may identify with this category, Gondola recommends a confidential
          consultation with our professionals (chat & phone option).</span></div>
    </div>
  </div>
</ng-template>
<ng-template #estAssetPop>
  <div class="gl-healthrate">
    <p class="mb-1">Est. Assets is your Net worth = your estimated <a href="#"
        (click)="showInvestAst($event)">investable assets</a>, not including
      the value of your primary home</p>
    <p *ngIf="isInvestAst" class="mb-1"><b>Note:</b></p>
    <p *ngIf="isInvestAst" class="mb-1">Investable Assets - Cash, funds in your bank accounts, money held in retirement
      accounts,
      mutual funds, stocks, bonds, certificates of deposit, and insurance contracts with cash value.
    </p>
  </div>
</ng-template>
<ng-template #speedContent>
  <div class="gl-healthrate">
    <div class="desc">
      <p>Estimated time from application to coverage in-force:

      <div> a. Very High = < 1 hour</div>
          <div>b. High = < 48 hours</div>
              <div>c. Medium = +/- 2 weeks</div>
              <div>d. Low = +/- 6-12 weeks </div>

          </div>
      </div>
</ng-template>
<ng-template #addonsContent>
  <div class="gl-healthrate">
    <div>
      <b class="nameconv">Add-On's</b>
      <p>
        Optional benefits (known in the insurance world as “riders”) for an additional cost that
        may/may not be important to you.
        <a href="#" class="read-more" (click)="readMore('2',$event)">...
          <ng-container *ngIf="addonsReadMore">Read less</ng-container>
          <ng-container *ngIf="!addonsReadMore">Read more</ng-container>
        </a>
      </p>
      <p *ngIf="addonsReadMore">
        To help you decide, here`s Gondola`s summary. To see the cost of an
        Add-On, try adding one or more of the following:
      </p>
      <hr>
      <b class="nameconv">Waiver</b>
      <p>
        Waiver of premium means the carrier “waives” or “pays” the premium for you if
        you,
        the insured, become disabled.
        <a href="#" class="read-more" (click)="readMore('3',$event)">...
          <ng-container *ngIf="waiverReadMore">Read less</ng-container>
          <ng-container *ngIf="!waiverReadMore">Read more</ng-container>
        </a>
      </p>
      <p *ngIf="waiverReadMore">
        To qualify as disabled, carriers usually have you meet the “Social
        Security definition of disabled” but check with a Gondola attendant
        Gondola attendant should be a link to a chat and phone number or a carrier for details on
        their definition of disability.
        Exclusions would usually include pre-existing conditions. Waiver of premium is
        particularly
        helpful if you are concerned about your ability to pay your premiums if
        you were no longer able to work.
        Therefore, typically this rider ends when you reach age 60 or 65.
      </p>
      <hr>
      <b class="nameconv">ADB</b>
      <p>Accidental Death Benefit – think of this as a “cheap way to double your death
        benefit
        if you died under accidental circumstances.”
        <a href="#" class="read-more" (click)="readMore('4',$event)">...
          <ng-container *ngIf="adbReadMore">Read less</ng-container>
          <ng-container *ngIf="!adbReadMore">Read more</ng-container>
        </a>
      </p>
      <p *ngIf="adbReadMore">
        .” Insurance companies define accidental death as an event that strictly occurs as a
        result
        of
        an accident. Death from a car or plane crash, a slip, choking on food, drowning,
        machinery,
        or
        any other situation that can't be controlled would be deemed accidental. In the case of a
        fatal accident, death must occur within a period specified in the policy, usually one year
        from the accident. Accidents typically exclude things like acts of war and death caused by
        illegal activities. Death from an illness is also excluded. Any hazardous hobbies that the
        insured regularly engages in—race car driving, bungee jumping, or any other similar
        activity—are specifically excluded as well. The amount of benefit derived from an
        accidental
        death depends on the specific terms of your carrier’s plan. A common amount would be
        double
        the face value. For example, if your death benefit = $500,000 and it was determined that
        you
        died accidentally, your beneficiary would receive an extra $500,000 for a total of
        $1,000,000.
      </p>
      <hr>
      <b class="nameconv">Child</b>
      <p>
        Child Death Benefit Rider (sometimes called a Guaranteed Insurability Rider) -
        allows a parent to obtain a minimal amount of coverage on their minor child at an
        affordable
        premium, usually without full underwriting.
        <a href="#" class="read-more" (click)="readMore('5',$event)">...
          <ng-container *ngIf="childReadMore">Read less</ng-container>
          <ng-container *ngIf="!childReadMore">Read more</ng-container>
        </a>
      </p>
      <p *ngIf="childReadMore">
        . Because children do not typically have income or assets in their name, it is generally
        not
        possible to buy life insurance on a child. However, if a parent buys a policy, many
        companies
        allow you to add a child death benefit rider to insure the child. This is usually a
        pre-determined minimal amount, such as $25,000, regardless of the amount that you, the
        parent,
        are insured for. Therefore, the additional cost is usually negligible and serves the
        function
        of guaranteeing that the child will have at least some insurance when they become adults
        without having to qualify for it medically at a later time (when, due to possible illness,
        they may not qualify). It can also be seen as a burial policy for the child at minimal
        cost.
      </p>
    </div>
  </div>
</ng-template>
<ng-template #paymentContent>
  <div class="gl-healthrate">
    <p>
      Select how frequently you wish to pay the premiums. Most companies offer a discount for
      paying
      less frequently; therefore, annual mode is usually the cheapest
      <a href="#" class="read-more" (click)="readMore('6',$event)">...
        <ng-container *ngIf="paymentModeType">Read less</ng-container>
        <ng-container *ngIf="!paymentReadMore">Read more</ng-container>
      </a>
    </p>
    <p *ngIf="paymentReadMore">
      . Gondola suggests that if you’re interested in saving your premium dollars, choose annual
      mode
      (note: you will have to manually make a payment online or by check, in most cases). If
      you’re
      most interested in automation, choose monthly bank draft (which allows the company to
      automatically draw premiums each month from your checking account). Quarterly and
      semi-annual
      are not recommended by Gondola because if, for any reasons, you forget to manually make the
      payment, your policy could lapse and your protection would end.
    </p>
  </div>
</ng-template>
<ng-template #conversionContent>
  <div class="gl-healthrate">
    <div>
      <p>This critical feature allows you, the term policy owner, to keep your policy for life by
        allowing you to “convert” to a permanent policy without qualifying medically but at the age
        and price at which you activate the conversion.
        <a href="#" class="read-more" (click)="readMore('7',$event)">...
          <ng-container *ngIf="convertReadMore">Read less</ng-container>
          <ng-container *ngIf="!convertReadMore">Read more</ng-container>
        </a>
      </p>
      <p *ngIf="convertReadMore">
        Most term life insurance is designed to cover a specified number of years, or a term. If you
        don't die first, at the end of the term (usually 10, 15, 20 or 30 years), the policy will
        either
        lapse (cease) or to keep the policy beyond the term the premium will jump dramatically
        higher
        (in many cases, more than 10x). Therefore, again, most term policies are designed with a
        specified window (for example, the first 9 years of a 10 year term policy) during which you
        can
        convert. And, therefore, even if you became un-insurable because of illness, once you
        converted
        your term policy, you would maintain coverage for up to the rest of your life. Lifelong
        policies
        also come with many additional financial benefits that a Gondola attendant (link to chat &
        phone
        number) would be happy to design with you.
        Gondola highly recommends that you a) choose a term policy that IS guaranteed convertible
        and;
        b) that you convert it within the convertibility period with the assistance of a Gondola
        attendant. To see if your quote is convertible and the details of this feature, please click
        on
        the Details button of your quote (located next to the green price button).
        By comparison, non-convertible policies are usually slightly less expensive. If cost is
        critical
        to you, buying a non-convertible policy may be an option. However, please be warned: if your
        health turns for the worst after you purchase this type of policy, you WILL LOOSE COVERAGE
        at
        the end of the term, just when you'd like to keep it most (because you'll know you can no
        longer
        qualify (such as if you've had a severe heart attack, cancer, or other life-threatening
        illness). Again, therefore, for the majority of cases, Gondola encourages you to choose a
        term
        policy that is convertible, know the conversion window you have, and convert it within that
        window to maintain coverage. After all, you'll never be younger and healthier than you are
        today.
      </p>
    </div>
  </div>
</ng-template>
<ng-template #sortByPopOver>
  <div class="gl-sortby">
    <p><a href="#" (click)="sortByOrder($event,'Premium')" class="dropdown-item"
        [ngClass]="isPremiumClicked ? 'active' : ''">
        <i class="sorting-quotes-icon"
          [ngClass]="isPremiumClicked ? isPremiumAsce ? 'bi bi-arrow-down' : 'bi bi-arrow-up' : '' "></i>Premium</a>
    </p>
    <p><a href="#" (click)="sortByOrder($event,'speedToProtection')" class="dropdown-item"
        [ngClass]="isProtectionClicked ? 'active' : ''">
        <i class="sorting-quotes-icon"
          [ngClass]="isProtectionClicked ? isProtectionDesc ? 'bi bi-arrow-up' : 'bi bi-arrow-down' : '' "></i>Speed
        To Protection</a></p>
    <p><a href="#" (click)="sortByOrder($event,'CompanyName')" class="dropdown-item"
        [ngClass]="isCNameClicked ? 'active' : ''">
        <i class="sorting-quotes-icon"
          [ngClass]="isCNameClicked ? isCNameDesc ? 'bi bi-arrow-up' : 'bi bi-arrow-down' : '' "></i>Company
        Name</a></p>
    <p><a href="#" (click)="sortByOrder($event,'CompanyRating')" class="dropdown-item"
        [ngClass]="isRatingClicked ? 'active' : ''">
        <i class="sorting-quotes-icon"
          [ngClass]="isRatingClicked ? isRatingDesc ? 'bi bi-arrow-up' : 'bi bi-arrow-down' : '' "></i>Company
        Rating</a></p>
  </div>
</ng-template>