<div class="side-nav-content">

    <ul class="nav-list" [ngClass]="{'nav-list-open' : sideNavStatus}">
        <li class="nav-list-item" *ngFor="let item of list">
          
            <i class="{{item.icon}}"></i>
            <span>
                <a href="#">{{item.name}}</a>
            </span>
        </li>
        
       
    </ul> 
</div>