
<ng-container *ngIf="message === 'addons'">    
    <div class="header-section">
        <span class="login-header">Add-On's</span>
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <div>
        The Death Benefit amount is $2,000,000.
    </div>
</ng-container>
<ng-container *ngIf="message === 'success'">
    
    <div class="success-header-section  pb-2">
        <span class="success-header"><i class="bi bi-check-circle-fill"></i> Success </span>
    </div>
    <div class="success-message">
       Thank you for choosing Gondola Life.!!
    </div>
    <div class="success-header-section pt-3">
        <button class="btn btn-outline-primary mw150  btn-sm">Close</button>
    </div>
</ng-container>