//Styling for the slider
mat-slider {
    width: 200px;
    color: #164380;
    height: 15px;

}
::ng-deep{
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 20px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 30%;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #164380;
  }
.mat-slider.mat-accent .mat-slider-track-fill, .mat-slider.mat-accent .mat-slider-thumb, .mat-slider.mat-accent .mat-slider-thumb-label {
    background-color: #164380;
}
}
//Styling for the images
.need-1 {
    margin-left: -16%;
    font-family: var(--font-bold);
    padding: 20px;
}
.want-1 {
    font-family: var(--font-bold);
    padding: 20px;
}


.bus-01 {

    padding: 10px;
    width: 130px;
    margin-left: 0px;
    opacity: var(--opacityImg1);
}

.car-01 {
        padding: 10px;
        width: 130px;
        margin-left: 5px;
        opacity: var(--opacityImg2);
    }
.shack-01{
        padding: 10px;
        width: 130px;
        margin-left: 0px;
        opacity: var(--opacityImg3);
    }
    
.villa-01{

    padding: 10px;
    width: 130px;
    margin-left: 5px;
    opacity: var(--opacityImg4);
}
.building-01 {

    padding: 10px;
    width: 130px;
    margin-left: 0px;
    opacity: var(--opacityImg5);
}

.ed-building-01{
    padding: 10px;
    width: 130px;
    margin-left: 5px;
    opacity: var(--opacityImg6);
}


