<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Need Vs Want</h5>
            <button type="button" class="btn-close btn-sm" data-dismiss="modal"  (click)="closeDialog()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <span class="need-1">Need</span>
                </div>
                <div class="want-1 col-md-2 m-auto">
                    Want
                </div>
                <div>
                <div  class = "images-1 pb-4">
                    <img class="bus-01" id="imgManipulated" src="../../assets/images/Bus.png">
                    <mat-slider [formControl]="sliderControl"  aria-label="unit(s)" (change)="getSliderValue($event)"  [displayWith]="formatLabel" (input)="getSliderValue($event)"  type="range" class="range" min="0" max="100" value="0"></mat-slider>
                    <img class="car-01" src="../../assets/images/car.png">
                </div>
                <div class="pb-4">
                    <img class="shack-01" src="../../assets/images/Hut_House.png">
                    <mat-slider aria-label="unit(s)" (change)="getSliderValue1($event)" (input)="getSliderValue1($event)"  type="range" class="range" min="0" max="100" value="0" ></mat-slider>
                    <img class="villa-01" src="../../assets/images/villa.png">
                </div>
                <div class="pb-4">
                    <img class="building-01" src="../../assets/images/building.png">
                    <mat-slider aria-label="unit(s)" (change)="getSliderValue2($event)" (input)="getSliderValue2($event)"  type="range" class="range" min="0" max="100" value="0" ></mat-slider>
                    <img class="ed-building-01" src="../../assets/images/educational-building.png">
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer border-0 justify-content-between d-flex">
            <div><button class="btn btn-outline-success mw150" (click)="closeDialog()">Cancel</button></div>
            <div><button class="btn btn-success mw150" (click)="closeDialog()">Next</button></div>
        </div>
    </div> 
</div>