<!-- <button  type="button" class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
</button> -->
<header>
    <div class="menu-bar">
        <div id="min-lnav" class="ico-menu" gl-title="Menu" (click)="gondolaService.toggleSideNav()"></div>
    </div>
    <figure class="logo">
        <img src="../../assets/images/gondola-life.png">
    </figure>
    <div class="profile">
        <a class="ico-notification alert" gl-title="Notification"></a>
        <div class="gl-myacc ddown">
            <a class="act-user">
                <img src="../../assets/images/user_logo.png">
            </a>
            <span>{{this.gondolaService.firstname}}</span>
            
            <div class="ico-angle-down btm rht">
            </div>
        </div>
    </div>
</header>