#content{
    text-align: center;
}
.navbar-brand{
    left:0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -50px;
}

.num{

margin-left: 50%;
margin-right: 10%;
padding: 10px;
}

::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed; 
  z-index: 9999 !important;
}

.calc-name{
    font-size: 60px;
    font-family: 'Dancing-Script-Bold';
    color: rgb(3, 105, 153); 
    margin-left: 36%;
}
.calc-back{
    font-size: 20px;
    //color: #0097e6;
    font-family: 'Manrope-Semibold';
    cursor: pointer;
}
.image-section{
    margin-left: 18%;
}
.image-1{
    padding-left: 5px;
}
.gl-howto-item{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    gap: 20px;
    box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
    margin: 20px;
}