
:host ::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  .modal-dialog{
      margin: 0 !important;
  }
  .modal-content{
    border: 0px solid #eff9ff !important;
  }

  ::ng-deep .cdk-overlay-container {
    /* Do you changes here */
    position: fixed; 
    z-index: 9999 !important;
  }
  
 .gl-disc-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 15px 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
}

.gl-disc-item p{
  font-size: 14px;
  font-family: 'Manrope-Regular';
  //margin-bottom: 0 !important;
}

.pop-title {
    color: #0097e6;
    font-size: 28px;
    font-family: var(--font-semibold);
    border: none;
}


.body-height{
  height: 600px !important;;
  overflow-y: auto !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb { 
  background: #55aa55;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55aa55;
  border-radius: 10px;
}