<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body body-height text-center">
            <div class="row">
                <div class="col-md-12 m-auto">
                    <div class="">
                        <img class="img-fluid" src="../../assets/images/staging_disclaimer.png">
                    </div>
                    <div class="text-center">
                        <span class="gl-title pop-title">Disclaimer</span>
                        <div class="gl-disc-item">
                            <p>Thank you for your interest in Gondola Life! By clicking “Enter Now” below, you
                                acknowledge that you are entering a staging site for Gondola Life that is in development
                                and not intended for public business transactions, that the content provided may or may
                                not be accurate and that Gondola Life gives no assurance or guarantee regarding its
                                accuracy, timeliness, completeness or applicability. Please confirm your understanding
                                and enjoy a preview of the next great virtual insurance marketplace!</p>
                        </div>
                        <div class="popup-footer border-0 justify-content-center d-flex">
                            <div><button class="btn btn-success mw150" (click)="closeDialog()">Enter Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>