<!-- Top Nav -->
<header>
    <nav class="navbar navbar-expand-sm navbar-light shadow-sm fixed-top">
        <div class="container">
            <figure class="gl-logo">
                <a class="navbar-brand"><img alt=""
                        src="../../assets/images/gondola-life.png" alt="Gondola Life" /></a>
            </figure>
        </div>
    </nav>
</header>
<div class="div-style">
    <span>Total Products  - {{totalNumberOfProducts}}</span>
    <span class="ms-3">Click here <input type="checkbox" (change)="getQuotes($event)"> if you want to filter with NAIC Code </span>
</div>
<ngx-spinner style="background-color: rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Tailoring your protection options now… </p>
  </ngx-spinner>
<table class="table-style">
    <tbody>
        <tr>
            <td>S.No</td>
            <td>Career Name</td>
            <td>Naic Code</td>
            <td>Product Name</td>
            <td>Amount</td>
            <td>Duration</td>
            <td>Health Rating ID</td>
            <td>Health Rating</td>
            <td>Table Rating ID</td>
            <td>UW Class ID</td>
            <td>UW Class</td>
            <td>Company Ratings</td>
            <td>Conversion Text</td>
            <td>Monthly Premium</td>
            <td>Annual Premium</td>
        </tr>
        <ng-container *ngFor="let  product of productList ; let num = index">
            <tr>
                <td>{{num+1}}</td>
                <td>{{product.companyName}}</td>
                <td>{{product.companyNAICCode}}</td>
                <td>{{product.productname}}</td>
                <td>${{numberWithCommas(product.faceAmount)}}</td>
                <td>{{product.productYearsLevel}} years</td>
                <td>{{product.healthRatingId}}</td>
                <td>{{product.healthRatingName}}</td>
                <td>{{product.tableRatingId}}</td>
                <td>{{product.underWritingClassId}}</td>
                <td>{{product.underWritingClass}}</td>
                <td>{{product.companyRating}}</td>
                <td>{{product.conversionname}}</td>
                <td>{{product.guaranteedMonthlyPremiumAmount}}</td>
                <td>{{product.guaranteedAnnualPremiumAmount}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<app-footer-section></app-footer-section>