.table-style{
    border-collapse: collapse;
    width: 90%;
    border: 1px solid grey;
    margin: 1rem auto;
}

.div-style{
    margin: 6rem 0 0 4.5rem;
}

thead, tbody, tfoot, tr, td, th {
    border-color: grey;
    border-style: solid;
    border-width: 0;
    border: 1px solid grey;
    padding-left: 0.5rem;
}