<app-admin-dashboard (sideNavToggled)="sideNavStatus = $event;"></app-admin-dashboard>
<main>
<app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-side-nav>
<div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
    <div class="col-10">
        <ul style="list-style-type:none;">
            <img class="dash-1" src="../../assets/images/dashboard/dashboard - 1.png">
            <li class="dash-2">Dashboard</li>
        </ul>
<div class="mt-table-2">
    <table class="table table-bordered">
        <thead class="table-calculator">
            <tr class="table_row">
                <td>
                    S.No    
                </td>
                <td>
                    First Name 
                </td>
                <td>
                    Email Address
                </td>
                <td>
                   Phone Number
                </td>
                <td>
                    IP Address
                </td>
                
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let val of betaUserList">
                <tr class="table_row">
                    <td>{{val.id}}</td>
                    <td>{{val.username}}</td>
                    <td>{{val.emailaddress}}</td>
                    <td>{{val.phonenumber}}</td>
                    <td>{{val.ipaddress}}</td>  
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
