<!-- <ng-container *ngIf="isUserCall">
  <ngx-spinner style="background-color: rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait Loading… </p>
  </ngx-spinner>
</ng-container>
<ng-container *ngIf="!isUserCall"> -->
  <!-- Top Nav -->
  <header>
    <app-navbar-header></app-navbar-header>
  </header>


  <section class="container position-relative pt-sm-3 pt-md-5 pt-lg-5">
    <div class="text-center mt-5 pt-5 pb-2">
      <ng-container *ngIf="!isMobileDevice">
        <img src="../../assets/images/gondola-life-logo-web.svg" class="img-fluid" alt="Gondola Life">
      </ng-container>
      <ng-container *ngIf="isMobileDevice">
        <img src="../../assets/images/gondola-life-logo-mobile.svg" class="img-fluid" alt="Gondola Life">
      </ng-container>
    </div>
    <div class="text-center pt-sm-3 pt-md-3 pt-lg-3 pb-sm-3 pb-md-3 pb-lg-3">
      <span class="more-options border-right">More carriers.</span>
      <span class="more-options border-right">More policy options.</span>
      <span class="more-options">Best choice.</span>
    </div>

    <div class="text-center pb-sm-5 pb-md-5 pb-lg-5">
      <h1 class="gl-searchques">It’s That Simple.</h1>
    </div>
    <!-- <div *ngIf="isMobileDevice" class="text-center pt-sm-3 pt-md-5 pt-lg-5 pb-sm-3 pb-md-3 pb-lg-3 all-insurance-header">
    <h1 class="gl-searchques">It’s That Simple.</h1>
  </div> -->
    <div *ngIf="!isSearchScreenForMobile && isMobileDevice"
      class="flex-shrink-0 d-flex align-items-center get-quote-now-button">
      <button class="btn btn-primary btn-success gl-btnsearch"
        (click)="isSearchScreenForMobile = !isSearchScreenForMobile" type="button">
        Get Quote Now</button>
    </div>
    <ng-container *ngIf="!isMobileDevice || isSearchScreenForMobile">
      <div class="gl-search m-auto">
        <form [formGroup]="quoteDetailsForm" (keydown)="enteredQuotes($event)" (submit)="submitQuotes()"
          autocomplete="off">
          <div class="gl-search-select p-b-20">
            <div class="radio-class">
              <label for="Gender"></label>
              <input type="radio" class="radio-class-input" name="gender" value="Male" formControlName="gender"
                (change)="updateGender($event)" [checked]="gender === 'Male'" />
              <label for="Male" class="radio-class-label">Male</label>
              <input type="radio" class="radio-class-input" name="gender" value="Female" formControlName="gender"
                (change)="updateGender($event)" [checked]="gender === 'Female'" />
              <label for="Female" class="radio-class-label">Female</label>
            </div>
            <div class="radio-class">
              <label for="smoker"></label>
              <input type="radio" class="radio-class-input" name="isSmoker" value="1" formControlName="isSmoker"
                [checked]="isSmoker === '1'" (change)="updateSmoker($event)" />
              <label for="nonsmoker" class="radio-class-label">Non-Smoker</label>
              <input type="radio" class="radio-class-input" name="isSmoker" value="3" formControlName="isSmoker"
                [checked]="isSmoker === '3'" (change)="updateSmoker($event)" />
              <label for="Smoker" class="radio-class-label">Smoker</label>
            </div>
            <div class="radio-class">
              <label for="working"></label>
              <input type="radio" class="radio-class-input" name="isWorking" value="1" formControlName="isWorking"
                [checked]="isWorking === '1'" (change)="updateWorking($event)" />
              <label for="working" class="radio-class-label">Working</label>
              <input type="radio" class="radio-class-input" name="isWorking" value="2" formControlName="isWorking"
                [checked]="isWorking === '2'" (change)="updateWorking($event)" />
              <label for="Retired" class="radio-class-label">Retired</label>
            </div>
          </div>
          <div class="gl-search-form">
            <div class="form-floating mw130">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill" panelHeight="290px">
                <mat-label>Amount of Protection</mat-label>
                <input type="text" aria-label="Number" matInput formControlName="amount" [matAutocomplete]="auto"
                  (blur)="convertAmount($event)" (keyup)="convertAmount($event)" (focus)="onFocusAmount($event)"
                  (paste)="allowNumeric($event)" (keypress)="allowNumeric($event)" maxlength="11"
                  formControlName="amount" [(ngModel)]="amount" id="amountProtection">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                  (optionSelected)="validateOnSelect('amount',$event.option.value)">
                  <mat-option *ngFor="let option of filteredAmountOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('amount')!.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('amount')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for $25,000 or more.
              </div>
            </div>
            <div class="form-floating mw130">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Years of Protection</mat-label>
                <input type="text" aria-label="Number" matInput [matAutocomplete]="auto1"
                  (keyup)="validateOnKeyUp('years', $event)" (paste)="allowNumeric($event)"
                  (keypress)="allowNumeric($event)" maxlength="2" formControlName="years" [(ngModel)]="years"
                  id="yearProtection">
                <mat-autocomplete class="custom-scroll" autoActiveFirstOption #auto1="matAutocomplete"
                  (optionSelected)="validateOnSelect('years',$event.option.value)">
                  <mat-option *ngFor="let option of filteredYearsOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('years')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('years')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for 10 or more Years
              </div>
            </div>
            <div class="form-floating mw70">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Age</mat-label>
                <input type="text" aria-label="Number" matInput (paste)="allowNumeric($event)"
                  (keyup)="validateOnKeyUp('age', $event)" (keypress)="allowNumeric($event)" maxlength="2"
                  formControlName="age" [(ngModel)]="age" id="Age">
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('age')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('age')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please search for plans between ages 18-80
              </div>
            </div>
            <div class="form-floating mw130">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>State</mat-label>
                <input type="text" aria-label="String" matInput [matAutocomplete]="auto2" formControlName="statename"
                  (keyup)="validateOnKeyUp('state', $event)" [(ngModel)]="statename">
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"
                  (optionSelected)="validateOnSelect('state',$event.option.value)" [displayWith]="displayStateFn">
                  <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="error-field" *ngIf="isSubmitDone && quoteDetailsForm.get('statename')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('statename')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please select/enter a valid State
              </div>
            </div>
            <div class="form-floating mw130">
              <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                <mat-label>Est. Annual Income</mat-label>
                <input type="text" aria-label="Number" matInput (blur)="convertIncome($event)"
                  (paste)="allowNumeric($event)" (keyup)="convertIncome($event)" (focus)="onFocusIncome($event)"
                  (keypress)="allowNumeric($event)" maxlength="12" formControlName="estAnnualIncome"
                  [(ngModel)]="estAnnualIncome">
              </mat-form-field>
              <div class="error-field"
                *ngIf="isSubmitDone && quoteDetailsForm.get('estAnnualIncome')?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Field is required
              </div>
              <div class="error-field" *ngIf="quoteDetailsForm.get('estAnnualIncome')?.hasError('invalid')">
                <i class="bi bi-exclamation-circle-fill"></i>
                Please enter an income of $25,000 or more.
              </div>
            </div>
            <div class="form-floating mw150">
              <ng-container *ngIf="isWorking === '1'">
                <mat-form-field class="gl-mat-autocomplete" appearance="fill">
                  <mat-label>Est. Retirement Age</mat-label>
                  <input type="text" aria-label="Number" matInput (paste)="allowNumeric($event)"
                    (keyup)="validateOnKeyUp('estretireage', $event)" (keypress)="allowNumeric($event)" maxlength="3"
                    formControlName="estRetirementage" [(ngModel)]="estRetirementage" id="estRetirement">
                </mat-form-field>
                <div class="error-field"
                  *ngIf="isSubmitDone && quoteDetailsForm.get('estRetirementage')?.hasError('required')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Field is required
                </div>
                <div class="error-field" *ngIf="quoteDetailsForm.get('estRetirementage')?.hasError('invalid')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Please enter a greater than your current Age, or select the Retired radial button.
                </div>
              </ng-container>

              <ng-container *ngIf="isWorking === '2'">
                <mat-form-field class="gl-mat-autocomplete" appearance="fill" [ngbPopover]="estAssetPop"
                  placement="bottom" popover-trigger="focus" [autoClose]="'outside'">
                  <mat-label>Est. Assets</mat-label>
                  <input type="text" aria-label="Number" matInput (blur)="convertAssets($event)"
                    (keyup)="convertAssets($event)" (paste)="allowNumeric($event)" (keypress)="allowNumeric($event)"
                    maxlength="13" formControlName="estAssets" [(ngModel)]="estAssets" id="estAsset"
                    placeholder="Est. Assets">
                </mat-form-field>
                <div class="error-field"
                  *ngIf="isSubmitDone && quoteDetailsForm.get('estAssets')?.hasError('required')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Field is required
                </div>
                <div class="error-field" *ngIf="quoteDetailsForm.get('estAssets')?.hasError('invalid')">
                  <i class="bi bi-exclamation-circle-fill"></i>
                  Please enter a net worth of $100,000 or more.
                </div>
              </ng-container>
            </div>
            <div *ngIf="!isMobileDevice" class="flex-shrink-0 d-flex align-items-center">
              <button class="btn btn-primary btn-success gl-btnsearch" type="submit"><i
                  class="bi bi-search"></i>Search</button>
            </div>
            <div *ngIf="isMobileDevice" class="flex-shrink-0 d-flex align-items-center">
              <button class="btn btn-primary btn-success gl-btnsearch" type="submit"><i class="bi bi-search"></i>See
                Quotes</button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <div class="table_recent" *ngIf="recentQuotesList.length > 0">
      <span class="recent-searches">Your Recent Search</span>
      <!-- <span class="clear_1">x Clear</span> -->
      <ng-container *ngFor="let val of recentQuotesList;  let i=index">
        <ng-container *ngIf="i < 3">
          <div class="mt-table-2" (click)="getQuotesFromRecentSearch(val)">
            <table class="table table-borderless table-hover">
              <thead class="table-calculator">
                <tr class="table_row_1">
                  <td>
                    Gender
                  </td>
                  <td>
                    Smoker/Non-Smoker
                  </td>
                  <td>
                    Working/Retired
                  </td>
                  <td>
                    Amount of Protection
                  </td>
                  <td>
                    Years of Protection
                  </td>
                  <td>
                    Age
                  </td>
                  <td>
                    State
                  </td>
                  <td>
                    Est Annual Income
                  </td>
                  <td>
                    Est Retirement Age
                  </td>
                </tr>
              </thead>
              <thead class="table-calculator">
                <tr class="table_row">
                  <td>{{val.gender}}</td>
                  <td>{{val.smoker}}</td>
                  <td>{{val.working}}</td>
                  <td>${{val.amount}}</td>
                  <td>{{val.years}}</td>
                  <td>{{val.age}}</td>
                  <td>{{val.statename}}</td>
                  <td>${{val.annualincome}}</td>
                  <td>{{val.expectedretirementage}}</td>
                </tr>
              </thead>
            </table>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </section>
  <ng-container *ngIf="!isSearchScreenForMobile">
    <section class="container-fluid mt-3 pt-3 pb-3 gl-dbg1">
      <div class="mt-4 mb-4 sm-3 md-5 lg-5 sm-3 md-5 lg-5">
        <div class="top-insurer-container">
          <div class="top-insurer-header">
            <div class="gl-home-headers">Our Insurers</div>
            <div class="gl-top-insurers-info"> Gondola Life helps you quickly and easily navigate the marketplace of 30+
              insurance carriers and 100+ protection products to help you arrive at the best choice for you and your
              unique circumstances.</div>
          </div>
          <div class="vendor-item-content">
            <ng-container *ngIf="!isMobileDevice">
              <carousel [interval]="sliderInterval" [itemsPerSlide]="itemsPerSlide" [showIndicators]="showIndicator">
                <slide *ngFor="let vendor of vendorImages; let index=index" [ngClass]="{'fade-out' : !showIndicator}">
                  <img class="vendor-image-slider" src='{{"../../assets/images/insurer_logo/"+ vendor}}'
                    alt="image slide">
                </slide>
              </carousel>
            </ng-container>
            <ng-container *ngIf="isMobileDevice">
              <carousel [interval]="sliderInterval" [itemsPerSlide]="itemsPerSlide" [showIndicators]="showIndicator">
                <slide *ngFor="let vendor of vendorImages; let index=index" [ngClass]="{'fade-out' : !showIndicator}">
                  <img class="vendor-image-slider" src='{{"../../assets/images/insurer_logo_mobile/"+ vendor}}'
                    alt="image slide">
                </slide>
              </carousel>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- <div class="gl-logoico"></div>
    <div class="gl-setico"></div>  -->
    </section>
  </ng-container>
  <ngx-spinner style="background-color: rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Tailoring your protection options now… </p>
  </ngx-spinner>
  <section class="container" [ngClass]="{'solution-section' : !isSearchScreenForMobile && !isMobileDevice}">
    <div #dvscrollsolutions class="pb-5"></div>
    <ng-container *ngIf="!isSearchScreenForMobile">
      <div class="mt-5 pt-5" data-bs-spy="scroll" id="dvscrollsolutions" class="gondola-solution-container">
        <div class="gl-solution">

          <div class="gl-head">
            <span class="gl-home-headers">Solution</span>
          </div>

          <div class="row">
            <div class="col-md-9 m-auto">
              <div class="row">
                <div class="col-md-6">
                  <div class="gl-solu-item">
                    <img src="../../assets/images/insurance.png" width="75">
                    <p>Until now, buying life insurance was a long,
                      expensive, confusing process involving an insurance
                      agent, medical test, medical records, product
                      options and many weeks.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="gl-solu-item">
                    <img src="../../assets/images/internet.png" width="75">
                    <p>Now, with our 100% virtual process you can get an
                      instant quote without speaking to anyone, choose an
                      affordable plan, skip the medical exam and have your
                      protection in place all literally in minutes .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </ng-container>
  </section>

  <div #dvscrollhowunique id="dvscrollhowunique" class="pb-1"></div>
  <ng-container *ngIf="!isSearchScreenForMobile">
    <section class="container-fluid mt-5 pt-5 pb-5 gl-dbg">

      <div class="gl-unique container pt-2 pb-2">
        <div class="gl-unique-head pb-sm-4 pb-md-5 pb-lg-4">
          <span class="gl-home-headers"><b>How Unique is </b> <span><img src="../../assets/images/gl_unique_logo.png"
                class="img-fluid gl-unique-list-img" alt="Gondola Life"></span>?</span>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="gl-unique-list">
              <div>
                <div><img src="../../assets/images/gl_unique_check.svg" />
                  Quotes so <span class="uni-green">FAST</span> you'll have enough time to finish your latest
                  binge-watch
                  series.
                </div>
                <div><img src="../../assets/images/gl_unique_check.svg" />
                  <span class="uni-blu">MORE</span> quotes from <span class="uni-blu">MORE</span> companies than stars.
                </div>
                <div><img src="../../assets/images/gl_unique_check.svg" />
                  Best Price? How about the plan with the <span class="uni-blu">BEST</span> feels?
                </div>
                <div><img src="../../assets/images/gl_unique_check.svg" />
                  Check out our bougie Income Tank to get you the most <span class="uni-meg">PROTECTION</span>.
                </div>
                <div><img src="../../assets/images/gl_unique_check.svg" />So <span class="uni-meg">EASY</span>, your dog
                  can do it too.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </ng-container>

  <div #dvscrollhowto id="dvscrollhowto" class="pb-1"></div>
  <ng-container *ngIf="!isSearchScreenForMobile">
    <section class="container mt-5 pt-5" data-bs-spy="scroll">

      <div class="gl-head">
        <span class="gl-title">How To</span>
      </div>

      <div class="gl-howto">
        <div class="row text-center">
          <div class="col-md-4 gl-howto-item pointer" (click)="openCalcPop()">
            <img src="../../assets/images/process1.png">
            <p>Step 1. Calculate how much you want and compare quotes</p>
          </div>
          <div class="col-md-4 gl-howto-item">
            <img src="../../assets/images/process2.png">
            <p>Step 2. Apply</p>
          </div>
          <div class="col-md-4 gl-howto-item">
            <img src="../../assets/images/process3.png">
            <p>Step 3. Get protection and peace now</p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <button class="btn btn-primary btn-success gl-insquotes" (click)="gotoQuotes()">Get Quote Now</button>
        </div>
      </div>

    </section>
  </ng-container>
  <div #dvscrollbuildconfidence id="dvscrollbuildconfidence" class="pb-1"></div>
  <ng-container *ngIf="!isSearchScreenForMobile">
    <section class="container mt-5 pt-5" data-bs-spy="scroll">
      <div class="gl-head">
        <span class="gl-title">Build Confidence</span>
      </div>

      <div class="gl-bconfi">
        <div class="row">
          <div class="col-md-4">
            <div class="gl-bconfi-item" (click)="openBuildConfidence('LifeInsurance1')">
              <img src="../../assets/images/video1.png">
              <p>Life insurance…what is it really?</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gl-bconfi-item" (click)="openBuildConfidence('LifeInsurance2')">
              <img src="../../assets/images/video2.png">
              <p>Types of life insurance?</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gl-bconfi-item" (click)="openBuildConfidence('LifeInsurance3')">
              <img src="../../assets/images/video3.png">
              <p>Lifelong benefits</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="gl-bconfi-item" (click)="openBuildConfidence('LifeInsurance4')">
              <img src="../../assets/images/video4.png">
              <p>Life Insurance Myths</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gl-bconfi-item" (click)="openCalcPopup()">
              <img src="../../assets/images/video5.png">
              <p>Calculate how much I want</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gl-bconfi-item">
              <img src="../../assets/images/video6.png" (click)="openCalcPopup()">
              <p>Life insurance calculator</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </ng-container>
  <!-- Footer -->
  <app-footer-section></app-footer-section>
  <ng-template #estAssetPop>
    <div class="gl-healthrate">
      <p class="mb-1">Est. Assets is your Net worth = your estimated <a href="#"
          (click)="showInvestAst($event)">investable assets</a>, not including
        the value of your primary home</p>
      <p *ngIf="isInvestAst" class="mb-1"><b>Note:</b></p>
      <p *ngIf="isInvestAst" class="mb-1">Investable Assets - Cash, funds in your bank accounts, money held in
        retirement
        accounts,
        mutual funds, stocks, bonds, certificates of deposit, and insurance contracts with cash value.
      </p>
    </div>
  </ng-template>
  <ng-template #mobilePop>
    <div class="gl-healthrate">
      <span><i class="bi bi-telephone-fill"></i> +1-(305)-390-4077</span>
    </div>
  </ng-template>
<!-- </ng-container> -->