/* CSS From Styles.scss file */












/* Styles.scss End */

/* Existing CSS */
.error-field{
  font-family: 'Manrope-Regular';
  font-size: 14px;
  line-height: 1.4;
  color: red !important;
  padding-top: 5px;
}
.vendor-item-content ::ng-deep .carousel-control{
  display:none;
}
.vendor-item-content ::ng-deep .carousel-inner{
  display:block !important;
}
.gondola-solution-container{
  margin-top:12px !important;
  padding-top:12px !important;
}
.radio-class{
  padding: 5px 5px;
  font-size: 14px !important;
  font-family: var(--font-medium);
  background-color: #eff9ff;
}
.radio-class label{
  padding-right: 15px !important;
}
.radio-class-label{
  padding-left: 5px !important;
}
.radio-class-input{
  padding-right: 10px !important;
  cursor: pointer !important;
}
.us-them-1{
  color: #5ab43f;
  font-size: 18px;
  font-family: 'Manrope-Bold';
}
.us-them-2{
  color: #ff0000;
font-size: 18px;
font-family: 'Manrope-Bold';
}
:host ::ng-deep .mat-form-field{
  display: inline-block;
  position: relative;
  text-align: left;
  height: 50px !important;
  font-size: 14px !important;
  font-family: "Manrope-Semibold";
  letter-spacing: normal;
}

.custom-dialog-container .mat-dialog-container {
  display: block;
  padding: 0px;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
::ng-deep .custom-dialog-container {
  mat-dialog-container {
    padding: 0 !important;
    border-radius: 25px !important;
  }
}
.gl-search-form .form-floating > .form-control {
  //height: calc(2.5rem + 6px) !important;
  font-size: var(--fs-15);
  height: 50px !important;
}

::ng-deep .cdk-overlay-pane .mat-autocomplete-panel{
  max-height: 290px !important;
  .mat-option{
    height: 40px !important;
  }
}

.table_recent{
  width: 90%;
  margin: auto;
}
.recent-searches{
  color:#164380;
  font-family: 'Manrope-Semibold';
  font-size: 15px;
}
.clear_1{
  color: rgb(8, 102, 209);
  font-size: 13px;
}
.table_row{
  font-family: 'Manrope-Semibold';
  font-size: 14px;
  color: #000;
}
.table_row_1{
  font-size: 10px;
  font-family: 'Manrope-Regular';
  color: #000;
}
.mt-table-2{
  cursor: pointer;
  width: 100%;
  border-radius: 5px;  
  margin: 10px 0;
  padding: 0px 20px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
}
.mt-table-2:hover{
  cursor: pointer;
  box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
  width: 100%;
  margin: 10px;  
  margin: 10px 0;
  padding: 0px 20px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #e6e6e6;
  background-color: rgba(231, 231, 231, 0.08);
}
.table-borderless{
  margin-bottom: 0.5rem !important;
}