::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed; 
  z-index: 9999 !important;
}
.modal-dialog{
    margin: 0 !important;
}
.modal-content{
  border: 0px solid #eff9ff !important;
}

.poplist
{
  text-align: justify;
  margin-top: 13px;
  padding-left: 1rem !important;
}
.poptext
{
  position: absolute;
  top: 24rem;
  width: 740px;
  text-align: justify;
}
.popupimg
{
  position: absolute;
}
.popup-image img
{
  width: 100%;

}
  .popup-head-close{
  padding: 1rem 1.5rem;
}

.popup-head-close{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content:flex-end;
}
.popup-image
{
padding: 0px !important;
}

.gondie-title {
  color: #0097e6;
  font-size: 28px;
  font-family: var(--font-semibold);
  border: none;
  margin: 10px;
}
@media only screen and (min-width: 370px) and (max-width: 650px)  {
.poptext {
  position: relative;
  top: 8.2rem;
  height: 660px;
}
}
@media only screen and (min-width: 651px) and (max-width: 900px)  {
.poptext {
  position: relative;
  top: 11rem;
  height: 645px;
}
}
::ng-deep .mat-dialog-container {
  display: block;
  padding: 0px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.body-height{
    height: 700px !important;
    width: 780px;
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: #55aa55;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55aa55;
    border-radius: 10px;
  }

  .gl-subhead{
    font-size: 22px !important;
  }

.font-content{
  font-size: 14px !important;
  font-family: var(--font);
}

.mb-025{
  margin-bottom: 0.25rem !important;
}