<!-- <div class="modal-dialog  modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close btn-sm" data-dismiss="modal" (click)="closeDialog()" aria-label="Close"></button>
        </div>
        <div class="modal-body body-height">
            <div class="text-center">
                <img class="img-fluid" src="../../assets/images/Invite_Web.png">
                <h4 class="mb-3 mt-3 gl-subhead">You’re Invited to our Beta launch test!</h4>
            </div>
            <div class="row">
                <div class="col-md-11 m-auto">
                    <div class="font-content">
                        <form>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Email ID</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                        </form>
                        <p class="mb-025">Gondola Life is hard at work building the rest of your Gondola ride to get you safely through
                            your application process. </p>
                        <p class="mb-025">
                            However, we invite you to join our Gondola Life Beta testing group to be among the first
                            to test the complete features of shopping, comparing and applying for your life insurance
                            protection, all online or with the aid of one of Gondola Life’s helpful agents. It’s all
                            coming very soon. Just leave us your name and email. and we’ll give you the inside scoop.
                        </p>
                        <p>Have a Gondola Life! </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-between d-flex">
                <div><button class="btn btn-outline-success mw150" (click)="closeDialog()">Back to Quote</button></div>
                <div><button class="btn btn-success mw150">Submit</button></div>
            </div>
        </div>
    </div>
</div> -->

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
        </div>
        <div class="modal-body text-center  body-height">
            <div class="row">
                <div class="col-md-12 m-auto">
                    <div class="text-center popupimg">
                        <img src="../../assets/images/Gondie-tester.png">
                    </div>
                    <div class="mb-4 text-center poptext">
                        <span class="gl-title gondie-title ">Hey there Gondie tester!</span>
                        <ul class="poplist">
                            Thanks for helping us test the trails this early in the season. However, our advanced level
                            Protect Now application trails still have the snow guns blasting all day. Once we’ve built
                            up enough base snow, our Gondola Trail Groomers will smooth them out and we’ll be open for
                            you to hit all our trails.</ul>
                        <ul class="poplist">In the meantime, please check out the rest of Gondola Village. Please feel
                            free to let us know what your experience is at any time.
                        </ul>
                        <ul class="poplist">
                            We’ll be in touch with you and the rest of the Gondola Life family once our trails are fully
                            open. Enjoy the Gondola Life!</ul>

                        <div class="popup-footer border-0 justify-content-center d-flex">
                            <div><button class="btn btn-success mw150" (click)="closeDialog()">Got It</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>