.calc-modal{
    font-family: 'Manrope-Semibold' !important;
    font-size: 12px !important;
}

.gl-bold{
    font-size: 14px !important;
}

.modal-dialog{
    margin: 0.2rem !important;
}
.tool-tip1{
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: -41px;
    width: 15px;
}
.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%);
}
.mat-tooltip1{
    background-color: white;
    color: black;
}
::ng-deep .mat-tooltip{
    // background-color: white;
    color: black;

}
.after-result{
    
}
.bg-color-input{
    background: #efefef !important;
}