
.custom-dialog-container .mat-dialog-container {
    display: block;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  ::ng-deep .custom-dialog-container {
    mat-dialog-container {
      padding: 0 !important;
      border-radius: 10px !important;
    }
  }