<nav class="navbar navbar-expand-sm navbar-light shadow-sm fixed-top">
    <div class="container">
      <figure class="gl-logo">
        <a class="navbar-brand" href="{{ gondolaService.appURL }}"><img alt="" src="../../assets/images/gondola-life.png"
            alt="Gondola Life" /></a>
      </figure>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" attr.data-target="#navbarCollapse"> -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse flex-grow-0" id="navbarCollapse" [ngbCollapse]="!isCollapsed">
        <ul class="nav align-items-center gl-toplnk">
          <li class="nav-item"><a class="nav-link active" (click)="navigateToHome()" [ngClass]="{'active-selected' : gondolaService.isHome}">Home</a></li>
          <li class="nav-item"><a (click)="navigateToInvite()" class="nav-link active" [ngClass]="{'active-selected' : gondolaService.IsInvite}" >Invite</a></li>
          <li class="nav-item"><a (click)="navigateToThisIsUs()"class="nav-link active" [ngClass]="{'active-selected' : gondolaService.IsThisUs}" >This Is Us</a></li>
          <li class="nav-item"><a (click)="openCalcPopup()" class="nav-link active"  [ngClass]="{'active-selected' : gondolaService.IsCalc}">Calculators</a>
          </li>
          <li class="nav-item"><a class="nav-link active"(click)="navigateToHome('dvscrollhowunique'); navigateToSection('dvscrollhowunique')" >How Unique</a>
          </li>
          <li class="nav-item"><a class="nav-link" (click)="navigateToHome('dvscrollhowto');navigateToSection('dvscrollhowto')">How To</a></li>
          <li class="nav-item"><a class="nav-link" (click)="navigateToHome('dvscrollbuildconfidence');navigateToSection('dvscrollbuildconfidence')">Build
              confidence</a></li>
          <li class="nav-item"><a class="nav-link pointer" [ngbPopover]="mobilePop" placement="bottom">
              <img src="../../assets/images/Call-Circle.svg" class="img-fluid" alt="Call-Circle">
            </a>
          </li>
          <li class="nav-item"><a class="nav-link pointer"><button
                class="btn btn-outline-primary btn-outline-primary-login nav-link" type="button"
                (click)=" openAdminDashboard()">Login</button></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-template #mobilePop>
    <div class="gl-healthrate">
      <span><i class="bi bi-telephone-fill"></i> +1-(305)-390-4077</span>
    </div>
  </ng-template>