<header>
    <app-navbar-header></app-navbar-header>
</header>

<ng-container *ngIf="pageName === 'LifeInsurance1'">
    <section class="container mt-5 pt-5" data-bs-spy="scroll" id="dvscroll-howto">
        <div class="gl-howto pt-4">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-6">
                        <div>
                            <span class="gl-buildconf-head">Life insurance… <br> What is it really?</span>
                        </div>
                        <div class="gl-buildconf-subhead">
                            <p><b>Congratulations on your curiosity! For some, the <br>very words, “life insurance” can
                                    conjure up feelings<br> of doubt and uncertainty.</b></p>
                        </div>
                        <div class="flex-shrink-0 d-flex align-items-center">
                            <div class="col-md-12">
                                <ng-container *ngIf="!isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        More</button>
                                </ng-container>
                                <ng-container *ngIf="isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        Less</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/Life insurance.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- Center section -->
    <ng-container *ngIf="isreadMore">
        <section class="container ">
            <div class="gl-bconfi">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gl-buildconf-really-item">
                            <span>However, the reality is VERY SIMPLE: </span>
                            <ul style="list-style-type:square">
                                <div class="mt-3">
                                    <li>Life insurance gives you the power to eliminate your financial doubt and
                                        uncertainty
                                        by planning for the future NOW. It gives you the power to leave your loved ones
                                        financially secure. With the help of Gondola Life and our trusted group of
                                        insurance
                                        carriers, you have the power to transfer your financial risk (from dying too
                                        soon
                                        and leaving your loved ones unprotected) to the group of people called an
                                        insurance
                                        company.</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="gl-buildconf-really-item">
                            <ul style="list-style-type:square">
                                <div class="mb-4">
                                    <li>So “life insurance” is really a way to join a group of people who are
                                        financially
                                        stronger together than any of us could be alone. You join the group through an
                                        application process and paying a bite-sized amount periodically (a premium).
                                        And, if
                                        you don’t live long enough to meet your loved one’s financial needs - (typically
                                        before you reach the end of the policy), your loved ones (beneficiaries) will
                                        receive a cash payout (death benefit) because you cared enough to plan ahead.
                                        And,
                                        in most cases, that cash is received tax free. If you’re unsure about the tax
                                        part
                                        or any of this, talk to us today.
                                        <img src="../../assets/images/Call.svg" class="mb-2 pointer"
                                            [ngbPopover]="mobilePop" placement="bottom" />&nbsp;
                                        <img src="../../assets/images/Chat.svg" class="mb-2 pointer" />
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>

<ng-container *ngIf="pageName === 'LifeInsurance2'">
    <section class="container mt-5 pt-5" data-bs-spy="scroll" id="dvscroll-howto">
        <div class="gl-howto pt-4">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-6">
                        <div>
                            <span class="gl-buildconf-head">Type of Life Insurance</span>
                        </div>
                        <div class="gl-buildconf-subhead">
                            <p><b>Fortunately, there are only 2 basic types of life insurance – term and permanent. Like
                                    the names imply, term “terminates” after a period of time (say 10, 15, or 20 years)
                                    or upon death, if you die within the term. </b></p>
                        </div>
                        <div class="flex-shrink-0 d-flex align-items-center">
                            <div class="col-md-12">
                                <ng-container *ngIf="!isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        More</button>
                                </ng-container>
                                <ng-container *ngIf="isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        Less</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/Life insurance.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- Center section -->
    <ng-container *ngIf="isreadMore">
        <section class="container ">
            <div class="gl-bconfi mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gl-buildconf-really-item">
                            <ul style="list-style-type:square">
                                <div class="mt-2">
                                    <li class="mb-3">
                                        Good news! – Term insurance is usually the most affordable because it has a
                                        termination date. This means you may be able to buy tons of term insurance to
                                        protect you, your loved ones or your business at reasonable premiums, usually
                                        well within your budget.
                                    </li>
                                    <li class="mb-3">
                                        So “life insurance” is really a way to join a group of people who are
                                        financially stronger together than any of us could be By contrast, permanent
                                        insurance is meant to last for your lifetime, even if your lifetime is 100+
                                        years! To keep your coverage this long requires, (at least at first), a larger
                                        premium, though in exchange for that you are usually rewarded with some very
                                        significant financial benefits, such as getting all your premium back at
                                        interest!
                                    </li>
                                    <li class="mb-3">
                                        Although Gondola Life is currently not quoting permanent life insurance on our
                                        site, it is coming soon. Meanwhile, purchase your convertible term insurance
                                        now, and contact one of our Gondis (team members) for more information on how we
                                        can turn your term life insurance into a permanent benefit for you and your
                                        loved ones! Can’t wait to get more info on permanent life insurance? Contact us
                                        today! <img src="../../assets/images/Call.svg" class="mb-2 pointer"
                                            [ngbPopover]="mobilePop" placement="bottom" />&nbsp;
                                        <img src="../../assets/images/Chat.svg" class="mb-2 pointer" />
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>

<ng-container *ngIf="pageName === 'LifeInsurance3'">
    <section class="container mt-5 pt-5" data-bs-spy="scroll" id="dvscroll-howto">
        <div class="gl-howto pt-4">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-6">
                        <div>
                            <span class="gl-buildconf-head">Lifelong Benefits</span>
                        </div>
                        <div class="gl-buildconf-subhead">
                            <p><b>Paying less for your life insurance is always possible at Gondola Life because we
                                    quote
                                    more carriers and more policies, and we help you find the best offer more easily
                                    than
                                    ever before. And as a result, you keep more money your pocket. Meanwhile we can also
                                    help you keep your insurance benefits for a lifetime too. </b></p>
                        </div>
                        <div class="flex-shrink-0 d-flex align-items-center">
                            <div class="col-md-12">
                                <ng-container *ngIf="!isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        More</button>
                                </ng-container>
                                <ng-container *ngIf="isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        Less</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/Life Long Benefits.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- Center section -->
    <ng-container *ngIf="isreadMore">
        <section class="container ">
            <div class="gl-bconfi">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gl-buildconf-really-item">
                            <span>How do we do that </span>
                            <p class="mt-3 mb-3">Remember that “cheap” term insurance you’ve been looking for? We at
                                Gondola Life believe
                                the “cheapest protection” is protection that eventually pays for itself!<br>
                                This means you can start with term coverage today (while you may qualify medically for
                                the cheapest possible rates) and, later, we’ll help you “convert” it (exchange it for a
                                permanent policy) without having to prove you’re healthy or insurable again!</p>
                            <p>In fact, with a properly designed and funded policy, you may be able to keep your
                                coverage for life and get all the following benefits too…</p>
                            <ul style="list-style-type:square">
                                <div class="mt-3">
                                    <li class="mb-3">
                                        Tax Deferred Growth – Premiums paid with after-tax income could, in many cases,
                                        accumulate tax deferred for your whole
                                        life.
                                    </li>
                                    <li class="mb-3">
                                        Competitive Return – Many companies pay attractive dividends (currently between
                                        4-6.5% tax free) on your policy’s cash value.
                                    </li>
                                    <li class="mb-3">
                                        High Contributions – The more money you make the more insurance you may qualify
                                        for, unlike government-controlled programs (401(k), IRA, etc) that have low
                                        contribution limits.
                                    </li>
                                    <li class="mb-3">
                                        Safe - In most cases, the company bares the risk of guaranteeing the death
                                        benefit and, sometimes, even the cash value.
                                    </li>
                                    <li class="mb-3">
                                        No-Loss Provisions - Guaranteed returns on cash value are possible.
                                    </li>
                                    <li class="mb-3">
                                        Tax Free Distribution – With the right policy design you can access your cash
                                        value, Tax-Free, via a loan. Anytime!
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div>
                            <ol class="gl-ol">
                                <div>
                                    <li>
                                        Tax Deferred Growth – Premiums paid with after-tax income could, in many cases,
                                        accumulate tax deferred for your whole life.</li>
                                </div>
                                <div>
                                    <li>Competitive Return – Many companies pay attractive dividends (currently between
                                        4-6.5% tax free) on your policy’s cash value.
                                    </li>
                                </div>
                                <div>
                                    <li>High Contributions – The more money you make the more insurance you may qualify
                                        for, unlike government-controlled programs (401(k), IRA, etc) that have low
                                        contribution limits.</li>
                                </div>
                            </ol>
                            <div class="mb-5">
                                <span class="gl-ul-text">Hop aboard our Gondola today!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>



<ng-container *ngIf="pageName === 'LifeInsurance4'">
    <section class="container mt-5 pt-5" data-bs-spy="scroll" id="dvscroll-howto">
        <div class="gl-howto pt-4">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="mt-6">
                            <span class="gl-buildconf-head">Life Insurance Myths</span>
                        </div>
                        <div class="gl-buildconf-subhead">
                            <p><b>Darn it! What I believe about life insurance may NOT be true?</b></p>
                        </div>
                        <div class="flex-shrink-0 d-flex align-items-center">
                            <div class="col-md-12">
                                <ng-container *ngIf="!isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        More</button>
                                </ng-container>
                                <ng-container *ngIf="isreadMore">
                                    <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                        Less</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bl-confi-img-right">
                        <img src="../../assets/images/Life Insurance Myths.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- Center section -->
    <ng-container *ngIf="isreadMore">
        <section class="container">
            <div class="row">
                <div class="glife-unique-text mb-3">
                    <div>
                        <ol class="glife-ul">
                            <div>
                                <li>Too Expensive</li>
                                <p>Many people OVERESTIMATE the cost of life insurance by 100 to 500% (see LIMRA.com).
                                    For example, if you’re fairly young and healthy, you could buy a $250,000 policy for
                                    about the cost of a lunch, (or $15/month). When asked, many people, thought the
                                    premium would cost $75/month. <a href="#"
                                    (click)="contentReadMore($event, '1')" class="gl-bc-a">
                                    <ng-container *ngIf="!tooExpRM">Read More.</ng-container>
                                    <ng-container *ngIf="tooExpRM">Read Less.</ng-container>
                                </a></p>
                                <ng-container *ngIf="tooExpRM">
                                <p>Now, let’s suppose that you wanted a free lunch instead! What if you could get all
                                    your money back, plus interest and get all the protection you want? </p>
                                <p>With a properly designed permanent policy, in as few as 8-10 years you could have all
                                    your cash back
                                    PLUS interest and, in addition, a growing death benefit that keeps pace with
                                    inflation for the rest of your life.How many lunches would that buy?</p>
                                </ng-container>
                            </div>
                            <div>
                                <li>Don’t need it
                                </li>
                                <p>You may not need death benefit protection, but at Gondola Life we’d be willing to bet
                                    that if you knew the benefits to YOU, you’d want it. Read our Benefits section to
                                    find out why we bet you’ll want it! <a href="#"  class="gl-bc-a"
                                    (click)="navigateToPage($event, 'LifeInsurance3')">Benefits section</a></p>
                            </div>
                            <div>
                                <li> I'm Healthy</li>
                                <p>Health = Wealth, right? The same may be said of your life insurance. The best part is
                                    that if you’re healthy today, you can “lock in” your health rating at the best rate
                                    available, and later, convert your policy to a permanent policy WITHOUT taking a
                                    health exam in the future! This means that even if you develop a serious health
                                    issue, like a heart condition or cancer, you can still keep your super healthy price
                                    and your policy. Meanwhile, if you wait until you’re “not healthy” to apply, the
                                    cost can more than QUADRUPLE, or you may even be DENIED altogether. So let Gondola
                                    Life help you quickly and easily lock in your health rating, because your life will
                                    never be worth more than it is today.</p>
                            </div>
                            <div>
                                <li>The process is intimidating / Too hard to understand</li>
                                <p>Why would you ever buy something you don’t understand. Gondola Life wouldn’t blame
                                    you. But in a matter of minutes Gondola Life can help you understand the basics and,
                                    if you still have questions, we have a helpful Gondi (Gondola team member) to help
                                    match you with the best plan for you. To start, we HIGHLY recommend watching this
                                    video now. <a href="#"
                                    (click)="contentReadMore($event, '0')" class="gl-bc-a">Link.</a></p>
                            </div>
                            <div>
                                <li>Other financial priorities / Can’t save for retirement & also afford life insurance
                                </li>
                                <p>You may have priorities other than saving for retirement or buying life insurance,
                                    but what if you could have life insurance and still have enough money to manage your
                                    other financial priorities too? Gondola Life believes this may very well be
                                    possible. See Too Expensive <a href="#"
                                    (click)="contentReadMore($event, '0')" class="gl-bc-a">Link</a> section to find out why.</p>
                            </div>
                            <div>
                                <li>Research is too time consuming / Don’t have the time</li>
                                <p>Gondola Life has made the shopping & application process incredibly QUICK and EASY!
                                    EXPAND on We did the shopping for you – GL Pick!</p>
                            </div>
                            <div>
                                <li>I have life insurance through my employer</li>
                                <p>Who cares more about your family? You or your employer? Clearly, you know the answer
                                    is that you care infinitely more than your employer. And for the same reason, if you
                                    trust your employer to decide how much protection your loved ones has, it may be
                                    much less than you’d want them to have.<a href="#"
                                        (click)="contentReadMore($event, '7')" class="gl-bc-a">
                                        <ng-container *ngIf="!whoCaresRM">Read More.</ng-container>
                                        <ng-container *ngIf="whoCaresRM">Read Less.</ng-container>
                                    </a></p>
                                <p *ngIf="whoCaresRM">
                                    Here’s what an employer typically provides for life insurance: $50,000 (or up to 1x
                                    your salary (excluding bonuses). So, in the BEST case scenario, this means your
                                    family would get only enough help to pay LESS THAN ONE YEAR’S BILLS, not considering
                                    inflation. Would they be able to provide for themselves in less than a year? If not
                                    then, rest assured, you could provide them with 10-30 times your salary by getting
                                    your own policy!
                                </p>
                                <p *ngIf="whoCaresRM">Here are other questions to consider about your employer’s life
                                    insurance: <br>
                                    <b class="ms-5">i. Is it enough insurance?</b> The answer to this is purely a
                                    decision of how
                                    YOU want your loved ones to live, if you’re not there to provide for them. <b>No one
                                        ever complained of having too much, but many families have been devastated by
                                        not
                                        having enough.</b> <br> <b class="ms-5">ii. Will it be there at the time of
                                        death?</b> In many cases, the answer
                                    to this question is NO. That is because most employers only offer term life
                                    insurance, which terminates when you leave the group/employer. Since it is very
                                    likely you will not have your current job for the rest of your life, or your
                                    employer could change/terminate your life insurance benefit, you would no longer be
                                    covered by your employer’s plan when you die. This may leave your loved ones
                                    withoutany benefits. <br> <b class="ms-5">iii. Does it provide spousal coverage?</b>
                                    Only some employers do.
                                    And of those who do, only a few of these offer the same amount (usually less) to the
                                    employee’s spouse. So if your coverage wasn’t enough, your spouse’s coverage likely
                                    wouldn’t be either. <br><b class="ms-5"> iv. Will you be healthy enough to buy your
                                        own policy when you
                                        retire?</b> Buying life insurance while younger has two benefits: 1) cost and 2)
                                    health,
                                    meaning you’ll never be younger or probably healthier than today. The younger and
                                    healthier you are the cheaper the premiums. Period. And since your future health is
                                    uncertain, it means, even if you could afford more coverage when you’re older, you
                                    may not be able to get it, no matter how much you’d be
                                    willing to pay. Regardless of your age today, now is the best time to get
                                    coverage. <br> <b class="ms-5">v. What if you leave or lose your job?</b> When your
                                    current job ends, the
                                    insurance is immediately cancelled, unless you are allowed to convert it to
                                    permanent insurance. Even if you are allowed to convert, the insurance is usually at
                                    a sub-par rating and therefore a MUCH higher than necessary premium. That’s why very
                                    few people keep their insurance when they leave an employer.
                                </p>
                            </div>
                            <div>
                                <li>Don’t have kids</li>
                                <p>If kids were the only reason to buy life insurance then that would make sense.
                                    However, even single people want life insurance when they know the benefits to them.
                                    If you don’t have – or plan to have – children, then life insurance for you is all
                                    about the LIVING benefits. See Gondola.Life’s <a href="#"
                                        (click)="navigateToPage($event, 'LifeInsurance3')">Benefits</a> section for
                                    details.</p>
                            </div>
                            <div>
                                <li>I’m too old</li>
                                <p>Maybe, but not likely. If you’re between the ages of 18 and 64, you can qualify
                                    online, and if you’re younger or older than that, you may still qualify with the
                                    help of a Gondola Life team member <img src="../../assets/images/Call.svg"
                                        class="mb-2 pointer" [ngbPopover]="mobilePop" placement="bottom" />&nbsp;
                                    <img src="../../assets/images/Chat.svg" class="mb-2 pointer" /> , even until the age
                                    of
                                    80.
                                </p>
                            </div>
                            <div>
                                <li>My health isn’t great / I smoke</li>
                                <p>At Gondola Life, you don’t have to have perfect health to qualify for an affordable
                                    life insurance policy! Gondola.Life’s marketplace has more insurance carriers &
                                    policies than any other virtual insurance site.<a href="#"
                                        (click)="contentReadMore($event, '10')" class="gl-bc-a">
                                        <ng-container *ngIf="!myHealthRM">Read More.</ng-container>
                                        <ng-container *ngIf="myHealthRM">Read Less.</ng-container>
                                    </a></p>
                                <p *ngIf="myHealthRM">
                                    <b>More carriers = More policy options!</b> More policy options means you have the
                                    best
                                    chance to qualify!If you believe your health is average, fair, or even poor, a
                                    knowledgeable and caring Gondola.Life team member is ready to help you find out what
                                    you qualify for and at the best price for you! For a confidential consultation,
                                    <img src="../../assets/images/Call.svg" class="mb-2 pointer"
                                        [ngbPopover]="mobilePop" placement="bottom" />&nbsp;
                                    <img src="../../assets/images/Chat.svg" class="mb-2 pointer" />
                                </p>
                            </div>
                            <div>
                                <li> Don’t want to take a medical exam / Medical exams are always required</li>
                                <p>You could have any of a number of reasons why you don’t want to take a medical exam,
                                    such as: you don’t like needles (getting bloodwork done); you don’t have time
                                    (actually, medicals usually take less than 30 minutes at your own home or office);
                                    or you don’t want to know the results (if you’re worried about your health). The
                                    good news is many of Gondola Life’s 100% virtual life insurance carriers do not
                                    require medical exams (for coverage up to $3,000,000). Depending on the carrier,
                                    amount, and your particular age and health, anywhere from 30-70% of Gondola Life’s
                                    applicants don’t require a medical exam or review by an underwriter (full
                                    underwriting). Instead, you may qualify by answering a few simple health questions.
                                    The easiest way to find out is to apply with Gondola.Life today! And if the carrier
                                    requests a medical exam, talk with a Gondola Life team member to consider your best
                                    alternatives. </p>
                            </div>
                            <div>
                                <li>Don’t trust insurance companies to pay claims</li>
                                <p>Fortunately, there are a number of independent regulatory agencies which compile
                                    statistics on life insurance claims. This is why we know life insurance
                                    benefits/claims totaled $762.1 billion in 2019 (Insurance Information Institute,
                                    2020 Fact Book). Furthermore, for example, in 2019 one company, TruStage, paid 94.7%
                                    of its life insurance claims, of which, 66% were paid in ten days or less. <a
                                        href="#" (click)="contentReadMore($event, '12')" class="gl-bc-a">
                                        <ng-container *ngIf="!dontTrustRM">Read More.</ng-container>
                                        <ng-container *ngIf="dontTrustRM">Read Less.</ng-container>
                                    </a></p>
                                <p *ngIf="dontTrustRM">Clearly, this is an industry that prides itself on paying claims
                                    and sees its
                                    reputation as more important than simply trying to avoid paying claims. That said,
                                    there are standard exclusions. The five most common are: suicide (within the first
                                    two years); dangerous activity; illegal activity; aviation (private plane crash);
                                    and an act of war. If paying claims is a concern of yours, talk to a Gondola Life
                                    team member today and let us direct you to one of our stellar claims paying
                                    carriers!</p>
                            </div>
                            <div>
                                <li>Death is scary</li>
                                <p>Yes, but death without life insurance is even scarier! That’s because if your loved
                                    ones depend on you financially, even if you have significant assets, will there be
                                    enough money for them to maintain the lifestyle you wanted them to have? To answer
                                    this question, check out Gondola.Life’s quick calculator. <a href="#"
                                        (click)="navigateToCalc($event)" class="gl-bc-a">How Long Will
                                        the Proceeds Last.</a></p>
                            </div>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>
<section class="container mb-4">
    <div style="text-align: center;">
        <div>
            <button class="btn btn-primary btn-success gl-shwmore" (click)="navigateToHome()">Get Quote Now</button>
        </div>

    </div>
</section>

<app-footer-section></app-footer-section>
<ng-template #mobilePop>
    <div class="gl-healthrate">
        <span><i class="bi bi-telephone-fill"></i> +1-(305)-390-4077</span>
    </div>
</ng-template>