.gl-buildconf-head {
    font-family: "Dancing-Script-Bold";
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #0097e6;
}

.gl-buildconf-subhead {
    font-family: "Manrope-Semibold";
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.12px;
    text-align: left;
    color: #272727;
}

.gl-buildconf-really-item {
    font-family: "Manrope-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.1px;
    text-align: left;
    color: #272727;
}

.gl-buildconf-really-item>span {
    font-family: "Manrope-Semibold";
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.12px;
    text-align: left;
    color: #272727;
}

.gl-ul-text {
    font-family: "Manrope-Semibold";
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.12px;
    text-align: left;
    color: #272727;
}
.gl-ol
{  
    font-family: "Manrope-Regular";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: 0.09px;
    text-align: left;
    color: #272727;
 padding-left: 4rem;

}
.gl-ol > div
{
 padding-bottom: 10px;

}


.gl-ol
{
 padding-left: 4rem;

}
.gl-ol > div
{
 padding-bottom: 10px;

}
.gl-ul-text
{
 padding-left: 0px;

}
.gl-head-tag
{
  padding-bottom: 40px;

}
.gl-head-tag .glife-title {
   color: #0097e6;
   font-size: 28px;
   border-bottom: 3px solid #0097e6;
   font-family: var(--font-semibold);
}
.glife-ul li
{
 font-weight: 600;
 padding-bottom: 10px;
}

.glife-ul > div > li{
    font-family: "Manrope-Semibold";
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.12px;
    text-align: left;
    color: #272727;
}

.glife-ul > div > p{
    font-family: "Manrope-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #272727;
}

.glife-unique-text ol
{
 padding-left: 1rem;
}
.glife-unique-text > div > div {
   position: relative;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
 
}
.glife-unique-text > div > div .ul{
 padding-left: 0rem;

}
.glife-unique-text > div > div .gl-ul {
 padding-left: 3rem;
 margin-bottom: 0px;
}

.bl-confi-img-right{
    text-align: right;
}

.gl-bc-a{
    font-family: "Manrope-Regular";
    font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.1px;
  text-align: left;
  color: #0097e6;
  text-decoration: underline;
}