<!-- Top Nav -->
<header>
    <app-navbar-header></app-navbar-header>
</header>
<section class="container-fluid gl-lanchbg">
    <div class="container gl-lanchbanner">
        <div class="row">
            <div class="col-md-6 mt-sm-3 mt-md-5 mt-lg-2 pt-5 pt-md-5 pt-lg-5 gl-lanchcont">
                <div class="mb-4">
                    <h1 class="text-center">You're Invited to the <br><span>Gondola Life</span> Beta Launch</h1>
                </div>
                <div class="mt-md-5 mt-lg-4 mb-sm-5 mb-md-5 mb-lg-4">Join the <span class="gl-bold">exclusive</span>
                    Beta Launch of the trailblazing Insurance marketplace. All we need to give access is either your
                    email or mobile number. The <span class="gl-bold">Gondola Attendants</span> will send you a code.
                    Then, <span class="gl-bold">you're in!</span></div>
                <div class="mt-md-5 mt-lg-4 mb-sm-5 mb-md-5 mb-lg-4">BTW The Gondola Life Attendants are still making
                    snow on the trails. So, there may be a few moguls on your journey. But hey, you're here to help
                    groom the trails!</div>

                <ngx-spinner style="background-color: rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                    <p style="color: white">Please wait… </p>
                </ngx-spinner>
                <div class="mt-sm-3 mt-md-5 mt-lg-5 mb-sm-5 mb-md-5 mb-lg-5">
                    <div class="row">
                        <form [formGroup]="subscriberForm" autocomplete="off">
                            <!-- Login Form -->
                            <ng-container *ngIf="isMainPage">
                                <div class="col-md-11 m-auto gl-invite-form">
                                    <div class="error-field-header text-center mt-1 mb-2" *ngIf="isApiError">
                                        <i class="bi bi-x-circle-fill"></i> We're facing some technical issues. Please try again later.
                                    </div>
                                    <div class="text-center mt-2">
                                        <h4 class="gl-bold mb-3">What should we use for your access?</h4>
                                    </div>
                                    <div class="mt-3 col-md-11 m-auto">
                                        <div class="mb-3">
                                            <label class="form-label">First Name<b style="color: red;">*</b></label>
                                            <input type="email" class="form-control"
                                                [ngClass]="{'is-invalid' : isSubmitDone && subscriberForm.get('name')?.hasError('required')}"
                                                placeholder="Enter First Name" formControlName="name" maxlength="30"
                                                [(ngModel)]="name">
                                            <div class="error-field"
                                                *ngIf="isSubmitDone && subscriberForm.get('name')?.hasError('required')">
                                                <i class="bi bi-exclamation-circle-fill"></i>
                                                Please enter your First Name.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Email Address<b style="color: red;">*</b></label>
                                            <input class="form-control "
                                                [ngClass]="{'is-invalid' : isSubmitDone && (subscriberForm.get('email')?.hasError('required') || subscriberForm.get('email')?.hasError('pattern'))}"
                                                placeholder="Enter Email Address" formControlName="email" maxlength="50"
                                                [(ngModel)]="email">
                                            <div class="error-field"
                                                *ngIf="isSubmitDone && subscriberForm.get('email')?.hasError('required')">
                                                <i class="bi bi-exclamation-circle-fill"></i>
                                                Please enter your Email Address.
                                            </div>
                                            <div class="error-field"
                                                *ngIf="isSubmitDone && subscriberForm.get('email')?.hasError('pattern')">
                                                <i class="bi bi-exclamation-circle-fill"></i>
                                                Please enter a valid email address.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label"> Mobile Number</label>
                                            <input class="form-control" placeholder="Enter Mobile Number" maxlength="10"
                                                formControlName="mobileno" [(ngModel)]="mobileno"
                                                (paste)="allowNumeric($event)" (keypress)="allowNumeric($event)">
                                        </div>
                                        <div class="text-center mt-sm-4 mt-md-4 mt-lg-4">
                                            <button class="btn btn-success mw150"
                                                (click)="submitSubscriberInfo()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- OTP Form -->
                            <ng-container *ngIf="isOTPPage">
                                <div class="col-md-11 m-auto gl-invite-form">
                                    <div class="text-center mt-2 mb-4">
                                        <h4 class="gl-bold mt-1 mb-3">OTP Verification</h4>
                                        <img class="mb-3" src="../../assets/images/gl-lock.svg" alt="gl-lock">
                                        <h6 class="text-center mt-1 mb-3">A One-Time Password has been sent to <b>{{email}}</b>.
                                        </h6>
                                    </div>
                                    <div class="mt-4 col-md-11 m-auto">
                                        <div class="mt-4 mb-4">
                                            <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)">
                                            </ngx-otp-input>
                                        </div>
                                        <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isOtpNotFilled">
                                            <i class="bi bi-exclamation-circle-fill"></i> Please enter all the fields to verify.
                                        </div>
                                        <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isOTPVerifyFailed">
                                            <i class="bi bi-exclamation-circle-fill"></i> Please enter a valid One Time Password
                                        </div>
                                        <div class="success-field-subheader text-center mt-4 mb-3" *ngIf="isResendOTP">
                                            <i class="bi bi-check-circle-fill"></i> OTP sent successfully.
                                        </div>
                                        <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isResendOTPFailed">
                                            <i class="bi bi-exclamation-circle-fill"></i> Unable to send OTP. Please try again later.
                                        </div>
                                        <div class="text-center mt-4 mb-4">
                                            <button class="btn btn-success mw150" (click)="validateOTP()">Submit</button>
                                            <div class="mt-3">
                                                <a class="btn-link pointer" (click)="resendOTP()">Resend Code</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </form>
                        <!-- Registration Form -->
                        <!-- <ng-container *ngIf="isRegisterPage">
                            <div class="col-md-11 m-auto gl-invite-form">
                                <div class="text-center mt-2">
                                    <h4 class="gl-bold mb-3">Registration Form</h4>
                                </div>
                                <div class="mt-4 col-md-11 m-auto">
                                    <div class="mb-4">
                                        <label class="form-label">First Name</label>
                                        <input type="email" class="form-control" placeholder="Enter First Name">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Email ID</label>
                                        <input class="form-control" placeholder="Enter Email ID">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Phone Number</label>
                                        <input class="form-control" placeholder="Enter Phone Number">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Password</label>
                                        <input class="form-control" type="password" placeholder="Enter Password">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Confirm Password</label>
                                        <input class="form-control" type="password" placeholder="Re-enter Password">
                                    </div>
                                    <div class="text-center mt-sm-5 mt-md-5 mt-lg-5">
                                        <button class="btn btn-success mw150">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-section></app-footer-section>
<ng-template #mobilePop>
    <div class="gl-healthrate">
        <span><i class="bi bi-telephone-fill"></i> +1-(305)-390-4077</span>
    </div>
</ng-template>