
.gl-lanchbg {
    background-image: url(../../../assets/images/gl-lanch.png);
    background-size: cover;
    background-position: top right;
  }
  
  .gl-lanchbanner {
    min-height: 820px;
    margin-top: 50px;
  }
  .gl-lanchbanner h1 {
    font-size: 34px;
    color: #5825ab;
    line-height: 1.5;
  }
  .gl-lanchbanner h1 span {
    font-family: "Bauhaus-Regular";
    font-size: 42px;
  }
  .gl-lanchbanner .gl-lanchcont div {
    line-height: 1.8;
  }
  
  .gl-invite-form {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
    padding: 25px;
  }
  :host ::ng-deep .ngx-otp-input-box {
    margin: 0 1.5rem !important;
  }

