<div class="modal-dialog modal-md calc-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Human Economic Life Value</h5>
            <button type="button" class="btn-close btn-sm" data-dismiss="modal" (click)="closeDialog()"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 m-auto">
                    <form [formGroup]="calcDetailsForm"  (submit)="submitQuotes()">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Age</label>
                                <input type="text" class="form-control" [(ngModel)]="age" formControlName="age"
                                    value="">
                                    <small *ngIf = "isSubmitDone && calcDetailsForm.get('age')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                            <!-- <div class="error-field" *ngIf="calcDetailsForm.get('age')!.hasError('required')" >
                                <i class="bi bi-exclamation-circle-fill"></i>
                                Field is required
                              </div> -->
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Retirement Age</label>
                                <input type="text" [(ngModel)]="retirementage" formControlName="retirementage"
                                    class="form-control" value="">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('retirementage')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Annual Income</label>
                                <input type="text" class="form-control" 
                                (blur)="convertIncome($event)" (keyup)="convertIncome($event)" (focus)="onFocusIncome($event)"
                                [(ngModel)]="income" formControlName="income">
                                <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('income')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="position-relative">Income Growth(%)
                                    <img src="../../assets/images/Info.svg" [ngbPopover]="incomeGrowthPopup"
                                        placement="bottom" class="tool-tip1"></label>
                                <input type="text" class="form-control bg-color-input" [(ngModel)]="incomeGrowth"
                                    formControlName="incomeGrowth">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('incomeGrowth')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="position-relative">Fringe Benefits(%)
                                    <img src="../../assets/images/Info.svg" [ngbPopover]="fringeBenefitsPop" 
                                        placement="bottom" class="tool-tip1">
                                </label>
                                <input type="text" class="form-control bg-color-input" [(ngModel)]="fringeBenefits"
                                    formControlName="fringeBenefits" value="39.00%">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('fringeBenefits')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="position-relative">Services to Family(%)
                                    <img src="../../assets/images/Info.svg" [ngbPopover]="servicesFamilyPop" 
                                        placement="bottom" class="tool-tip1">
                                </label>
                                <input type="text" class="form-control bg-color-input" [(ngModel)]="serviceFamily"
                                    formControlName="serviceFamily" value="20.00%">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('serviceFamily')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="position-relative">Self-Maintenance(%)
                                    <img src="../../assets/images/Info.svg" [ngbPopover]="selfMaintainancePop" 
                                        placement="bottom" class="tool-tip1">
                                </label>
                                <input type="text" class="form-control bg-color-input" [(ngModel)]="selfMaintainance"
                                    formControlName="selfMaintainance" value="12.00%">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('selfMaintainance')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="position-relative">After-Tax Rate of Return(%)
                                    <img src="../../assets/images/Info.svg" [ngbPopover]="afterTaxReturnPop"
                                        placement="auto" class="tool-tip1">
                                </label>
                                <input type="text" class="form-control bg-color-input" [(ngModel)]="afterTaxReturn"
                                    formControlName="afterTaxReturn" value="4.00">
                                    <small *ngIf = "isSubmitDone &&  calcDetailsForm.get('afterTaxReturn')?.invalid"  class = "text-danger"> <i class="bi bi-exclamation-circle-fill"></i>Field is Required</small>
                            </div>
                        </div>
                    </form>
                    <ng-container *ngIf="iscalculated">
                        <div class="mb-1 mt-1">
                            <div class="alert alert-primary text-center gl-bold">
                                Your human life economic value is ${{cummulativeValue}}
                            </div>
                        </div>
                        <div class="">
                            <p>This is the estimated lump sum needed to replace the lifetime income and services you
                                provide
                                for your family, based on the assumptions above.</p>
                        </div>
                        <div class="documentation-proof"><a (click)="removedPlansModal()"><i></i>Documentation Proof</a></div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 justify-content-between d-flex">
            <div><button class="btn btn-outline-success mw150" (click)="closeDialog()">Cancel</button></div>
            <div><button class="btn btn-success mw150" (click)="calcQuotes()" (click)="submitQuotes()">Calculate</button></div>
        </div>
    </div>
</div>
<ng-template #incomeGrowthPopup>
    <span class="gl-calc-popover">
        The assumed annual increase in earning potential from raises or increased competency.
    </span>
</ng-template>
<ng-template #fringeBenefitsPop>
    <span class="gl-calc-popover">
        Non-monetary benefits/compensation (like employer-sponsored health insurance) that the person brings to the
        family. If the insured were no longer able here, the family would need to pay to replace those benefits.
    </span>
</ng-template>
<ng-template #servicesFamilyPop>
    <span class="gl-calc-popover">
        Activities/skills/jobs the insured provides to the family (like mowing the lawn, painting the house, supervising
        children) that would require money to provide through other means.
    </span>
</ng-template>
<ng-template #selfMaintainancePop>
    <span class="gl-calc-popover">
        Income spent on the insured (like clothing, medical costs, transportation).
    </span>
</ng-template>
<ng-template #afterTaxReturnPop>
    <span class="gl-calc-popover">
        The assumed rate of return one should conservatively expect to achieve on a lump sum payment intended to replace
        the insured's remaining earning potential.
    </span>
</ng-template>