.calc-modal{
    font-family: 'Manrope-Semibold' !important;
    font-size: 12px !important;
}

.gl-bold{
    font-size: 14px !important;
}

.modal-dialog{
    margin: 0.2rem !important;
}
.tool-tip1{
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-left: 0.15rem;
    width: 15px;
}
.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%);
}
.mat-tooltip1{
    background-color: white;
    color: black !important;
}
::ng-deep .mat-tooltip{
    // background-color: white;
    color: black;

}

.gl-calc-popover{
    margin: 5px 0 0;
    font-family: "Manrope-SemiBold";
    font-size: 10px;
    letter-spacing: normal;
    color: #000d1a;
}

:host ::ng-deep .popover-body {
    padding: 0.5rem !important;
    color: #18191a;
    width: 210px !important;
    text-align: justify !important;
  }
  .bg-color-input{
      background: #efefef !important;
  }

  
.documentation-proof{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    color: #0097e6;
    font-family: "Manrope-Semibold";
    cursor: pointer;
}

::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed; 
  z-index: 9999 !important;
}