<div class="container">
    <!-- Top Nav -->
    <header>
        <div class="menu-bar">
            <div id="min-lnav" class="ico-menu" gl-title="Menu" onclick="toggleSidebar()"></div>
        </div>
        <figure class="logo">
            <img src="../../assets/images/gondola-life.png">
        </figure>
        <div class="profile">
            <a class="ico-notification alert" gl-title="Notification"></a>
            <div class="gl-myacc ddown">
                <a class="act-user">
                    <img src="../../assets/images/user_logo.png">
                </a>
                <span>{{this.gondolaService.firstname}}</span>
                <!-- Myaccount -->
                <div class="ico-angle-down btm rht">
                </div>
            </div>
        </div>
    </header>
    <nav id="mySidebar" class="sidebar closebtn">
      <div>
      <a href="#"><span><i class="ico-dashboard active"></i><span class="icon-text active">Dashboard</span></span></a>
      <a href="#"><span><i class="ico-document"></i><span class="icon-text">Application Status</span></span>
        </a>
        <a href="#"><span><i class="ico-beta-user"></i><span class="icon-text">Profile</span></span></a>
        <a href="#"><span><i class="ico-settings"></i><span class="icon-text">Settings</span></span></a>
        </div>
    </nav>
</div>