
.container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f6fa;
    overflow: hidden;
}
header {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 49px;
    padding: 0 25px 0px 0px;
    background-color: var(--white);
    -webkit-box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 12px 3px rgb(0 0 0 / 8%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.ico-notification {
    cursor: pointer;
    font-size: 20px;
    color: var(--reg-color);
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-transition: all ease-in 0.35s;
    transition: all ease-in 0.35s;
}
.logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo img {
    width: 167px;
    margin-left: 20px;
}

img {
    max-width: 100%;
}
.ddown {
    position: relative;
}
.ico-angle-down.btm {
    top: 100%;
}
.ico-angle-down.lg {
    width: 320px;
}
.ico-angle-down {
    border-radius: 10px;
    -webkit-box-shadow: var(--pop-shd);
    box-shadow: var(--pop-shd);
    background-color: var(--white);
    opacity: 1;
    pointer-events: none;
    font-weight: normal;
    font-size: 14px;
}

a {
    cursor: pointer;
}

header .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}


header .gl-myacc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
    cursor: default;
}
.act-user {
    width: 35px;
    height: 35px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid var(--ico-bg);
    border-radius: 50%;
    background-color: var(--ico-bg);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
header .gl-myacc > span {
    max-width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
    color: var( --reg-color);
    font-weight: 600;
}
.ico-menu {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.ico-menu.sel {
    color: var(--btn-c);
    background-color: #f2f4f8;
}
.ico-menu:hover {
    background-color: var(--ico-bg);
}
.menu-bar
{
    width: 50px;
    height: 50px;
    background-color: #12396e;
    padding: 10px 5px;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: var(--lnav-w);
    position: fixed;
    top: var(--navtop);
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    background-color: #164380;
}
nav > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
}
nav > div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}
nav > div div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 3px;
    color: var(--fc-3);
    text-decoration: none;
    position: relative;
}
nav > div div > a i {
    margin-bottom: 5px;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: all ease-in 0.25s;
    transition: all ease-in 0.25s;
   color: #8ba1c0;
}
.content-wrap {
    position: absolute;
    left: var(--lnav-w);
    right: 0;
    top: 50px;
    bottom: 0;
    -webkit-transition: left cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
    transition: left cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
    background-color: #f5f6fa;
    overflow-y: auto;
}
.gl-bcrumb {
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0px 16px;
    margin: 0px 15px 0px;
    z-index: 1;
} 
.gl-bcrumb > div {
    position: relative;
}
.active
{
  color: #fff;
}
.gl-bcrumb >  .ico-dashboard
{
  font-size: 10px;
  color: #727e98;
}
.gl-bcrumb > div:first-child a {
    padding-left: 0;
}
.bcrumb-sec
{
  color: #333946 !important;
}
.gl-bcrumb > div > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 5px;
    color: var(--fc-7);
    font-size: 12px;
    text-decoration: none;
    font-family: var(--font);
}
.gl-bcrumb > div:last-child::after {
    content: "";
}
.gl-bcrumb > div:after {
    content: "/";
    color: var(--fc-7);
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.page-card {
   background-color: #fff;
    -webkit-box-shadow: 0 0 20px 10px rgb(0 0 0 / 3%);
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 3%);
    border-radius: 4px;
    margin: 0px 15px 0;
    min-height: 630px;
    height: calc(100% - 60px);
    padding: 0px 0px 30px 0px;
}
.text-center {
    text-align: center !important;
}
.gl-pb-2 {
    padding-bottom: 0.5rem !important;
}
.gl-pt-1rem {
    padding-top: 0rem !important;
}
.gl-mt-5 {
    margin-top: 3rem !important;
}
h1 {
    color: #0097e6;
}
.gl-smpl
{
  font-family: "Merriweather-Bold";

}
.fs
{
   font-size:var( --fs-36); 
}
.gl-dash-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    font-size: var(--fs-11);
}
.gl-dash-descr > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    font-size: var(--fs-18);
}
.ln {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 38px;
    height: 30px;
}
.ln::after {
    content: "";
   top: 0px;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 1px;
    margin: auto;
    background-color: #e5e8ed;
    position: absolute;
}
.gl-search .gl-searchsel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
     padding: 0px 20px 10px 20px;
}
.gl-search .gl-searchsel .gl-searchradio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background-color: #eff9ff;
    padding: 5px 10px;
    border-radius: 0.25rem;
}
.gl-search .gl-searchsel .gl-searchradio label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.mt-mb
{
  margin: 30px 0px;
}
.form-floating {
    position: relative;
}
.gl-search .gl-searchfrm .form-control, .gl-search .gl-searchfrm .form-select {
    background-color: #f8f8f8;
    font-size: 0.9375rem;
    border-color: #f8f8f8;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-floating > .form-control {
    padding: 1rem 0.75rem;
}
.form-floating > .form-control, .form-floating > .form-select {
    height: calc(1.8rem + 2px);
    line-height: 1.25;
}
.form-select, .form-control {
    font-size: var(--bs-body-font-size);
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.gl-search .gl-searchfrm .form-floating > label {
    font-size: 0.875rem;
    padding: 1.2rem 0.75rem;
}
.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
label {
    display: inline-block;
}
.dropdown-menu {
    font-size: 0.875rem;
    border-color: transparent;
}
.w-100 {
    width: 100% !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
 .gl-searchfrm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 6px;
    gap: 20px;
    padding: 0px 20px 10px 20px;

}
.frmfloat-wdth
{
  width: 147px;
}
.mw-125
{
  width: 125px;
}
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.align-items-center {
    align-items: center !important;
}
.flex-shrink-0 {
    flex-shrink: 0 !important;
}
.d-flex {
    display: flex !important;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.alert{
    position: relative;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border: 1px solid transparent;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: var(--bs-body-font-size);
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.gl-btn-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    gap: 10px;
    border-radius: 30px;
    padding: 0.45rem 1rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: bold;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.btn-success {
    color: #fff;
    background-color: #5ab43f;
    border-color: #5ab43f;
}
.btn-success i
{
  padding: 4px 0px;
}
.card {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 10px rgb(0 0 0 / 3%);
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 3%);
    border-radius: 4px;
    margin: 15px 15px 0;
    min-height: 75px;
    height: calc(39% - 60px);
}
.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.edv-col8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 15px;
    padding-right: 15px;
}
.cnt-center
{
  justify-content: center;
}
.edv-col10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.333333%;
    max-width: 77.333333%;
    padding-right: 80px;
}
.recnt-search
{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    font-size: var(--fs-11);
}
.recnt-search > div
{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
    font-size: var(--fs-18);
}
.recnt-search > div > span
{
  color: var(--reg-color);
  font-weight: 600;
}
.re-search
{
  font-size: var( --fs-15); 
}
.viewall
{
  font-size: var( --fs-10);
}
.Searchfrm-float label
{
  font-size: var(--fs-12);
  padding: 1rem 0rem;
  line-height: 2.5;
  font-weight: 600;
}
.Searchfrm-float
{
  margin: 15px;
  width: 95px;
}
.edv-col2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
   max-width: 10.666667%;
}
.Searchfrm-float span
{
  font-size: var(--fs-9);
}
.searchlst-gnder
{
  -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 5.666667%;
}
.col-md-4 {
flex: 2 0 auto;
    width: 29.333333%;
    padding: 0px 12px 0px 0px;

}
.mw100
{
  width: 100px;
}
.frmctrl-width
{
  width: 128px;
}
.gl-dashboard-profile-item {
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    gap: 20px;
    -webkit-box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
    box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
}
.gl-dashboard-profile-item img {
    max-width: 200px;
}
.gl-dashboard-profile-item h4 {
    margin: 0 50px;
}
.gl-dashboard-profile
{
  margin: 20px 15px;
}
.main-head {

    top: 0;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
}
.main-head > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-transition: box-shadow ease 0.5s;
    -webkit-transition: -webkit-box-shadow ease 0.5s;
    transition: -webkit-box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s, -webkit-box-shadow ease 0.5s;
}
.main-head .title {
    font-size: 18px;
    font-family: var(--font-semibold);
}
.page-content
{
  overflow-y: auto;
}
.sidebar {
    width: 56px;
    position: fixed;

    white-space: nowrap;
}
  
 .sidebar a {
          padding: 0px 8px 8px 14px;
            text-decoration: none;
            font-size: 20px;
           color: #8ba1c0;
            display: block;
            transition: 0.3s;
        }
        
 .icon-text
 {
  font-size: 13px !important;
  padding-left: 30px;
  font-family: var( --font);
 }
 .user-list
 {
  padding-left: 20px !important;
 }
 .gl-search .gl-searchselect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 0px 20px 10px 20px;
}
.gl-search .gl-searchselect .gl-searchradiobtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background-color: #eff9ff;
    padding: 5px 10px;
    border-radius: 0.25rem;
}
.gl-search .gl-searchselect .gl-searchradiobtn label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}
.gl-search-frm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 6px;
    gap: 20px;
    padding: 0px 20px 10px 20px;
}
.srchform-floating {
    position: relative;
}
.srchform-floating > .form-control:focus, .srchform-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.srchform-floating > .form-control, .srchform-floating > .form-select {
    height: calc(1.8rem + 2px);
    line-height: 1.25;
}
.srchform-floating > .form-control {
    padding: 1rem 0.75rem;
}
.srchform-floating > .form-control:focus ~ label, .srchform-floating > .form-control:not(:placeholder-shown) ~ label, .srchform-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.srchform-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.gl-search .gl-search-frm .form-control, .gl-search .gl-search-frm .form-select {
    background-color: #f8f8f8;
    font-size: 0.9375rem;
    border-color: #f8f8f8;
}


@font-face {
    font-family: 'ico-font';
    src:  url('../../../../assets/fonts/ico/ico-font.eot?qxnc2b');
    src:  url('../../../../assets/fonts/ico/ico-font.eot?qxnc2b#iefix') format('embedded-opentype'),
      url('../../../../assets/fonts/ico/ico-font.ttf?qxnc2b') format('truetype'),
      url('../../../../assets/fonts/ico/ico-font.woff?qxnc2b') format('woff'),
      url('../../../../assets/fonts/ico/ico-font.svg?qxnc2b#ico-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ico-font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ico-document:before {
    content: "\e90d";
  }
  .ico-notification:before {
    content: "\e900";
  }
  .ico-admin:before {
    content: "\e901";
  }
  .ico-angle-down:before {
    content: "\e902";
  }
  .ico-beta-user:before {
    content: "\e903";
  }
  .ico-dashboard:before {
    content: "\e904";
  }
  .ico-menu:before {
    content: "\e905";
  }
  .ico-settings:before {
    content: "\e906";
  }
  .ico-carrier-list:before {
    content: "\e908";
  }
  .ico-property:before {
    content: "\e909";
  }
  .ico-search:before {
    content: "\e90a";
  }
  .ico-states:before {
    content: "\e90b";
  }
  .ico-users-list:before {
    content: "\e90c";
  }
  