<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
<!-- <div class="modal-header mo-header-style"> -->
    <h5 class="modal-title mo-title" id="exampleModalLabel">Removed Plans</h5> 
    <button type="button" class="btn-close"  data-dismiss="modal"  (click)="closeDialog()"  aria-label="Close"></button>
</div>
<div id="modal-body-content" class="modal-body body-height">
    <div class="container">
        <div class="row row-title">
            <table class="table table-demo table-bordered ">

                <thead class="thead-dark ">
                  <tr>
                    <th class="col-color product" scope="col">Product</th>
                    <th class="col-color message-type" scope="col">Message type</th>
                    <th class="col-color message" scope="col">Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Protective Custom Choice 10 (09-21)</td>
                    <td>Informational</td>
                    <td>-</td>                   
                  </tr>
                  <tr>
                    <td scope="row">Protective Custom Choice 15 (09-21)</td>
                    <td>Informational</td>
                    <td>-</td>                    
                  </tr>
                  <tr>
                    <td scope="row">Protective Custom Choice 20 (09-21)</td>
                    <td>Informational</td>
                    <td>-</td>                   
                  </tr>
                  <tr>
                    <td scope="row">Protective Custom Choice 25 (09-21)</td>
                    <td>Informational</td>
                    <td>-</td>                  
                  </tr>
                  <tr>
                    <td scope="row">Protective Custom Choice 30 (09-21)</td>
                    <td>Removed</td>
                    <td>Minimum Face amount is $750,000</td>  
                  </tr>
                  <tr>
                    <td scope="row">John Hancock Protection T10 w/Vitality
                        (07-20)</td>
                    <td>Informational</td>
                    <td>This product automatically includes the Vitality
                        Program, which provides premium saving and 
                        rewards for the  everyday  things  you  do  to
                        stay  healthy.  Quoted  premiums  assume 
                        achievement of Gold status each year. Your 
                        premium may decrease, stay level, or increase 
                        based  on  insured's  participation  in  the 
                        program. The Vitality Program  cannot  be 
                        dropped at a later date as it is a built-in feature 
                        of this product.</td>
                  </tr>
                  <tr>
                    <td scope="row">John Hancock Protection T10 w/Vitality
                        (07-20)</td>
                    <td>Informational</td>
                    <td>Any application received with face amount ranging from @250,000 - $749,999 must be submitted via John Hancock flex complete process on iPipeline 
                        iGo or our JH-e-App (ticket submissions are not eligible.</td>
                  </tr>
                </tbody>
              </table>
            <div class="modal-footer mo-footer-style">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="col-sm-1 mx-auto btn btn-success" (click)="closeDialog()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

