.col-color{
    background-color: #2E5A88;
    color:white;
    }

.message{
    width: 40%;

}

.row{
    font-weight: lighter;
}
.product{
    width:30%;
}

.message-type{
    width: 15%;
}
.table-demo{
    width: 65%;
    margin-left:auto;
    margin-right: auto;
}

.close-but{
align-self: center;
}
.th{
    height: 70px;
}

// .mo-header-style{
// width:80%;
// }

// .mo-body-style{
//     width:80%;

// }
.row-title{
    // width: 900px;
}
.modal-dialog{
    margin: 0 !important;
}
.modal-content{
  border: 0px solid #eff9ff !important;
}
::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px !important;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  .body-height{
    height: 700px !important;;
    overflow-y: scroll !important;
}