<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="body-style col-md-12 m-auto gl-invite-form">
            <ng-container *ngIf="!isUserCreated && !isPasswordResetSuccess">
                <div class="modal-head text-center mt-2">
                    <span>
                        <h4 class="gl-bold mb-3"></h4>
                    </span>
                    <span>
                        <h4 class="gl-signup-bold mb-3">
                            <ng-container *ngIf="isSignUp && !isForgetPwd && !isOTPPage">
                                Sign Up
                            </ng-container>
                            <ng-container *ngIf="!isSignUp && !isForgetPwd && !isOTPPage">
                                Login
                            </ng-container>
                            <ng-container *ngIf="isForgetPwd && !isResetPassword && !isOTPPage">
                                Forget Password
                            </ng-container>
                            <ng-container *ngIf="isForgetPwd && isResetPassword && !isOTPPage">
                                Reset Your Password
                            </ng-container>
                            <ng-container *ngIf="isOTPPage">
                                OTP Verification
                            </ng-container>
                        </h4>
                    </span>
                    <button type="button" class="btn-close btn-sm  mb-3" data-dismiss="modal" (click)="closeDialog()"
                        aria-label="Close"></button>
                </div>
                <form [formGroup]="loginSignUpForm" (keydown)="enteredSubmit($event)" (submit)="loginSubmit()"
                    autocomplete="off">
                    <ng-container *ngIf="!isOTPPage">
                        <div class="col-md-11 m-auto">
                            <div class="error-field-header text-center mt-1 mb-2"
                                *ngIf="isApiError || resStatus === 'FAILURE'">
                                <i class="bi bi-x-circle-fill"></i>
                                <ng-container *ngIf="isApiError">
                                    We're facing some technical issues. Please try again later.
                                </ng-container>
                                <ng-container *ngIf="resStatus === 'FAILURE' && resStatusCode === 'INCORRECT_PASSWORD'">
                                    Please enter your valid Credentials.
                                </ng-container>
                                <ng-container *ngIf="resStatus === 'FAILURE' && resStatusCode === 'NOT_EXISTS'">
                                    User Information Not Exists, Please <a class="sign-inup-link-text" href="#"
                                        (click)="moveToSignInUp($event, 'signup')">Click here</a> to SignUp.
                                </ng-container>
                            </div>
                            <ng-container *ngIf="isSignUp && !isForgetPwd">
                                <div class="form-floating wauto">
                                    <mat-form-field class="gl-mat-logininput" appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <input type="text" aria-label="Number" matInput id="Firstname"
                                            formControlName="firstname" [(ngModel)]="firstname">
                                    </mat-form-field>
                                    <div class="error-field"
                                        *ngIf="isSubmitDone && loginSignUpForm.get('firstname')?.hasError('required')">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                        Please enter your First Name.
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-floating wauto">
                                <mat-form-field class="gl-mat-logininput" appearance="fill">
                                    <mat-label>Email Address</mat-label>
                                    <input type="text" aria-label="email" [readonly]="isreadOnly" matInput id="email"
                                        formControlName="emailaddress" [(ngModel)]="emailaddress">
                                </mat-form-field>
                                <div class="error-field"
                                    *ngIf="(isSubmitDone && loginSignUpForm.get('emailaddress')?.hasError('required'))  || (resStatus === 'FAILURE' && resStatusCode === 'EMAILID_MANDATORY')">
                                    <i class="bi bi-exclamation-circle-fill"></i>
                                    Please enter your Email Address.
                                </div>
                                <div class="error-field"
                                    *ngIf="(isSubmitDone && loginSignUpForm.get('emailaddress')?.hasError('pattern')) || (resStatus === 'FAILURE' && resStatusCode === 'EMAILID_INVALID')">
                                    <i class="bi bi-exclamation-circle-fill"></i>
                                    Please enter a valid email address.
                                </div>
                            </div>
                            <ng-container *ngIf="isSignUp && !isForgetPwd">
                                <div class="form-floating wauto">
                                    <mat-form-field class="gl-mat-logininput" appearance="fill">
                                        <mat-label>Mobile Number</mat-label>
                                        <input type="text" aria-label="Number" maxlength="10" matInput id="Mobilenumber"
                                            formControlName="mobilenumber" [(ngModel)]="mobilenumber">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isForgetPwd || isResetPassword">
                                <div class="form-floating wauto">
                                    <mat-form-field class="gl-mat-logininput" appearance="fill">
                                        <mat-label>Password</mat-label>
                                        <input type="password" aria-label="Number" matInput id="Password"
                                            formControlName="password" [(ngModel)]="password">
                                    </mat-form-field>
                                    <div class="error-field"
                                        *ngIf="isSubmitDone && loginSignUpForm.get('password')?.hasError('required')">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                        Please enter your Password.
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="(isSignUp && !isForgetPwd) || isResetPassword">
                                <div class="form-floating wauto">
                                    <mat-form-field class="gl-mat-logininput" appearance="fill">
                                        <mat-label>Confirm Password</mat-label>
                                        <input type="password" aria-label="Number" matInput id="Confirmpassword"
                                            formControlName="confirmpassword" [(ngModel)]="confirmpassword">
                                    </mat-form-field>
                                    <div class="error-field"
                                        *ngIf="isSubmitDone && loginSignUpForm.get('confirmpassword')?.hasError('required')">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                        Please enter your Confirm Password.
                                    </div>
                                    <div class="error-field"
                                        *ngIf="isSubmitDone && loginSignUpForm.get('confirmpassword')?.hasError('mismatch')">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                        Please make sure your passwords match.
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isSignUp && !isForgetPwd">
                                <div class="mb-2 mt-2 loginfrm-mt2">
                                    <div class="form-check loginform-chk ">
                                        <label class="form-check-label">
                                            <!-- <input checked="" name="Remember Me" value="male" class="form-check-input" type="checkbox">Remember Me -->
                                        </label>
                                    </div>
                                    <a href="#" class="login-frgtpwd" (click)="moveToForgetPwd($event)">Forgot
                                        Password?</a>
                                </div>
                            </ng-container>
                            <div class="mt-4 form-floating  wauto">
                                <ng-container *ngIf="isSignUp && !isForgetPwd">
                                    <button class="btn btn-success w100" [class.spinner]="isApiCallLoading"
                                        [disabled]="isApiCallLoading">Sign Up</button>
                                </ng-container>
                                <ng-container *ngIf="!isSignUp && !isForgetPwd">
                                    <button class="btn btn-success w100" [class.spinner]="isApiCallLoading"
                                        [disabled]="isApiCallLoading">Login
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="isForgetPwd || isResetPassword">
                                    <button class="btn btn-success w100" [class.spinner]="isApiCallLoading"
                                        [disabled]="isApiCallLoading">Submit</button>
                                </ng-container>
                            </div>
                            <div class="form-floating wauto">
                                <p class="small-xl pt-3 text-center">
                                    <ng-container *ngIf="isSignUp">
                                        <span class="text-doyou-have">Do you have an account?</span>
                                        <a class="sign-inup-link-text" href="#"
                                            (click)="moveToSignInUp($event, 'signin')">
                                            Sign
                                            in</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isSignUp || isForgetPwd">
                                        <span class="text-doyou-have">Don't have an account?</span>
                                        <a class="sign-inup-link-text" href="#"
                                            (click)="moveToSignInUp($event, 'signup')">
                                            Sign
                                            up</a>
                                    </ng-container>
                                </p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isOTPPage">
                        <div class="col-md-11 m-auto gl-invite-form">
                            <div class="text-center mt-2 mb-4">
                                <!-- <h4 class="gl-bold mt-1 mb-3">OTP Verification</h4> -->
                                <img class="mb-3" src="../../assets/images/gl-lock.svg" alt="gl-lock">
                                <h6 class="text-center mt-1 mb-3">A One-Time Password has been sent to
                                    <b>{{emailaddress}}</b>.
                                </h6>
                            </div>
                            <div class="mt-4 col-md-11 m-auto">
                                <div style="margin: 2.5rem;">
                                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)">
                                    </ngx-otp-input>
                                </div>
                                <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isOtpNotFilled">
                                    <i class="bi bi-exclamation-circle-fill"></i> Please enter all the fields to verify.
                                </div>
                                <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isOTPVerifyFailed">
                                    <i class="bi bi-exclamation-circle-fill"></i> Please enter a valid One Time Password
                                </div>
                                <div class="success-field-subheader text-center mt-4 mb-3" *ngIf="isResendOTP">
                                    <i class="bi bi-check-circle-fill"></i> OTP sent successfully.
                                </div>
                                <div class="error-field-subheader text-center mt-4 mb-3" *ngIf="isResendOTPFailed">
                                    <i class="bi bi-exclamation-circle-fill"></i> Unable to send OTP. Please try again
                                    later.
                                </div>
                                <div class="text-center mt-4 mb-4">
                                    <button class="btn btn-success mw150" [class.spinner]="isApiCallLoading"
                                        [disabled]="isApiCallLoading" (click)="validateOTP()">Submit</button>
                                    <div class="mt-3">
                                        <a class="btn-link pointer" (click)="resendOTP()">Resend Code</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </ng-container>

            <ng-container *ngIf="isUserCreated || isPasswordResetSuccess">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close btn-sm" data-dismiss="modal" (click)="closeDialog()"
                        aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-md-12 m-auto">
                        <div class="successimg-pop"><img src="../../assets/images/Success.svg">
                        </div>
                        <div class="mb-4 text-center">
                            <span class="gl-title successpop-title">Awesome!</span>
                            <div class="gl-successdisc-item">
                                <p *ngIf="isUserCreated">Congratulations, your account has been
                                    successfully created. Please Login to continue.</p>
                                <p *ngIf="isPasswordResetSuccess">Your password has been reset
                                    successfully. Please Login to continue.</p>
                            </div>
                            <div class="popup-footer border-0 justify-content-center d-flex">
                                <div><button class="btn btn-success mw400"
                                        (click)="moveToSignInUp($event, 'signin')">Login</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>