::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed; 
  z-index: 9999 !important;
}
:host ::ng-deep .mat-dialog-container {
  display: block;
  padding: 0px;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
  .modal-dialog{
      margin: 0 !important;
  }
  .modal-content{
    border: 0px solid #eff9ff !important;
  }

  
  .gl-invite-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
  }

  .text-doyou-have{
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.86;
    color: #3c464e;
  }

  .sign-inup-link-text{
    color: #0097e6;
    cursor: pointer;
    font-family: 'Manrope-Regular';
    font-size: 13px;
    line-height: 1.86;
  }

  .body-style{
    width: 500px;
  }

  .gl-signup-bold{
    font-family: 'Manrope-Bold';
    font-size: 20px;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #0097e6;
  }

  
.loginfrm-mt2
{
  justify-content: space-between;
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-head{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.gl-mat-logininput {
  width: 100%;
}
::ng-deep .gl-mat-logininput.mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #164380;
  }
  .mat-form-field-ripple {
      background-color: #164380;
      font-size: 16px !important;
      font-family: "Manrope-Semibold" !important;
  }
  .mat-form-field-required-marker {
      color: #f44336;
  }
  .mat-input-element {
      color: #164380;
  }
}
::ng-deep .gl-mat-logininput.mat-form-field .mat-form-field-wrapper {
  padding-top: 1.34375em;
  padding-bottom: 0 !important;
}
::ng-deep .gl-mat-logininput.mat-form-field {
  .mat-input-element {
      color: #164380;
  }
  .mat-form-field-label {
      color: #164380;
      font-size: 14px !important;
      font-family: "Manrope-Semibold" !important;
  }
  .mat-form-field-underline {
      background-color: #164380;
  }
  .mat-form-field-ripple {
      background-color: #164380;
  }
  .mat-form-field-required-marker {
      color: #f44336;
  }
}


::ng-deep .mat-form-field-underline {
  display: none;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}


.error-field-header{
  font-family: 'Manrope-SemiBold';
  font-size: 14px;
  line-height: 1.4;
  color: red !important;
}


.successimg-pop img
{
  width: 25%;

}
.successimg-pop
{
  padding: 20px;
  text-align: center;
}
.successpop-title
{
    font-size: 28px;
    font-family: var(--font-semibold);
    border: none;
}
 .gl-successdisc-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: 15px;
    font-family: 'Manrope-Regular';
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
}

.mw400
{
  width: 280px;
}

.modal-header{
  padding: 0 !important;
  border: 0 !important;
}