<header>
    <div class="menu-bar" (click)="SideNavToggle()">
        <img src="../../assets/images/menu bar icons/menu.png">
       </div> 
    <figure class="logo">
      <img src="../../assets/images/gondola-life.png">
    </figure>
    <div class="profile">
      <a class="ico-notification alert" gl-title="Notification"></a>
      <div class="gl-myacc ddown">
        <a class="act-user">
          <img src="../../assets/images/user_logo.png">
        </a>
        <span>Mike Ross</span>
         
         <div class="ico-angle-down btm rht">
        </div>
      </div>
    </div>
  </header>