header {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 49px;
    padding: 0 25px 0px 0px;
    background-color: var(--white);
    -webkit-box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 12px 3px rgb(0 0 0 / 8%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.ico-notification {
    cursor: pointer;
    font-size: 20px;
    color: var(--reg-color);
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-transition: all ease-in 0.35s;
    transition: all ease-in 0.35s;
}
.logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo img {
    width: 167px;
    margin-left: 20px;
}
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 32px;
    border-radius: 10px;
    padding: 16px;
    overflow: auto;
  }
  main{
    position: absolute;
    width:100%;
    top: 4rem;
    z-index: 1;
}

.logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  

  
 
  .menu-bar
  {
      color: white;
      width: 48px;
      height: 49px;
      background-color: #12396e;
      padding: 12px 11px;
  }
  
  .ico-menu {
      cursor: pointer;
      font-size: 20px;
      color: #fff;
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
    }
    .ico-menu:before {
      content: "\e905";
    }
  
  .act-user {
      width: 35px;
      height: 35px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid var(--ico-bg);
      border-radius: 50%;
      background-color: var(--ico-bg);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
  }

  
  img {
      max-width: 100%;
  }
  .circle-icon, .circle-icon-1,  .circle-icon-2,  .circle-icon-3 {
    
      width: 64px;
      height: 64px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      padding: 17px;
      margin: 19px -6px 3px 87px;
  }

  menu-bar-icon{
      color: #eef9ff;
      height: 15px;
  }
  
 