.modal-dialog{
    margin: 0 !important;
}
.modal-content{
  border: 0px solid #eff9ff !important;
}
.buttons-2{ 
    float: right;
}
.col-color {
    background-color: #164380;
    color: white;
}

.colWidth {
    width: 23% !important;

}

.colWidth-1 {
    width: 28% !important;

}

.div.modal-header.mo-header-style {
    padding: 5px;
}

.row {
    font-weight: lighter;
}

.table-demo {
    // width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.close-but {
    align-self: center;
}

::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px !important;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }

::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px !important;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;

}


.modal-title {
    font-family: "Manrope-Semibold";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #3c464e;
}

.text {
    font-size: 15px;
    font-weight: bold;
    color: #00137c;
}

.para-1 {
    display: block;
    font-size: 15px;
    font-weight: 580;
    line-height: 1.5;
    text-align:left;
}

.buttons {
    padding: 5px;
    margin-left: 14%;
}

.titlexbutton {
    display: inline-block;
}
.body-height{
    height: 700px !important;;
    overflow-y: scroll !important;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: #55aa55;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55aa55;
    border-radius: 10px;
  }

  
  .modalpopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    outline: 0;
}

.popup-body-tag, .popup-footer-tag {
    padding: 1rem 1.5rem;
}

.popup-header-tag {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.popup-body-tag {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    height: 670px;
}

.popup-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.popup-title {
    font-family: var(--font-semibold);
}
.popup-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.popupform-label {
    margin-bottom: 0.5rem;
}
.alertpopup {
    padding: 0.5rem 1rem !important;
}
.alert-primary-popup {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}
.alertpopup {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.popupform-control
{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
  .modal-contentpopup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.footer-title
{
    font-family: "Manrope-Bold";
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #164380;
}
.footer-text-ul {
    font-family: "Manrope-Regular";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #3c464e;
}
.popup-title-tag {
    font-family: var(--font-semibold);
}
.popup-title-tag {
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 14rem;
}

.modal.show .modal-dialogpopup {
    transform: none;
}
.modal.fade .modal-dialogpopup {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}
@media (min-width: 360px) and (max-width: 844px){
.modal-dialogpopup {
    max-width: 616px;
    margin: 1.75rem auto;
}
.popup-title-tag
{
 margin-left:0;
}

:root {
    --bs-body-font-size: 0.5rem;
}
.modal-contentpopup
{
  width: 55rem;
}
}

@media (min-width: 900px){
.modal-dialogpopup {
    max-width: 1200px;
    margin: 1.75rem auto;
}
.popup-title-tag
{
 margin-left:14rem;
}
}
.modal-dialogpopup {
    position: relative;
    width: auto;
    margin-top: 5.5rem;
    pointer-events: none;
}
.mt-table-2 {
    margin-top: 2.5rem !important;
}

.table-calculator
{
  background-color: #164380;
  color: #fff;
 --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle !important;
    border-color: #fff;
    padding-left: 2px;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
.table_row td
{
  padding-left: 15px;
}