<div id="modal-body-content" class="modal-dialog modal-xl">
    <div class="popup-header-tag">
        <header>
            <div class="container">
                <figure class="gl-logo">
                    <a class="navbar-brand"><img alt="" src="../../assets/images/gondola-life.png"></a>
                </figure>
            </div>
        </header>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
    </div>
    <div class="popup-body-tag">
        <div class="row">
            <div class="col-md-12 m-auto">
                <div>
                    <h5 class="popup-title-tag text-center">
                        <a>Human Life Economic Value</a>
                        <!-- <button class="btn btn-success mw150" style="float: right;margin-left: 10px;"><span
                                    class="bi-download"> Download</span></button> -->
                        <button class="btn btn-success float-end " [useExistingCss]="true" printTitle="Calculator Info"
                            printSectionId="modal-body-content" ngxPrint><span class="bi-printer">
                                Print
                            </span>
                        </button>
                    </h5>
                </div>

                <div class="mt-table-2">
                    <table class="table table-bordered">
                        <thead class="table-calculator">
                            <tr class="table_row">
                                <td>
                                    Age
                                </td>
                                <td>
                                    Annual Income
                                </td>
                                <td>
                                    Personal <br>
                                    Maintenance Cost
                                </td>
                                <td>
                                    Fringe Benefit <br>
                                    Value
                                </td>
                                <td>
                                    Service Replacement<br>
                                    Costs
                                </td>
                                <td>
                                    Annual Family <br>
                                    Support
                                </td>
                                <td>
                                    Present Value <br>
                                    of Support
                                </td>
                                <td>
                                    Cumulative <br>
                                    Economic Value
                                </td>
                                <td>
                                    Year
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let val of calcValuesList">
                                <tr class="table_row">
                                    <td>{{val.age}}</td>
                                    <td>${{val.income}}</td>
                                    <td>${{val.personalMaintance}}</td>
                                    <td>${{val.fringeBenefits}}</td>
                                    <td>${{val.serviceReplacement}}</td>
                                    <td>${{val.annualSupport}}</td>
                                    <td>${{val.presentVal}}</td>
                                    <td>${{val.cummulativeVal}}</td>
                                    <td>{{val.year}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="footer-text">
                    <div>

                        <p class="footer-title">Gondola.Life Documentation Proof Disclaimer</p>
                    </div>
                    <ul style="list-style-type:square footer-text-ul">
                        <div>
                            <li>These calculators are provided to illustrate financial principles. They should
                                not be construed as a solicitation of any insurance, investment, or other
                                financial product. Nor should they be considered financial advice. For advice
                                concerning your own situation, please consult with a financial professional who
                                is appropriately licensed to transact business and provide advice for the
                                financial product being illustrated.</li>
                        </div>
                    </ul>
                </div>
                <ul style="list-style-type:square footer-text-ul">
                    <div>
                        <li>The information contained in this tool is not intended as tax or legal advice, and
                            it may not be relied on for the purposes of avoiding any federal tax penalties. You
                            are encouraged to seek tax or legal advice from an independent professional tax or
                            legal advisor.<br>
                        </li>
                    </div>
                </ul>

                <ul style="list-style-type:square footer-text-ul">
                    <div>
                        <li>The projections or other information generated by the calculator regarding the
                            likelihood of various outcomes are hypothetical in nature and are not guarantees of
                            future results. Investment rates of return cannot be guaranteed. This report is
                            calculated using information supplied by you, the client. If any of this information
                            is inaccurate, it would create inaccuracies in the report.</li>
                    </div>

                </ul>

            </div>
        </div>
    </div>
</div>