app-admin-dashboard{
    position: fixed;
    width:100%;
    top:0px;
    height: 4rem;
    z-index:2;
}
main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}

app-side-nav{
    position: absolute;
    left: 0rem;
    width: 48px;

    height: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #164380;
    border-top: 1px solid white;
    top: -16px;
    overflow-x: hidden;
    white-space: nowrap;
}

.display-area {
        position: absolute;
        left: 60px;
        width: calc(100% - 250px);
}

.app-side-nav-open{
    width: 200px;
    height: 1000px;
}

.display-area-shrink{
    width: calc(100% - 250px);
    left: 205px;
}





mat-toolbar {
    background-color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 32px;
    border-radius: 10px;
    padding: 16px;
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .navbar-brand img {
      width: 230px;
      margin-left: -54px;
  }
  
  .items-list {
      width: 20px;
      height: 16px;
      margin: 0 16px -41px -29px;
  }
  
  .lines-strecth-1 {
      width: 50px;
      height: 57px;
      margin: 1px 16px -12px -117px;
  }
  
  .Rectangle-20033 {
      width: 1366px;
      height: 65px;
      padding: 0 45px 0 0;
      box-shadow: 0 3px 6px 0 rgba(25, 32, 36, 0.16);
      background-color: #fff;
  }
  
  .Rectangle-20995 {
      width: 194px;
      height: 972px;
      margin: 65px 20px 0 0;
      padding: 40px 32px 439px 22px;
      box-shadow: 0 3px 6px 0 rgba(25, 32, 36, 0.16);
      background-color: var(--light-navy);
  }
  
  .background-box {
      width: 194px;
      height: 972px;
      margin: -19px 20px 0 0;
      padding: 5px 32px 439px 22px;
      box-shadow: 0 3px 6px 0 rgba(25, 32, 36, 0.16);
      background-color: #164380;
      color: white;
  }
  
  .Rectangle-20996 {
      width: 1134px;
      height: 629px;
      margin: 17px 18px 20px 20px;
      padding: 17px 24px 32px 15px;
      border-radius: 6px;
      background-color: rgb(18, 5, 5);
  }
  
  .marg-top {
    margin-top: 67px;
  }
  
  .dash-1 {
      margin-top: -38px;
      font-size: 10px;
      margin-left: -41px;
  }
  
  .dash-2 {
      margin-top: -34px;
      font-size: 9px;
      margin-left: -30px;
  }
  
  .Rectangle-20996 {
      width: 1116px;
      height: 564px;
      margin: 17px 18px 20px -33px;
      padding: 17px 24px 32px 15px;
      box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
      border-radius: 6px;
      background-color: white;
  }
  
  .dashboard-title {
      width: 82px;
      height: 21px;
      margin: 0 212px 21px 0;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: #333946;
  }
  
  .row-height {
      height: 110px;
  }
  
  .dash-images {
      padding: 5px;
      float: left;
      margin: 5px -10px -0px 42px;
      width: 40px;
  }
  
  .dash-info {
      margin: 18px 0px 0px -31px;
      padding: 30px;
  }
  
  .gl-howto-item {
      flex-direction: row;
      gap: 20px;
      box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
      width: 225px;
      ;
      height: 110px;
      margin: -12px 34px 21px 9px;
      padding: 20px 105px 34px 18px;
      border-radius: 5px;
      border: solid 1px #e6e6e6;
      background-color: #fff;
  }
  
  .dash-num {
      width: 68px;
      height: 41px;
      margin: 46px 20px 0px -8px;
      font-family: Manrope;
      font-size: 31px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.77;
      letter-spacing: normal;
      text-align: left;
      color: #333946;
  }
  
  .dash-desc {
      height: 49px;
      margin: 3px -57px 0px -5px;
      font-family: Manrope;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #afafaf;
  }
  .chart-title {
      margin: 0px 410px 0px 0px;
      padding: 5px;
      width: 82px;
      height: 21px;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: #333946;
  }
  
  .img-1 {
      width: 500px;
      height: 340px;
      margin: 17px 20px 0 0;
      padding: 6px 7.9px 14px 4px;
      background-color: #fff;
  }
  
  .img-2 {
      width: 390.9px;
      height: 231.6px;
      margin: -46px 0.9px 0.1px 40.1px;
      padding: 0 0 0px 0.1px;
      border: solid 1px #fff;
  }
  
  .Rectangle-20997 {
      width: 719px;
      height: 260px;
      margin: 0px 0px 0px -20px;
      padding: 15px 13px 20.6px 12.7px;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
  }
  
  .title-1 {
      width: 76px;
      height: 21px;
      margin: 0 115px 24.4px 0.3px;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: #333946;
  }
  
  .table-size {
      height: 18px;
      margin: 22.4px 120px 10.5px 13px;
      font-family: Manrope;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #6c6c6c;
  }
  
  .Rectangle-20998 {
      width: 366px;
      height: 260px;
      margin: -248px 736px 0px;
      padding: 15px 55.3px 12.8px 15px;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
  }
  
  .donut-chart {
      width: 255.3px;
      height: 205.7px;
      margin: 5.6px 0 0 40.4px;
      padding: 0 0 0px;
  }
  
  .third-column {
      width: 226px;
      margin: 15px -330px 2px 82px;
  }
  .menu-bar
  {
      color: white;
      width: 48px;
      height: 49px;
      background-color: #12396e;
      padding: 12px 11px;
  }
  
  .ico-menu {
      cursor: pointer;
      font-size: 20px;
      color: #fff;
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
    }
    .ico-menu:before {
      content: "\e905";
    }
  
    .logo {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  header .profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: auto;
      gap: 10px;
  }
  .act-user {
      width: 35px;
      height: 35px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid var(--ico-bg);
      border-radius: 50%;
      background-color: var(--ico-bg);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
  }
  .ico-angle-down.btm {
      top: 100%;
  }
  .ico-angle-down.lg {
      width: 320px;
  }
  .ico-angle-down {
      border-radius: 10px;
      -webkit-box-shadow: var(--pop-shd);
      box-shadow: var(--pop-shd);
      background-color: var(--white);
      opacity: 1;
      pointer-events: none;
      font-weight: normal;
      font-size: 14px;
  }
  header {
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 49px;
      padding: 0 25px 0px 0px;
      background-color: var(--white);
      -webkit-box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
      box-shadow: 0px 0px 12px 3px rgb(0 0 0 / 8%);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
  }
  .ico-notification {
      cursor: pointer;
      font-size: 20px;
      color: var(--reg-color);
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      -webkit-transition: all ease-in 0.35s;
      transition: all ease-in 0.35s;
  }
  .logo {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .logo img {
      width: 167px;
      margin-left: 20px;
  }
  
  img {
      max-width: 100%;
  }
  .circle-icon, .circle-icon-1,  .circle-icon-2,  .circle-icon-3 {
    
      width: 64px;
      height: 64px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      padding: 17px;
      margin: 19px -6px 3px 87px;
  }
  .circle-icon{
      background: #eef9ff
  }
  .circle-icon-1{
      background:  #ebffe4;
  }
  .circle-icon-2{
      background:  #fff9eb;
  }
  .circle-icon-3{
      background:  #f8ecff;
  }
  menu-bar-icon{
      color: #eef9ff;
      height: 15px;
  }
  
  main{
      position: absolute;
      width:100%;
      top: 4rem;
      z-index: 1;
  }
  