<app-admin-dashboard (sideNavToggled)="sideNavStatus = $event;"></app-admin-dashboard>
<main>
<app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-side-nav>
<div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
    <div class="col-10">
        <ul style="list-style-type:none;">
            <img class="dash-1" src="../../assets/images/dashboard/dashboard - 1.png">
            <li class="dash-2">Dashboard</li>
        </ul>
        <div class="container">
            <div class="Rectangle-20996">
                <div class="dashboard-title">Dashboard</div>
                <div class="row row-height">
                    <div class="col-lg-2 gl-howto-item ">
                        <img class="dash-images circle-icon" src="../../assets/images/dashboard/user.png">
                        <div class="dash-info ">
                            <div class="dash-num">1546</div>
                            <div class="dash-desc">Total Users</div>
                        </div>
                    </div>
                    <div class="col-lg-2 gl-howto-item ">
                        <img class="dash-images circle-icon-1" src="../../assets/images/dashboard/beta users - 1.png">
                        <div class="dash-info ">
                            <div class="dash-num">1280</div>
                            <div class="dash-desc">Beta Registered Users</div>
                        </div>
                    </div>
                    <div class="col-lg-2 gl-howto-item ">
                        <img class="dash-images circle-icon-2" src="../../assets/images/dashboard/admin.png">
                        <div class="dash-info ">
                            <div class="dash-num">5</div>
                            <div class="dash-desc">Admins</div>
                        </div>
                    </div>
                    <div class="col-lg-2 gl-howto-item ">

                        <img class="dash-images circle-icon-3" src="../../assets/images/dashboard/carrier list.png">
                        <div class="dash-info ">
                            <div class="dash-num">54</div>
                            <div class="dash-desc">Carrier</div>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="chart-title">Daily Visitors</span>
                    <span class="chart-title">Registered Users</span>
                    <img class="img-1" src="../../assets/images/dashboard/line chart.png">
                    <img class="img-2" src="../../assets/images/dashboard/map.png">
                </div>
            </div>
        </div>
        <div class=" Rectangle-20997">
            <div class="title-1">Users List</div>
            <table class="table table-size">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngFor="let val of betaUserList">
                        <tr class="table_row">
                            <td>{{val.id}}</td>
                            <td>{{val.username}}</td>
                            <td>{{val.emailaddress}}</td>
                            <td>{{val.phonenumber}}</td>
                            <td>{{val.ipaddress}}</td>  
                        </tr>
                    </ng-container> -->
                    <tr>
                        <td>James</td>
                        <td>k.james02@gmail.com</td>
                        <td>+1(202)-555-0106</td>
                        <td>77.33.77.162</td>
                    </tr>
                    <tr>
                        <td>James</td>
                        <td>k.james02@gmail.com</td>
                        <td>+1(202)-555-0106</td>
                        <td>77.33.77.162</td>
                    </tr>
                    <tr>
                        <td>James</td>
                        <td>k.james02@gmail.com</td>
                        <td>+1(202)-555-0106</td>
                        <td>77.33.77.162</td>
                    </tr>
                    <tr>
                        <td>James</td>
                        <td>k.james02@gmail.com</td>
                        <td>+1(202)-555-0106</td>
                        <td>77.33.77.162</td>
                    </tr> 
                </tbody>
            </table>
            <div class="Rectangle-20998 title-1">User Type
                <img class="donut-chart" src="../../assets/images/dashboard/donut chart.png">
            </div>
        </div>
    </div>
    </div>
    


</main>