
:host ::ng-deep .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  .modal-dialog{
      margin: 0 !important;
  }
  .modal-content{
    border: 0px solid #eff9ff !important;
  }