<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close btn-sm" data-dismiss="modal" (click)="closeDialog()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="mb-4">
                        <img class="img-fluid" src="../../assets/images/warning.svg">
                    </div>
                    <h5>Invalid Inputs!</h5>
                    <ng-container *ngFor="let error of errorList">
                        <ng-container *ngIf="error === 'amount'">
                            <p class="text-justify"><b class="gl-blue">Amount of Protection </b>- For a better selection of plans, please search for $100,000
                                or
                                more.</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'years'">
                            <p class="text-justify"><b class="gl-blue">Years of Protection </b>- For a better selection of plans, please search for 10 or
                                more years of protection.</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'age'">
                            <p class="text-justify"><b class="gl-blue">Age </b>- For a better selection of plans, please search for plans between ages 18-80,
                                or have an experienced Gondola attendant help find the best plan for you.</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'state'">
                            <p class="text-justify"><b class="gl-blue">State </b>- Please select/enter a valid State</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'income'">
                            <p class="text-justify"><b class="gl-blue">Income </b>- For a better selection of plans, please enter an income of $25,000 or
                                more.</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'estretireage'">
                            <p class="text-justify"><b class="gl-blue">Retirement Age </b>- For a better selection of plans, please enter an Est. Retirement Age
                                older than your current Age, or select the Retired radial button.</p>
                        </ng-container>
                        <ng-container *ngIf="error === 'estassets'">
                            <p class="text-justify"><b class="gl-blue">Net Worth </b>- For a better selection of plans, please enter a net worth of $100,000 or more.</p>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
            <button class="btn btn-success mw150" (click)="closeDialog()">Back</button>
        </div>
    </div>
</div>