.gl-this-is-us-title {
    font-family: "Dancing-Script-Bold";
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.37;
    letter-spacing: normal;
    color: #0097e6;
}

.gl-this-is-us-content {
    font-family: "Manrope-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.1px;
    text-align: left;
    color: #272727;
}

.gl-quote {
    background-color: #f3fbff;
    position: relative;
    z-index: 1;
}

.gl-quote::before {
    content: "";
    background: url(../../../assets/images/Quote.svg) no-repeat right;
    position: absolute;
    right: 289px;
    width: 95px;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-size: contain;
    bottom: 100px;
}

.gl-quote-info > p {
    font-family: "Manrope-Regular";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: 0.09px;
    text-align: center;
    color: #272727;
}
.gl-quote-info > p > span {
    font-family: "Manrope-Semibold";
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.12px;
    text-align: center;
    color: #272727;
}
.gl-unique-bullet-list{
    font-family: "Manrope-Regular";
    font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.1px;
  text-align: left;
  color: #272727;
}
.gl-thisisus-center{
    text-align: center;
}