<header>
    <app-navbar-header></app-navbar-header>
</header>
<section class="container">
    <div class="row mb-sm-3 mb-md-5 mb-lg-5 pt-5">
        <div class="mt-5 pt-5">
            <div class="gl-howto">
                <div class="row">
                    <div class="col-md-7">
                        <div class="gl-head">
                            <span class="gl-this-is-us-title">This is Us</span>
                        </div>
                        <div class="gl-this-is-us-content">
                            <p>The inspiration for Gondola Life came during the pandemic, when Brian & <br>Kevin Dumont
                                (brothers) realized that their clients were suddenly<br> relying on websites to find
                                insurance solutions but sites left the burden <br> of researching options completely up
                                to the clients. Therefore, to <br> compare options required hours of research. You had
                                to look through <br> many sites with no standards to compare information, making it <br>
                                practically impossible for consumers or professionals to research on <br> their own.</p>
                            <div class="flex-shrink-0 d-flex align-items-center">
                                <div class="col-md-12">
                                    <ng-container *ngIf="!isreadMore">
                                        <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                            More</button>
                                    </ng-container>
                                    <ng-container *ngIf="isreadMore">
                                        <button class="btn btn-primary btn-success gl-shwmore" (click)="readMore()">Read
                                            Less</button>
                                    </ng-container>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../assets/images/Author.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-container *ngIf="isreadMore">
    <section class="container-fluid mt-5 pt-5 pb-5 gl-quote">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="gl-quote-list">
                    <div class="gl-quote-info">
                        <p><span>“What if we created an aggregation site to do the comparisons for you? And then, <br>
                                what
                                if we made it easy to apply and receive service all from the same site?”</span></p>
                        <p>In short, Brian & Kevin believe that the time has come for the insurance
                            industry to be as transparent <br>as other sectors and with that a mission was born.</p>
                        <p><span>“Make searching for, obtaining and maintaining insurance (beginning with life
                                <br>insurance) as easy as it possibly can be.”</span></p>
                    </div>
                </div>

            </div>

        </div>

    </section>
    </ng-container>
    <section class="container">
        <div class="gl-unique pt-5 pb-5">
            <div  id="dvscrollReadMore" #dvscrollReadMore class="row">
                <div  *ngIf="isreadMore" class="gl-unique-bullet-list">
                    <div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>
                                    Until Gondola Life, finding life insurance was very time consuming and even if you
                                    invested time to shop & compare,there was still no real way of being sure you were
                                    actually being offered the best protection. That’s because some sites advertise that
                                    they have the lowest price but don’t give you any way to compare other quotes. Other
                                    sites claim they offer lots of coverage but again, they don’t offer a way to
                                    compare.
                                    Still other sites advertise an easy online application, no medical exam and speed to
                                    coverage but don’t tell you they will only insure the top 15% of healthiest people.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>Now, however, enter Gondola Life and, at last, one site examines all of the above
                                    mentioned issues and makes them completely transparent to you. When you run a quote
                                    on
                                    gondola.life, our filters show you a quote based on health rating, speed to
                                    protection,
                                    additional benefits, and so on. Finally, one site – gondola.life - gives you the
                                    first,
                                    true, life insurance marketplace.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>As an insurance marketplace or search engine, Gondola prides itself in being
                                    independent
                                    and transparent. Independent because we are not owned by an insurance company that
                                    wants
                                    to push it’s products. Transparent because, unlike other sites, we offer the largest
                                    selection of products, including those from A++ rated carriers. Therefore, we are
                                    able
                                    to give unbiased and uncompromised advice.</li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>Regardless of whether you are looking for the lowest price, the most coverage, no
                                    medical exam, same day coverage, or ease and speed, we offer a comprehensive
                                    solution
                                    for you. We’re confident we can do this for you because we have done the shopping
                                    for
                                    you, with quotes from over 30 carriers and hundreds of policies to arrive at
                                    Gondola’s
                                    Pick for your unique situation.</li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>
                                    Historically, the Dumont family has been meeting life insurance needs since 1968,
                                    when
                                    Arthur (Brian & Kevin’s father) began his career. Brian & Kevin grew up in a “life
                                    insurance” family, learning the value of protecting financial futures, including
                                    yours.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:square;">
                                <li>
                                    Today, with Gondola Life’s unique offering along with our time-tested values of
                                    independence, service and transparency, the Dumont family continues as a pioneer
                                    among
                                    virtual insurance marketplaces, bringing creative solutions to meet your unique
                                    protection and planning needs quickly and efficiently.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                Welcome to the Gondola Life family!
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="container mb-4">
    <div class="gl-thisisus-center">
        <div>
            <button class="btn btn-primary btn-success gl-shwmore" (click)="navigateToHome()">Get Quote Now</button>
        </div>

    </div>
</section>
<app-footer-section></app-footer-section>
<ng-template #mobilePop>
    <div class="gl-healthrate">
        <span><i class="bi bi-telephone-fill"></i> +1-(305)-390-4077</span>
    </div>
</ng-template>