<footer class="gl-foobg">
    <div class="container pt-5 pt-sm-5 pt-md-5 pt-lg-5 pb-5 pb-sm-5 pb-md-5 pb-lg-5">
        <div class="gl-foowrap row">
            <div class="col-md-10 mb-5">
                <div class="gl-foologo-content"><a href="{{ gondolaService.appURL }}">Gondola.Life</a></div>
                <!-- <div class="gl-foologo"><img src="../../assets/images/gondola-life-flogo.png" width="180"></div> -->
                <div class="gl-foologo-subcontent">Gondola Life® is a service mark of Gondola InsurTech Corp. </div>
            </div>
            <div class="col-md-2">
                <label class="gl-foologo-label">Follow us on</label>
                <ul class="gl-foosocial">
                    <li><a class="bi bi-facebook"></a></li>
                    <li><a class="bi bi-twitter"></a></li>
                    <li><a class="bi bi-instagram"></a></li>
                    <li><a class="bi bi-youtube"></a></li>
                </ul>
            </div>
        </div>
        <div class="gl-copyrights mt-sm-5 mt-md-5 mt-lg-5 pt-sm-5 pt-md-5 pt-lg-5 pb-sm-3 pb-lg-3 row">
            <div class="col-md-12">© Copyright {{getCurrentYear}} Gondola Life® of Gondola InsurTech Corp. All rights reserved.</div>
        </div>
    </div>
</footer>