.gl-foologo-content{
    font-family: "Bauhaus-Regular";
    font-size: 38px !important;
    text-align: left;
    color: #fff !important;
    text-decoration: none !important;
    cursor: pointer;
}   
.gl-foologo-content a {
    color: #fff !important;
    text-decoration: none !important;
}
.gl-foologo-subcontent{
    font-family: "Manrope-Semibold";
    font-size: 12px !important;
    color: #fff;
}
.gl-foologo-label{
    font-family: "Manrope-Semibold";
    font-size: 16px !important;
    color: #fff;
}